<div class="eventtypeWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 iconTopic">
        <span>RACING
          <img src="https://atkmedia.allticket.com/assets/images/racing.png">
        </span>
      </div>
    </div>
    <div class="row cpt20" id="CONTENT_MOTOR">
      <div class="col-md-6 col-sm-6 col-lg-3 card align-items-center align-items-lg-stretch cardwrapper">
        <div class="cardbox" ev-id="EV_17439" skip-info="N">
          <div class="card-overlay" title="FIM SUPERBIKE WORLD CHAMPIONSHIP 2018">
            <img src="https://atkmedia.allticket.com/assets/images/cursor.png">
          </div>
          <img class="card-img-top imgResponsive" src="https://atkmedia.allticket.com/assets/content/17439/SBK17439290120181017ticketCard.jpg"
            alt="Card image cap">
          <div class="card-buyTicket">
            <a href="#">
              <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
              <span>BUY TICKET</span>
            </a>
          </div>
          <div class="row cardfooter">
            <div class="col-5 eventDate text-overflow">
              <span class="textblack">24-25
                <br>MAR/2018</span>
              <br>
            </div>
            <div class="col-7 align-self-center eventName text-overflow px-1">
              <div class="my-1 text-overflow">World Superbike Championship 2018</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3 card align-items-center align-items-lg-stretch cardwrapper">
        <div class="cardbox" ev-id="EV_18022" skip-info="N">
          <div class="card-overlay" title="PTT THAILAND GRAND PRIX 2018  ">
            <img src="https://atkmedia.allticket.com/assets/images/cursor.png">
          </div>
          <img class="card-img-top imgResponsive" src="https://atkmedia.allticket.com/assets/content/18022/PTT18022180120181735ticketCard.jpg"
            alt="Card image cap">
          <div class="card-buyTicket">
            <a href="#">
              <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
              <span>BUY TICKET</span>
            </a>
          </div>
          <div class="row cardfooter">
            <div class="col-5 eventDate text-overflow">
              <span class="textblack">5-7
                <br>OCT/2018</span>
              <br>
            </div>
            <div class="col-7 align-self-center eventName text-overflow px-1">
              <div class="my-1 text-overflow">PTT THAILAND GRAND PRIX 2018</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
