<div class="eventtypeWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 iconTopic">
        <span>RACING
          <img src="https://atkmedia.allticket.com/assets/images/racing.png">
        </span>
      </div>
    </div>
    <div class="row cpt20">
      <div align="center" style="width:100%">
        <img class="img-commingsoon" style="max-height:70px;" src="https://atkmedia.allticket.com/assets/images/allticket-comming-soon-btn.png">
      </div>
    </div>
  </div>
</div>
