.t-underline {
  border-bottom: 2px solid #F8A422;
}

.b-r-12 {
  border-radius: 12px
}

.b-2px-grey {
  border: 2px solid #ced4da;
}

.p-v10-h5 {
  padding: 5px 10px;
}

.p-v0-h10 {
  padding: 10px 0px;
}

.p-l-60 {
  padding-left: 60px;
}

.bg-cream {
  background-color: #e3cb81;
}

.bg-grey {
  background-color: #666666;
}

.container {
  position: relative;
}

.container.spinner-loading{
  min-height: 500px;
}

.spinner-loading:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #077eff;
  border-bottom-color: #077eff;
  z-index: 2;
  animation: spinner 0.9s ease infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.calendarWrapper {
  width: 60%;
}

.custom-radio .custom-control-label::before,
.custom-radio .custom-control-label::after {
  margin-left: 45px;
  margin-top: 10px;
}

.custom-control-label {
  padding-top: 10px;
  padding-bottom: 10px
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: #F8A422;
}

.custom-control-input:checked~.custom-control-label {
  background-color: #048bc1;
  color: white;
}

.m-imagemap {
  margin: 0 auto;
  width: 100% !important;
  height: auto;
}

.imagemap__item {
  height: auto;
}


#chooseZone,
#chooseNonSeat,
#chooseSeat {
  display: none;
}

#chooseZone.show, #chooseNonSeat.show, #chooseSeat.show {
  display: block !important;
}

::ng-deep .m-imagemap img {
  max-width: 100%;
  height: auto;
}

::ng-deep .fc-content {
  cursor: pointer;
  color: white;
  border: 0px;
  text-align: center;
}

.booking-border-title {
  border-bottom: 3px solid #F8A422;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 8px;
}
.nonSeatSelector {
  display: none;
  width: 85%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  background-color: rgba(202, 209, 243, 0.3);
  border-radius: 5px;
  border: 1px solid #ecec;
}

.nonSeatSelector.show {
  display: block;
}

.nonSeatSelector .zone-detail {
  margin-bottom: 1rem;
}

.nonSeatSelector .zone-desc {
  margin-left: 1rem;
  font-size: 13.5px;
}

.nonSeatSelector .zone-desc p {
  margin-bottom: 0;
}

.nonSeatSelector select.form-control , .nonSeatSelector input[type="number"].form-control {
  width: 70px;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  display: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.plusAndMinus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plusAndMinus .sign {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b4b4b4;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  width: 40px;
  font-size: 12px;
}

.plusAndMinus .sign:hover {
  background: #f6f6f6;
}

.plusAndMinus .sign:first-child {
  border-right: 1px solid #b4b4b4;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.plusAndMinus .sign:last-child {
  border-left: 1px solid #b4b4b4;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.plusAndMinus .sign.minus {
  color: #ff0000;
}

.plusAndMinus .sign.plus {
  color: #0b26f7;
}

.plusAndMinus input[type=number] {
  padding: 0 8px;
  font-size: 16px;
  height: 35px;
  text-align: center;
  max-width: 45px;
  border: 1px solid #b4b4b4;
  border-left: 0;
  border-right: 0;
}

.ticket-summary {
  background-color: #617fec;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  overflow: hidden;
  position: relative;
}

.ticket-summary > .summary-title {
  color: white;
  background-color: #617fec;
  padding: .5rem 1.5rem;
  border-color: #9897ff;
  border-bottom: 2px solid transparent;
  border-bottom-color: transparent;
  
}

.ticket-summary > .summary-body {
  background-color: white;
  border: 3px #94baf5 dotted;
  border-top: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.title-text {
  font-weight: bold;
  font-size: 17px;
}

.text-desc {
  font-size: 16px;
}

::ng-deep .fc-today.ui-state-highlight {
  border-color: #D5D5D5;
  background: #fff;
  color: #222222;
}

.summary-wrapper {
  position: relative;
  max-width: 100%;
}

@media (min-width: 425px) {
  .title-text:after {
    content: " : ";
  }

  .imagemap__item:target {
    display: block;
  }
  .imagemap__item:target>.imagemap__text {
    display: block;
  }

}

@media (min-width: 1024px) {
  .title-text,
  .text-desc {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 992px) {
  .calendarWrapper {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .title-text {
    margin-top: 0.6rem;
    letter-spacing: -0.5px;
  }
  .text-desc {
    margin-top: 0.6rem;
    font-size: 15px;
  }
}

@media screen and (max-width: 640px) {
  .nonSeatSelector {
    width: 100%;
  }

  .nonSeatSelector select.form-control {
    width: 50px;
    padding: 0 .5rem;
  }

  .nonSeatSelector .zone-desc {
    margin-left: -15px;
  }
}

@media (max-width: 576px) {
  .title-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .imagemap__item {
    width: 100% !important;
  }
  .imagemap__item {
    width: 100% !important;
  }

  .text-desc {
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    word-wrap: break-word;
  }
}