<div class="container mt-4" [ngClass]="{ 'spinner-loading' : isLoading }">
<!-- <show-loading></show-loading> -->
<h3 class="text-center pb-4 pt-2">{{event.fullName}}</h3>
  <ng-container *ngIf="event.displayType != undefined && event.displayType != null && event.displayType == 'CALENDAR'">
    <div class="booking-border-title">Select Date & Time</div>
    <div class="col-12 p-t-30 p0 d-flex justify-content-center">
      <div class="calendarWrapper ">
        <p-schedule [events]="event.event_calendar" defaultDate="{{defaulDate}}" (onEventClick)="onSelectDate($event)"></p-schedule>
      </div>
    </div>
  </ng-container>

  <div #avaDateTime *ngIf="(showSelectTime && event?.displayType == 'CALENDAR') || (showSelectTime && event?.displayType != 'CALENDAR')">
    <div class="booking-border-title">Select Time</div>
    <div>
      <div class="col-12 mt-3" *ngFor="let round of rounds; let i = index;">
        <div class="custom-radio">
          <input class="custom-control-input" id="{{i}}" name="custCardType" type="radio">
          <label class="custom-control-label col-12 p-l-60 b-2px-grey b-r-12 cursorPointer " for="{{i}}" (click)="selectDateTime(round)">{{round.roundDate | date:'fullDate' }} <span class="mx-2">|</span> {{round.startTime}} - {{round.endTime}}</label>
        </div>
      </div>
    </div>
  </div>
  <div #chooseZone class="mt-4" id="chooseZone" >
    <div class="booking-border-title" id="choose">Choose Zone</div>
    <div class="col-12">
      <div class="m-imagemap text-center mt-3" (click)="zoneLayoutClicked($event)" [innerHTML]="event.displayZoneLayout | safeHtml"></div>
    </div>
  </div>
  <div #chooseNonSeat id="chooseNonSeat" class="my-4">
    <div class="booking-border-title">Choose number of tickets</div>
    <div class="row my-4">
      
      <div class="col-12 col-md-8 offset-md-2">
        <div class="booking-wrapper">
          <div class="plusAndMinus justify-content-center">
            <div class="d-flex align-items-center mr-2">Seat amount : </div>
            <div class="sign minus" (click)="qtyBtnHandler('1','minus')">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </div>
            <input type="number" data-input-seq="1" min="0" max="100" value="1" />
            <div class="sign plus" (click)="qtyBtnHandler('1','plus')">
              <i class="fa fa-plus"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div #chooseSeat id="chooseSeat">
    <div class="booking-border-title">Choose Seat</div>
    <div class="col-12 bg-grey d-flex justify-content-center p-v0-h10 m-t-30">
      <span class="stage">STAGE</span>
    </div>
    <div class="over-x  m-t-30" align="center">
      <table>
        <tr class="d-flex" *ngFor="let index of numbersOfRow; let row = index">
          <td class="seats" type="A" *ngFor="let col of numbersOfCol; let pos = index">
            <div class="seat" *ngFor="let data of fatchRowData(row+1, pos+1);">
              <input type="checkbox" name="{{data.z}}" id="{{data.z}}" (change)="onChangeSeat(data.labelRow + data.x, $event.target.checked)"
              />
              <label class="bg-cream" for="{{data.z}}">{{data.labelRow}}{{data.x}}</label>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="nonSeatSelector mt-3" #nonSeatSelector>
    
    <h4 class="text-center">Tickets for {{displayDate}}</h4>
    <div class="zone-detail">
      <div class="row zone-title">
        <div class="col-12 col-md-5 offset-md-1 col-lg-5 align-self-md-center">
          Early Bird 1 (Day)
        </div>
        <div class="col-5 col-md-2 col-lg-2 text-right align-self-center mt-2 mt-md-0">
          1,500 ฿
        </div>
        <div class="col-7 col-md-3 col-lg-3 d-flex align-items-center justify-content-end justify-content-md-start mt-2 mt-md-0">
          <i class="fa fa-times pr-1 d-none d-md-inline-block"></i>
          <div class="plusAndMinus ml-md-3">
            <div class="sign minus" (click)="qtyBtnHandler('1','minus')">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </div>
            <input type="number" data-input-seq="1" min="0" max="100" value="0"/>
            <div class="sign plus" (click)="qtyBtnHandler('1','plus')">
              <i class="fa fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row zone-desc mt-2">
        <div class="col-12 col-md-10 offset-md-1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        </div>
      </div>
    </div>

    <div class="zone-detail">
      <div class="row zone-title">
        <div class="col-12 col-md-5 offset-md-1 col-lg-5 align-self-md-center">
          Early Bird 2 (Days)
        </div>
        <div class="col-5 col-md-2 col-lg-2 text-right align-self-center mt-2 mt-md-0">
          2,300 ฿
        </div>
        <div class="col-7 col-md-3 col-lg-3 d-flex align-items-center justify-content-end justify-content-md-start mt-2 mt-md-0">
          <i class="fa fa-times pr-1 d-none d-md-inline-block"></i>
          <div class="plusAndMinus ml-md-3">
            <div class="sign minus" (click)="qtyBtnHandler('2','minus')">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </div>
            <input type="number" data-input-seq="2" min="0" max="100" value="0"/>
            <div class="sign plus" (click)="qtyBtnHandler('2','plus')">
              <i class="fa fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="zone-detail">
      <div class="row zone-title">
        <div class="col-12 col-md-5 offset-md-1 col-lg-5 align-self-md-center">
          VIP Access (2 Days Access)
        </div>
        <div class="col-5 col-md-2 col-lg-2 text-right align-self-center mt-2 mt-md-0">
          6,000 ฿
        </div>
        <div class="col-7 col-md-3 col-lg-3 d-flex align-items-center justify-content-end justify-content-md-start mt-2 mt-md-0">
          <i class="fa fa-times pr-1 d-none d-md-inline-block"></i>
          <div class="plusAndMinus ml-md-3">
            <div class="sign minus" (click)="qtyBtnHandler('3','minus')">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </div>
            <input type="number" data-input-seq="3" min="0" max="100" value="0"/>
            <div class="sign plus" (click)="qtyBtnHandler('3','plus')">
              <i class="fa fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row zone-desc mt-2">
        <div class="col-12 col-sm-10 offset-sm-1">
          <p>
            - VIP Wrist Brand<br>
            - *Meet and greet with 1 of artist or band in this show.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-5" id="reserveInfo">
    
    <show-loading *ngIf="isGetSeatLoading"></show-loading>
    
    <div class="summary-wrapper" *ngIf="showZoneType != undefined && !isGetSeatLoading" [@moveInOut]>
      <div class="col-12" *ngIf="showZoneType == 'SEAT'">
        <seat-layout [seatList]="seatList" (seatsSelected)="seatSelectedHandler($event)"></seat-layout>
      </div>
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4">
        <div class="ticket-summary">
          <div class="summary-title text-center">
            <h4 class="my-0 is-size-5-mobile">TICKET INFORMATION</h4>
          </div>
          <div class="summary-body">
            <div class="row mx-0">
              <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text">Round</div>
              <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper">
                <div class="text-desc">{{ reserve.roundDate | date:'longDate' }}</div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text">Zone</div>
              <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper">
                <div class="text-desc">{{ reserve.zoneId }}</div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text">Seat No</div>
              <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper">
                <div class="text-desc">{{ showZoneType == 'STAND' ? 'Festival Seat':'GG'}}</div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text my-3">Quantity</div>
              <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper my-3">
                <div class="plusAndMinus" *ngIf="showZoneType == 'STAND'">
                  <div class="sign minus" (click)="qtyBtnHandler('4','minus')">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </div>
                  <input type="number" data-input-seq="4" min="0" max="100" value="1" />
                  <div class="sign plus" (click)="qtyBtnHandler('4','plus')">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text">Unit Price (Baht)</div>
              <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper">
                <div class="text-desc">{{reserve.priceAmount | number}}</div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text">Total Price (Baht)</div>
              <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper">
                <div class="text-desc">VALUE</div>
              </div>
            </div>
            <div class="text-center mt-3">
              <button class="btn btn-atk-danger mt-3" type="button" (click)=" goEventInfo()">
                <span>
                  BACK
                </span>
              </button>
              <button class="btn btn-atk-primary mt-3" type="button" (click)=" goDiscountList()">
                <span>
                  BOOKING
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>