<div class="social-logo-wrapper mt-5 pb-3">
  <div class="row">
    <div class="col-6 col-sm-6 logo-facebook">
      <a href="https://www.facebook.com/allticketth/" target="_blank">
        <img src="//atkmedia.allticket.com/assets/images/fb.png" />
      </a>
    </div>
    <div class="col-6 col-sm-6 logo-youtube">
      <a href="https://www.youtube.com/playlist?list=PLVVOPcb7C3ivKYd5zwBN3yz_8Z19QmTiZ" target="_blank">
        <img src="//atkmedia.allticket.com/assets/images/yt.png" />
      </a>
    </div>
  </div>
</div>

<section class="footer-detail">
  <div class="footer-container">
    <div class="row">
      <aside id="aboutUs" class="col-sm-12 col-md-4 col-lg-4">
        <h3 class="is-size-4 is-size-5-mobile mb-0">ABOUT US</h3>
        <div class="row">
          <div class="col-12">
            <p>
              Counter Service All Ticket
              <br> Online booking and service tickets :
              <br>concerts, sports, shows and travel with a 24
              <br> hour right here at counter service
            </p>
          </div>
        </div>
      </aside>
      <aside id="faq" class="col-sm-12 col-md-3 col-lg-4">
        <h3 class="is-size-4 is-size-5-mobile mb-0">FAQ</h3>
        <div class="row">
          <div class="col-12">
            <ul class="footer">
              <li>
                <i class="fa fa-chevron-right"></i>
                <span>
                  <a routerLink="/faq/buy">How to Buy</a>
                </span>
              </li>
              <li>
                <i class="fa fa-chevron-right"></i>
                <span>
                  <a routerLink="/faq/refund">How to Refund</a>
                </span>
              </li>
              <li>
                <i class="fa fa-chevron-right"></i>
                <span>
                  <a routerLink="/faq/pickup">Pick Up Ticket</a>
                </span>
              </li>
              <li>
                <i class="fa fa-chevron-right"></i>
                <span>
                  <a routerLink="/policy">Privacy Policy</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </aside>
      <aside id="contactUs" class="col-sm-12 col-md-5 col-lg-4">
        <h3 class="is-size-4 is-size-5-mobile mb-0">CONTACT US</h3>
        <div class="row">
          <div class="col-12">
            <ul class="footer">
              <li>
                <div class="contact-detail">
                  <div class="contact-icon">
                    <i class="fa fa-2x fa-home"></i>
                  </div>
                  <div class="contact-desc">
                    <span>COUNTER SERVICE CO.LTD
                      <br/> 119 TARASATHON BLDG.,FLOOR 4-6
                      <br/> SATHORN SOI 5, SOUTH SATHORN RD.,
                      <br/> THUNGMAHAMEK, SATHORN, BANGKOK 10120,
                      <br/> THAILAND
                    </span>
                  </div>
                </div>
              </li>
              <li>
                <div class="contact-detail">
                  <div class="contact-icon">
                    <i class="fa fa-2x fa-envelope"></i>
                  </div>
                  <div class="contact-desc">
                    <span class="font-weight-normal">Customer Support</span>
                    <p>
                      <a href="mailto:support@allticket.com">support@allticket.com</a>
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="contact-detail">
                  <div class="contact-icon">
                    <i class="fa fa-2x fa-envelope"></i>
                  </div>
                  <div class="contact-desc">
                    <span class="font-weight-normal">Sales Support</span>
                    <p>
                      <a href="mailto:sales@allticket.com">sales@allticket.com</a>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
    <aside id="copyright">
      <div class="row mt-4">
        <div class="col-12 text-center">
          <h5 class="is-size-5 is-size-6-mobile font-weight-light">© 2018 Counter Service Co., Ltd. All Rights Reserved © ลิขสิทธิ์ โดย บริษัท เคาน์เตอร์เซอร์วิส™ จำกัด</h5>
        </div>
      </div>
    </aside>
  </div>
</section>
