.selectRoundWrapper {
  padding: 15px 15% 0px 15%;
}

.busTopic {
  padding-bottom: 20px;
}

.selectRoundWrapper .busTopic img {
  max-width: 100px;
  height: auto;
}

.selectRoundWrapper .busTopic span {
  font-size: 22px;
  padding-left: 15px;
  padding-bottom: 15px;
  font-weight: 700
}

.selectRoundWrapper .selectRoundTopic {
  font-size: 22px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.dateRange {
  text-align: center;
  border: 2px solid #bcbec0;
  border-radius: 10px;
  background-color: #f3f6f6;
  padding: 10px 0px 10px 0px;
}

.fromTo {
  padding: 15px 15% 15px 15%;
  text-align: center;
}

.left {
  cursor: pointer;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  cursor: pointer;
}

.p0 {
  padding: 0px
}

.red {
  color: red;
}

.subFromTo {
  font-size: 14px;
  font-weight: 100;
}

.province {
  font-weight: 600
}

.infoBox {
  padding-bottom: 15px;
  margin: 0px 15px 0px 15px;
}

.infoBox .rowSummary {
  font-weight: 500;
  font-size: 18px;
  border: 2px solid #bcbec0;
  border-bottom: 0px;
  border-top: 0px;
}

.infoBox .rowSummary:last-child {
  font-weight: 500;
  font-size: 18px;
  border: 2px solid #bcbec0;
  border-top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.infoBox .topicRow {
  background: #f48131;
  border: 2px solid #bcbec0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 16px;
  color: white;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
}

.infoSeq {
  background: #f3f6f6;
  border-left: 2px solid #bcbec0;
  border-right: 2px solid #bcbec0;
  font-size: 16px;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
}

.infoSeq:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid #bcbec0;
}

.info {
  border-right: 2px solid #bcbec0;
}

.info:last-child {
  border-right: 0px;
}

.btn-atk-primary {
  font-size: 18px;
  background-color: #37BDE0;
  border-bottom: 3px solid #389ABF;
  color: #fff;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 2rem;
  cursor: pointer;
}

.btn-atk-danger {
  font-size: 18px;
  background-color: #EC1D23;
  border-bottom: 3px solid #ad1616;
  color: #fff;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 2rem;
  cursor: pointer;
}

.buttonWrapper {
  text-align: right;
}

.selectRoundBox {
  padding-bottom: 3rem;
}

.fontW600 {
  font-weight: 600;
}

.fontGrey {
  color: #aeb0b3!important;
}

.BoxRow {
  border: 2px solid #bcbec0;
  border-top: 0px;
  border-bottom: 0px;
}

.BoxRow:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid #bcbec0;
}

.textCenter {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .selectRoundWrapper {
    padding: 15px 10% 0px 10%;
  }
  .terms {
    font-size: 14px;
    padding-bottom: 2rem;
  }
  .selectRoundBox {
    padding-bottom: 2rem;
  }
  .rowSummary {
    font-size: 14px;
  }
}

@media screen and (max-width: 520px) {
  .selectRoundWrapper {
    padding: 15px 5% 0px 5%;
  }
}

.chooseDate {
  font-weight: 600;
  font-size: 18px;
  color: #f58132;
}

.otherDate {
  color: #bdbfc0;
}
