<div class="selectRoundWrapper">
  <div class="selectRoundBox">
    <div class="busTopic">
      <img src="../../../../assets/images/pns-logo.png" />
      <span>จองตั๋วรถโดยสาร บขส. ออนไลน์ </span>
    </div>

    <div class="selectRoundTopic col-12">
      <span>กรุณาเลือกวันที่ และ วันเดินทางไป</span>
    </div>
    <div class="dateRange">
      <div class="row p0">
        <div class="col-2 arrow">
          <span class="left">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </span>
        </div>
        <div class="col-2 otherDate">
          <span>จ. 9 ม.ค. 61</span>
        </div>
        <div class="col-2 chooseDate">
          <span>อ. 10 ม.ค. 61</span>
        </div> 
        <div class="col-2 otherDate">
          <span>พ. 11 ม.ค. 61</span>
        </div>
        <div class="col-2 otherDate">
          <span>พฤ. 12 ม.ค. 61</span>
        </div>
        <div class="col-2 arrow">
          <span class="right">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="fromTo">
      <div class="row">
        <div class="col-12 col-lg-5 province"> กรุงเทพฯ
          <br>
          <span class="subFromTo">(หมอชิตใหม่ 2)</span>
        </div>
        <div class="col-12 col-lg-2">
          <img src="../../../../assets/images/borkorsor Website-08.png" />
        </div>
        <div class="col-12 col-lg-5 province"> เชียงใหม่
          <br>
          <span class="subFromTo">สถานีขนส่งผู้โดยสาร จ.เชียงใหม่ (อาเขต)</span>
        </div>
      </div>
    </div>
    <div class="infoBox">
      <div class="row topicRow">
        <div class="col-4 info">ช่วงเวลาเดินทาง</div>
        <div class="col-2 info">มาตราฐาน</div>
        <div class="col-4 info">ที่นั่งคงเหลือ</div>
        <div class="col-2 info">ราคา</div>
      </div>
      <div class="row infoSeq">
        <div class="col-4 info">10.00 - 20.00</div>
        <div class="col-2 info">ม.4ต</div>
        <div class="col-4 info">39 / 54 ที่นั่ง</div>
        <div class="col-2 info"><input type="radio" name="departure"/> 479 บาท</div>
      </div>
      <div class="row infoSeq">
        <div class="col-4 info">10.00 - 20.00</div>
        <div class="col-2 info">ม.4ต</div>
        <div class="col-4 info">28 / 54 ที่นั่ง</div>
        <div class="col-2 info"> <input type="radio" name="departure"/> 379 บาท</div>
      </div>
    </div>
  </div>

  <div class="selectRoundBox">
    <div class="selectRoundTopic col-12">
      <span>กรุณาเลือกวันที่ และ วันเดินทางไป</span>
    </div>
    <div class="dateRange">
      <div class="container">
        <div class="row p0">
          <div class="col-2 arrow">
            <span class="left">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="col-2 otherDate">
            <span>พ. 11 ม.ค. 61</span>
          </div>
          <div class="col-2 chooseDate">
            <span>พฤ. 12 ม.ค. 61</span>
          </div>
          <div class="col-2 otherDate">
            <span>ศ. 13 ม.ค. 61</span>
          </div>
          <div class="col-2 otherDate">
            <span>ส. 14 ม.ค. 61</span>
          </div>
          <div class="col-2 arrow">
            <span class="right">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="fromTo">
      <div class="row">
        <div class="col-12 col-lg-5 province"> เชียงใหม่
          <br>
          <span class="subFromTo">สถานีขนส่งผู้โดยสาร จ.เชียงใหม่ (อาเขต)</span>
        </div>
        <div class="col-12 col-lg-2">
          <img src="../../../../assets/images/borkorsor Website-08.png" />
        </div>
        <div class="col-12 col-lg-5 province"> กรุงเทพฯ
          <br>
          <span class="subFromTo">(หมอชิตใหม่ 2)</span>
        </div>
      </div>
    </div>
    <div class="infoBoxWrapper">
      <div class="infoBox">
        <div class="row topicRow">
          <div class="col-4 info">ช่วงเวลาเดินทาง</div>
          <div class="col-2 info">มาตราฐาน</div>
          <div class="col-4 info">ที่นั่งคงเหลือ</div>
          <div class="col-2 info">ราคา</div>
        </div>
        <div class="row infoSeq">
          <div class="col-4 info">10.00 - 20.00</div>
          <div class="col-2 info">ม.4ต</div>
          <div class="col-4 info">39 / 54 ที่นั่ง</div>
          <div class="col-2 info"><input type="radio" name="arrival"/> 479 บาท</div>
        </div>
      </div>
    </div>
  </div>

  <div class="sumAndTerms">
    <div class="row">
      <div class="col-md-6 terms">
        <div class="col-12">
          <span class="red">กรณีตั๋วไปกลับ จะต้องเป็นเส้นทางเดียวกัน และ ราคาเท่ากัน</span>
        </div>
        <div class="col-12">
          <span class="fontW500">จำนวนตั๋วผู้โดยสาร 1 คน</span>
          <span class="fontGrey">
            <br/>&nbsp;&nbsp; - อัตราค่าโดยสารนี้ยังไม่รวมค่าดำเนินการ
            <br/>&nbsp;&nbsp; - อัตราค่าโดยสารนี้อาจเปลี่ยนแปลงได้จนกว่าลูกค้าจะชำระเงิน
            <br/>&nbsp;&nbsp; - อัตราค่าโดยสารที่แสดงเป็นอัตราสำหรับ 1 คน
            <br/>
          </span>
        </div>
      </div>
      <div class="col-md-6 sum">
        <div class="infoBox">
          <div class="row">
            <div class="col-12 topicRow">สรุปค่าโดยสาร</div>
          </div>
          <div class="row border1s BoxRow">
            <div class="col-6">
              <span>ค่าบัตรโดยสารเที่ยวไป :</span>
            </div>
            <div class="col-6">
              <span>1,859.00 บาท</span>
            </div>
          </div>
          <div class="row border1s BoxRow">
            <div class="col-6">
              <span>ค่าบัตรโดยสารเที่ยวกลับ :</span>
            </div>
            <div class="col-6">
              <span>379.00 บาท</span>
            </div>
          </div>
          <div class="row border1s BoxRow">
            <div class="col-6">
              <span>ค่าภาษี / ค่าธรรมเนียม :</span>
            </div>
            <div class="col-6">
              <span>15.00 บาท</span>
            </div>
          </div>
          <div class="row border1s BoxRow">
            <div class="col-12 fontW600 textCenter">
              <span>รวมราคาแล้วต่อ 1 คน 973.00 บาท</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 buttonWrapper p-0">
      <button class="btn btn-atk-danger mt-3 buttonSize" type="button">BACK</button>
      <button class="btn btn-atk-primary mt-3 buttonSize" type="button">NEXT</button>
    </div>
  </div>

</div>
