<div class="selectRoundBox">
  <div class="pageTopic col-12">
    <span>กรุณาเลือกวันที่ และ วันเดินทางไป</span>
  </div>
  <div class="dateRange">
    <div class="row p0">
      <div class="col-2 arrow">
        <span class="left">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </span>
      </div>
      <div class="col-2 otherDate">
        <span>จ. 9 ม.ค. 61</span>
      </div>
      <div class="col-2 chooseDate">
        <span>อ. 10 ม.ค. 61</span>
      </div>
      <div class="col-2 otherDate">
        <span>พ. 11 ม.ค. 61</span>
      </div>
      <div class="col-2 otherDate">
        <span>พฤ. 12 ม.ค. 61</span>
      </div>
      <div class="col-2 arrow">
        <span class="right">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="fromTo">
    <div class="row">
      <div class="col-12 col-lg-5 province"> กรุงเทพฯ
        <br>
        <span class="subFromTo">(หมอชิตใหม่ 2)</span>
      </div>
      <div class="col-12 col-lg-2">
        <img src="../../../../assets/images/borkorsor Website-08.png" />
      </div>
      <div class="col-12 col-lg-5 province"> เชียงใหม่
        <br>
        <span class="subFromTo">สถานีขนส่งผู้โดยสาร จ.เชียงใหม่ (อาเขต)</span>
      </div>
    </div>
  </div>
  <div class="outer">
    <div class="infoBoxWrapper table-responsive-md">
      <table class="table bordered">
        <tbody>
          <tr class="tableTopic">
            <td>ช่วงเวลาเดินทาง</td>
            <td>มาตราฐาน</td>
            <td>ที่นั่งคงเหลือ</td>
            <td>ราคา</td>
          </tr>
          <tr class="tableResult">
            <td>10.00 - 20.00</td>
            <td>ม.4ต</td>
            <td>39 / 54 ที่นั่ง</td>
            <td>
              <input type="radio" id="departure1" name="departure">
              <label for="departure1">479 บาท</label>
            </td>
          </tr>
          <tr class="tableResult">
            <td>13.00 - 22.00</td>
            <td>ม.4ต</td>
            <td>28 / 54 ที่นั่ง</td>
            <td>
              <input type="radio" id="departure2" name="departure">
              <label for="departure2">379 บาท</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="selectRoundBox">
  <div class="pageTopic col-12">
    <span>กรุณาเลือกวันที่ และ วันเดินทางไป</span>
  </div>
  <div class="dateRange">
    <div class="container">
      <div class="row p0">
        <div class="col-2 arrow">
          <span class="left">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </span>
        </div>
        <div class="col-2 otherDate">
          <span>พ. 11 ม.ค. 61</span>
        </div>
        <div class="col-2 chooseDate">
          <span>พฤ. 12 ม.ค. 61</span>
        </div>
        <div class="col-2 otherDate">
          <span>ศ. 13 ม.ค. 61</span>
        </div>
        <div class="col-2 otherDate">
          <span>ส. 14 ม.ค. 61</span>
        </div>
        <div class="col-2 arrow">
          <span class="right">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="fromTo">
    <div class="row">
      <div class="col-12 col-lg-5 province"> เชียงใหม่
        <br>
        <span class="subFromTo">สถานีขนส่งผู้โดยสาร จ.เชียงใหม่ (อาเขต)</span>
      </div>
      <div class="col-12 col-lg-2">
        <img src="../../../../assets/images/borkorsor Website-08.png" />
      </div>
      <div class="col-12 col-lg-5 province"> กรุงเทพฯ
        <br>
        <span class="subFromTo">(หมอชิตใหม่ 2)</span>
      </div>
    </div>
  </div>
  <div class="outer">
    <div class="infoBoxWrapper table-responsive-md">
      <table class="table bordered">
        <tbody>
          <tr class="tableTopic">
            <td>ช่วงเวลาเดินทาง</td>
            <td>มาตราฐาน</td>
            <td>ที่นั่งคงเหลือ</td>
            <td>ราคา</td>
          </tr>
          <tr class="tableResult">
            <td>10.00 - 20.00</td>
            <td>ม.4ต</td>
            <td>39 / 54 ที่นั่ง</td>
            <td>
              <input type="radio" id="arrival1" name="arrival">
              <label for="arrival1">479 บาท</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="sumAndTerms">
  <div class="row">
    <div class="col-md-6 sum table-responsive-sm">
      <table class="table bordered">
        <thead class="headerBox">
          <tr>
            <th scope="col" colspan="2">สรุปค่าโดยสาร</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ค่าบัตรโดยสารเที่ยวไป :</td>
            <td>1,859.00 บาท</td>
          </tr>
          <tr>
            <td>ค่าบัตรโดยสารเที่ยวกลับ :</td>
            <td>379.00 บาท</td>
          </tr>
          <tr>
            <td scope="row">ค่าภาษี / ค่าธรรมเนียม :</td>
            <td>15.00 บาท</td>
          </tr>
          <tr>
            <td class="rowSum" colspan="2">รวมราคาแล้วต่อ 1 คน 973.00 บาท</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 terms">
      <div class="col-12">
        <span class="red">กรณีตั๋วไปกลับ จะต้องเป็นเส้นทางเดียวกัน และ ราคาเท่ากัน</span>
      </div>
      <div class="col-12">
        <span class="fontW500">จำนวนตั๋วผู้โดยสาร 1 คน</span>
        <span class="fontGrey">
          <br/>&nbsp;&nbsp; - อัตราค่าโดยสารนี้ยังไม่รวมค่าดำเนินการ
          <br/>&nbsp;&nbsp; - อัตราค่าโดยสารนี้อาจเปลี่ยนแปลงได้จนกว่าลูกค้าจะชำระเงิน
          <br/>&nbsp;&nbsp; - อัตราค่าโดยสารที่แสดงเป็นอัตราสำหรับ 1 คน
          <br/>
        </span>
      </div>
      <div class="col-12 buttonWrapper p-0">
        <button class="btn btn-atk-danger mt-3 buttonSize" type="button">BACK</button>
        <button class="btn btn-atk-primary mt-3 buttonSize" (click)="goNextpage()" type="button">NEXT</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-12 buttonWrapper p-0">
    <button class="btn btn-atk-danger mt-3 buttonSize" type="button">BACK</button>
    <button class="btn btn-atk-primary mt-3 buttonSize" type="button">NEXT</button>
  </div>
</div> -->
