<div class="selectRoundWrapper">
  <div class="container">
    <div class="busTopic">
      <img src="../../../../assets/images/pns-logo.png" />
      <span>จองตั๋วรถโดยสาร บขส. ออนไลน์ </span>
    </div>
    <div class="selectRoundTopic col-12">
      <span>กรุณาเลือกวันที่ และ วันเดินทางไป</span>
    </div>
    <div class="dateRange">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <span> - </span>
          </div>
          <div class="col-md-2">
            <span>จ. 9 ม.ค. 61</span>
          </div>
          <div class="col-md-2">
            <span>จ. 9 ม.ค. 61</span>
          </div>
          <div class="col-md-2">
            <span>จ. 9 ม.ค. 61</span>
          </div>
          <div class="col-md-2">
            <span>จ. 9 ม.ค. 61</span>
          </div>
          <div class="col-md-2">
            <span> - </span>
          </div>

        </div>
      </div>
    </div>
  </div>
