<!-- <div class="selectSeatWrapper"> -->

<div class="container mt-2">
  <div class="row form-group">
    <div class="col-md-7">
      <h5> กรุณาเลือกหมายเลขที่นั่ง </h5>
      <bus-layout [data]="busLayout" [numberOfSeat]="totalPassenger" [transId]="transId" [trip]="trip" (outputValue)="selectSeat($event)"
        *ngIf="transId != undefined"> </bus-layout>
    </div>
    <div class="col-md-5">
      <div class="infoBox">
        <div class="row">
          <div class="col-12 topicRow">{{tripName}}</div>
        </div>
        <div class="row border1s BoxRow py-1 text-center">
          <div class="col-12 rowSummary  ">
            <b class="parkText">ต้นทาง : </b>
            <br/>{{dptrPark}}
          </div>
          <div class="col-12">
            <b>วันที่ {{dptrDate | thaidate:'full'}} เวลา {{dptrTime}} น.</b>
          </div>
          <div class="col-12 py-2"> ถึง</div>
          <div class="col-12 rowSummary">
            <b class="parkText">ปลายทาง : </b>
            <br>{{arrvPark}}
          </div>
          <div class="col-12">
            <b>วันที่ {{arrvDate | thaidate:'full'}} เวลา {{arrvTime}} น.</b>
          </div>
        </div>
        <div class="row border1s BoxRow text-center">
          <div class="col-md-12 col-sm-12 rowSummary">
          </div>
        </div>
      </div>

      <div class="infoBox">
        <div class="row">
          <div class="col-12 topicRow">ที่นั่ง</div>
        </div>
        <div class="row border1s BoxRow">
          <div class="col-md-12 col-sm-12 rowSummary ">
            หมายเลขที่นั่งที่ท่านเลือก :
            <span class="selectSeat" *ngFor="let data of selectedSeat; let index = index;">
              <span *ngIf="index > 0">,</span> {{data.name}} ชั้น {{data.pos.z}}</span>
          </div>
        </div>
      </div>

      <div class="infoBox">
        <div class="row">
          <div class="col-12 topicRow">เงื่อนไขรายละเอียดแต่ละที่นั่ง</div>
        </div>
        <div class="row border1s BoxRow "></div>
        <div class="row border1s BoxRow ">
          <div class="col-md-12 col-sm-12 rowSummary ">
            <span class="col-md-1 seatEx available"></span>
            <span class="col-md-11">{{detailContent.emptySeat}} </span>
          </div>
        </div>
        <div class="row border1s BoxRow ">
          <div class="col-md-12 col-sm-12 rowSummary">
            <span class="col-md-1 seatEx selecting"></span>
            <span class="col-md-11">{{detailContent.markSeat}} </span>
          </div>
        </div>
        <div class="row border1s BoxRow ">
          <div class="col-md-12 col-sm-12 rowSummary p0">
            <span class="col-md-12">เพศผู้โดยสารท่านอื่น</span>
          </div>
          <div class="col-6">
            <div class="genderIcon">
              <img src="assets/images/male.png" />
              <!-- <img src="../../../../../assets/images/male.png" /> -->
              <br>
              <span>เพศชาย</span>
            </div>
          </div>
          <div class="col-6">
            <div class="genderIcon">
              <img src="assets/images/female.png" />
              <!-- <img src="../../../../../assets/images/female.png" /> -->
              <br>
              <span>เพศหญิง</span>
            </div>
          </div>
          <div class="col-6">
            <div class="genderIcon">
              <img src="assets/images/monk.png" />
              <!-- <img src="../../../../../assets/images/monk.png" /> -->
              <br>
              <span>พระสงฆ์</span>
            </div>
          </div>
          <div class="col-6">
            <div class="genderIcon">
              <img src="assets/images/none.png" />
              <!-- <img src="../../../../../assets/images/none.png" /> -->
              <br>
              <span>ไม่ระบุเพศ</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 buttonWrapper p-0">
    <button class="btn btn-atk-danger mt-3 buttonSize" type="button" (click)="goPreviousPage()" [ngClass]="{'disabled' : isShowLoadingBack}">
      <span *ngIf="!isShowLoadingBack; else showLoad">
        BACK
      </span>
    </button>
    <button class="btn btn-atk-primary mt-3 buttonSize" type="button" (click)="onClick()" [ngClass]="{'disabled' : isShowLoading}">
      <span *ngIf="!isShowLoading; else showLoad">
        NEXT
      </span>
    </button>
    <ng-template #showLoad>
      Loading
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </ng-template>
  </div>
</div>

<!-- </div> -->