<!-- <div class="selectSeatWrapper"> -->
<div class="container">
  <div class="row">

    <h5> ที่นั่ง </h5>
  </div>
  <div class="row form-group">

    <div class="col-md-7">
      <bus-layout [data]=data [numberOfSeat]=2 (outputValue)="selectSeat($event)"> </bus-layout>
    </div>
    <div class="col-md-5">
      <div class="infoBox">
        <div class="row">
          <div class="col-12 topicRow">{{tripName}}</div>
        </div>
        <div class="row border1s BoxRow text-center">
          <div class="col-md-4 col-sm-12 rowSummary ">
            {{dptrPark}}
          </div>
          <div class="col-md-4 col-sm-12 rowSummary ">
            <i class="fa fa-long-arrow-right fa-2x" aria-hidden="true" style="color:#fe6716;"></i>
          </div>
          <div class="col-md-4  col-sm-12 rowSummary">
            {{arrvPark}}
          </div>
        </div>
        <div class="row border1s BoxRow text-center">
          <div class="col-md-12 col-sm-12 rowSummary">
            {{dptrDate}} ถึง {{arrvDate}}
          </div>
        </div>
      </div>
      <div class="row form-group">

      </div>
      <div class="row form-group">

      </div>
      <div class="infoBox">
        <div class="row">
          <div class="col-12 topicRow">เงื่อนไขรายละเอียดแต่ละที่นั่ง</div>
        </div>
        <div class="row border1s BoxRow "></div>
        <div class="row border1s BoxRow ">
          <div class="col-md-12 col-sm-12 rowSummary ">
            <span class="col-md-1 seatEx available"></span>
            <span class="col-md-11">{{detailContent.emptySeat}} </span>
          </div>
        </div>
        <div class="row border1s BoxRow ">
          <div class="col-md-12 col-sm-12 rowSummary">
            <span class="col-md-1 seatEx selecting"></span>
            <span class="col-md-11">{{detailContent.markSeat}} </span>
          </div>
        </div>
        <div class="row border1s BoxRow ">
          <div class="col-md-12 col-sm-12 rowSummary p0">
            <span class="col-md-12">เพศผู้โดยสารท่านอื่น</span>
          </div>
          <div class="col-6">
            <div class="genderIcon">
              <img src="../../../../../assets/images/male.png" /><br>
              <span>เพศชาย</span>
            </div>
          </div>
          <div class="col-6">
            <div class="genderIcon">
              <img src="../../../../../assets/images/female.png" /><br>
              <span>เพศหญิง</span>
            </div>
          </div>
          <div class="col-6">
            <div class="genderIcon">
              <img src="../../../../../assets/images/monk.png" /><br>
              <span>พระสงฆ์</span>
            </div>
          </div>
          <div class="col-6">
            <div class="genderIcon">
              <img src="../../../../../assets/images/none.png" /><br>
              <span>ไม่ระบุเพศ</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 buttonWrapper p-0">
          <button class="btn btn-atk-danger mt-3 buttonSize" type="button">BACK</button>
          <button class="btn btn-atk-primary mt-3 buttonSize" type="button" (click)="onClick()">NEXT</button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- </div> -->
