<div class="container">
  <div class="row form-group"> </div>
  <div class="row form-group">

    <div class="col-md-6">

      <h5> ที่นั่ง </h5>
      <!-- <bus-layout floor=1> </bus-layout> -->
    </div>
    <div class="col-md-6">
      <div class="row" style="align-content: center;">
        <div class="card col-md-12 col-sm-12">
          <h5 class="row card-header"> {{tripName}} </h5>
          <div class=" card-block ">
            <div class="row text-center">
              <div class="col-md-4 col-sm-12">
                {{dptrPark}}
              </div>
              <div class="col-md-4 col-sm-12 ">
                <i class="fa fa-long-arrow-right fa-2x" aria-hidden="true" style="color:#fe6716;"></i>
              </div>
              <div class="col-md-4  col-sm-12">
                {{arrvPark}}
              </div>
            </div>
            <div class="row text-center">
              <div class="col-md-12 col-sm-12">
                {{dptrDate}} ถึง {{arrvDate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group">


      </div>

      <div class="row form-group">
      </div>
      <div class="row form-group">
        <div class="card col-md-12 col-sm-12">
          <h5 class="row card-header"> เงื่อนไขรายละเอียดแต่ละที่นั่ง </h5>
          <div class=" card-block ">
            <div class="col-md-12">
              <div class="row form-group">
              </div>

              <div class="row form-group">
                <span class="col-md-1 seat red"></span>
                <span class="col-md-11">{{detailContent.emptySeat}} </span>
              </div>
              <div class="row form-group">
                <span class="col-md-1 seat blue"></span>
                <div class="col-md-11">{{detailContent.sellSeat}} </div>
              </div>
              <div class="row form-group">
                <span class="col-md-1 seat green"></span>
                <div class="col-md-11">{{detailContent.markSeat}} </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- </div> -->