<div class="eventtypeWrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 iconTopic">
          <span>AIRLINES
            <img src="../assets/images/airlines.png"> </span>
        </div>
      </div>
      <div class="row cpt20">
        <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
          <div class="cardbox"> 
            <div class="card-overlay">
              <img src="../assets/images/cursor.png">
            </div>
            <img class="card-img-top imgResponsive" src="../../../../assets/images/Logo/Logo-01.png" alt="Card image cap">
            <div class="card-buyTicket">
              <a href="#">
                <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                <span>BUY TICKET</span>
              </a>
            </div>
            <div class="row cardfooter">
              <div class="col-sm-12 eventNameRe text_overflow">
                Air Asia
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
          <div class="cardbox"> 
            <div class="card-overlay">
              <img src="../assets/images/cursor.png">
            </div>
            <img class="card-img-top imgResponsive" src="../../../../assets/images/Logo/Logo-02.png" alt="Card image cap">
            <div class="card-buyTicket">
              <a href="#">
                <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                <span>BUY TICKET</span>
              </a>
            </div>
            <div class="row cardfooter">
              <div class="col-sm-12 eventNameRe text_overflow">
                Air Asia X
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
          <div class="cardbox"> 
            <div class="card-overlay">
              <img src="../assets/images/cursor.png">
            </div>
            <img class="card-img-top imgResponsive" src="../../../../assets/images/Logo/Logo-04.png" alt="Card image cap">
            <div class="card-buyTicket">
              <a href="#">
                <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                <span>BUY TICKET</span>
              </a>
            </div>
            <div class="row cardfooter">
              <div class="col-sm-12 eventNameRe text_overflow">
                Nok Air
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
          <div class="cardbox"> 
            <div class="card-overlay">
              <img src="../assets/images/cursor.png">
            </div>
            <img class="card-img-top imgResponsive" src="../../../../assets/images/Logo/Logo-08.png" alt="Card image cap">
            <div class="card-buyTicket">
              <a href="#">
                <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                <span>BUY TICKET</span>
              </a>
            </div>
            <div class="row cardfooter">
              <div class="col-sm-12 eventNameRe text_overflow">
                Thai Smile
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
            <div class="cardbox"> 
              <div class="card-overlay">
                <img src="../assets/images/cursor.png">
              </div>
              <img class="card-img-top imgResponsive" src="../../../../assets/images/Logo/Logo-03.png" alt="Card image cap">
              <div class="card-buyTicket">
                <a href="#">
                  <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                  <span>BUY TICKET</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-sm-12 eventNameRe text_overflow">
                  Thai Lion Air
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  