<div class="fshowzoneWrapper">
	<div class="event-detail mgt30">
		<div class="eventName">
			<b>PTT THAILAND GRAND PRIX 2018  </b>
		</div>
		<div class="container-fluid fontEventDetail">
			<div class="row">
				<strong class="head-color">
					Venue : 
				</strong>&nbsp;
				Chang International Circuit, Buriram
			</div>
			<div class="row">
				<strong class="head-color">Promoter : </strong>&nbsp;
				การกีฬาแห่งประเทศไทย
			</div>
			
		</div>
	</div>
	<div class="zoneWrapper">
		<div class="howToSelect">
			<b>Please select round and then click on the image to select a seating zone</b>
		</div>
		<div class="container">
			<div class="row">
				
					
						<select class="col-md-9 col-sm-12" id="zoneRound" name="round" style="height: 30px; font-size: 14px; background: #f9fbfe; color: #696d74;">
							
							
								<option value="R1">
									
										
											5-7 Oct  2018 09:00 - 17:30
										
										
									
								</option>
							
						</select>
					
					
				
				<div class="col-md-3 col-sm-12 no-padding" align="center" style="cursor: pointer; color: #f21111; font-size: 17px; background: #c6ccd7; padding: 3px;" id="emptySeatBtn">
					<b>Seats Available</b>
				</div>
			</div>
		</div>
		<div class="container" id="innerMainContent">
			<div class="row">
				<div class="col-md-9 col-sm-12 no-padding eventSelect">
					<form id="selectZoneFrm" action="zonetoseat.html" method="post">
						<p>
	<img src="https://atkmedia.allticket.com/images/zoneInternet/KMO18010261220171635Plan.jpg" style="border-width: 0px; 	
	border-style: solid; width: 625px; height: 419px;" usemap="#Map18022"><map name="Map18022"><area class="p_MAR" coords="194,375,270,375,277,392,271,412,193,411,203,395" data-zone="MAR" href="#" shape="poly" style="cursor: pointer;"> <area class="p_S" coords="274,373,347,375,356,392,346,412,275,412,282,393" data-zone="S" href="#" shape="poly" style="cursor: pointer;"> <!--
    <area class="p_EBG" coords="34,363,109,361,114,379,108,399,33,400" data-zone="EBG" href="#" shape="poly" />  
    <area class="p_EBROS" coords="112,363,183,362,192,382,181,398,113,398,118,382" data-zone="EBROS" href="#" shape="poly" /> 
    --></map></p>

						<input type="hidden" name="zid" id="zid"> 
						<input type="hidden" name="rid" id="rid">
					</form>
				</div>
				<div class="col-md-3 col-sm-12 zonePrice">
					
						<div class="row">
							<div class="col-md-4 col-sm-2 col-2 no-padding">
								<p class="zoneColor" style="background: #2F459B">&nbsp;&nbsp;</p>
							</div>
							<div class="col-md-8 col-sm-2 col-4 no-padding">
								<p class="ticketPrice">
									4,000
									&nbsp;THB&nbsp;&nbsp;
								</p>
							</div>
						</div>
					
						<div class="row">
							<div class="col-md-4 col-sm-2 col-2 no-padding">
								<p class="zoneColor" style="background: #65C3EE">&nbsp;&nbsp;</p>
							</div>
							<div class="col-md-8 col-sm-2 col-4 no-padding">
								<p class="ticketPrice">
									2,000
									&nbsp;THB&nbsp;&nbsp;
								</p>
							</div>
						</div>
					
					
						<input type="hidden" class="checkZoneId" value="p_VIP">
					
						<input type="hidden" class="checkZoneId" value="p_G">
					
						<input type="hidden" class="checkZoneId" value="p_MAR">
					
						<input type="hidden" class="checkZoneId" value="p_ROSSI">
					
						<input type="hidden" class="checkZoneId" value="p_EBG">
					
						<input type="hidden" class="checkZoneId" value="p_EBMAR">
					
						<input type="hidden" class="checkZoneId" value="p_EBROS">
					
						<input type="hidden" class="checkZoneId" value="p_S">
					
						<input type="hidden" class="checkZoneId" value="p_EBS">
					
						<input type="hidden" class="checkZoneId" value="p_ADM">
					
				</div>
			</div>
		</div>
	</div>
</div>