.discount-detail {
  margin-top: 1.5rem;
  max-width: 600px !important;
}

@media (max-width: 425px) {
  table.discount-detail {
    margin: auto 0;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .btn-atk-warning,
  .btn-atk-danger {
    padding-left: 0.6rem!important;
    padding-right: 0.6rem!important;
    font-size: 14px!important;
  }
}
