<div class="eventtypeWrapper">
  <div class="allevent container">
    <div class="row">
      <div class="col-md-12 iconTopic">
        <span>SPORT
          <img src="../../../assets/images/sport.png"> </span>
      </div>
    </div>
    <div class="football eventtopic">
      <div class="container">
        <div class="row">
          <div class="col-md-6 football iconTopic">
            <span>FOOTBALL
              <img src="../../../assets/images/football.png"> </span>
          </div>
          <div class="col-md-6 viewall">
            <a href="../eventTickets/football.html">
              <i class="fa fa-plus"> </i> view all</a>
          </div>
        </div>
        <div class="row cpt20">
          <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
            <div class="cardbox">
              <a routerLink="/eventInfo">
                <div class="card-overlay">
                  <img src="../../../assets/images/cursor.png">
                </div>
              </a>
              <img class="card-img-top imgResponsive" src="../../../assets/images/bmmf.jpg" alt="Card image cap">
              <div class="card-buyTicket">
                <a href="#">
                  <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                  <span>BUY TICKET</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-sm-5 col-md-5 eventDate text_overflow">
                  <span class="textblack">31 - 10</span>
                  <br>
                  <span class="font12"> DEC/2017 </span>
                </div>
                <div class="col-sm-7 eventName text_overflow">
                  BMMF 2017
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
            <div class="cardbox">
              <div class="card-overlay">
                <img src="../../../assets/images/cursor.png">
              </div>
              <img class="card-img-top imgResponsive" src="../../../assets/images/bmmf.jpg" alt="Card image cap">
              <div class="card-buyTicket">
                <a href="#">
                  <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                  <span>BUY TICKET</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-sm-5 col-md-5 eventDate text_overflow">
                  <span class="textblack">9 - 10</span>
                  <br>
                  <span class="font12"> DEC/2017 </span>
                </div>
                <div class="col-sm-7 eventName text_overflow">
                  BMMF 2017
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
            <div class="cardbox">
              <div class="card-overlay">
                <img src="../../../assets/images/cursor.png">
              </div>
              <img class="card-img-top imgResponsive" src="../../../assets/images/bmmf.jpg" alt="Card image cap">
              <div class="card-buyTicket soldout">
                <a href="#">
                  <i class="fa fa-ban" aria-hidden="true"></i>
                  <span>SOLD OUT</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-sm-5 col-md-5 eventDate text_overflow">
                  <span class="textblack">9 - 10</span>
                  <br>
                  <span class="font12"> DEC/2017 </span>
                </div>
                <div class="col-sm-7 eventName text_overflow">
                  BMMF 2017
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
            <div class="cardbox">
              <div class="card-overlay">
                <img src="../../../assets/images/cursor.png">
              </div>
              <img class="card-img-top imgResponsive" src="../../../assets/images/bmmf.jpg" alt="Card image cap">
              <div class="card-buyTicket soldout">
                <a href="#">
                  <i class="fa fa-ban" aria-hidden="true"></i>
                  <span>SOLD OUT</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-sm-5 col-md-5 eventDate text_overflow">
                  <span class="textblack">9 - 10</span>
                  <br>
                  <span class="font12"> DEC/2017 </span>
                </div>
                <div class="col-sm-7 eventName text_overflow">
                  BMMF 2017
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row cpt20">
          <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
            <div class="cardbox">
              <div class="card-overlay">
                <img src="../../../assets/images/cursor.png">
              </div>
              <img class="card-img-top imgResponsive" src="../../../assets/images/bmmf.jpg" alt="Card image cap">
              <div class="card-buyTicket">
                <a href="#">
                  <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                  <span>BUY TICKET</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-sm-5 col-md-5 eventDate text_overflow">
                  <span class="textblack">9 - 10</span>
                  <br>
                  <span class="font12"> DEC/2017 </span>
                </div>
                <div class="col-sm-7 eventName text_overflow">
                  BMMF 2017
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
            <div class="cardbox">
              <div class="card-overlay">
                <img src="../../../assets/images/cursor.png">
              </div>
              <img class="card-img-top imgResponsive" src="../../../assets/images/bmmf.jpg" alt="Card image cap">
              <div class="card-buyTicket">
                <a href="#">
                  <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                  <span>BUY TICKET</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-sm-5 col-md-5 eventDate text_overflow">
                  <span class="textblack">9 - 10</span>
                  <br>
                  <span class="font12"> DEC/2017 </span>
                </div>
                <div class="col-sm-7 eventName text_overflow">
                  BMMF 2017
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="racing eventtopic">
      <div class="container">
        <div class="row">
          <div class="col-md-6 racing iconTopic">
            <span>RACING
              <img src="../../../assets/images/racing.png"> </span>
          </div>
          <div class="col-md-6 viewall">
            <a href="../eventTickets/racing.html">
              <i class="fa fa-plus"> </i> view all</a>
          </div>
        </div>
        <div class="row cpt20">
          <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
            <div class="cardbox">
              <div class="card-overlay">
                <img src="../../../assets/images/cursor.png">
              </div>
              <img class="card-img-top imgResponsive" src="../../../assets/images/bmmf.jpg" alt="Card image cap">
              <div class="card-buyTicket">
                <a href="#">
                  <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                  <span>BUY TICKET</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-sm-5 col-md-5 eventDate text_overflow">
                  <span class="textblack">9 - 10</span>
                  <br>
                  <span class="font12"> DEC/2017 </span>
                </div>
                <div class="col-sm-7 eventName text_overflow">
                  BMMF 2017
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
            <div class="cardbox">
              <div class="card-overlay">
                <img src="../../../assets/images/cursor.png">
              </div>
              <img class="card-img-top imgResponsive" src="../../../assets/images/bmmf.jpg" alt="Card image cap">
              <div class="card-buyTicket">
                <a href="#">
                  <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                  <span>BUY TICKET</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-sm-5 col-md-5 eventDate text_overflow">
                  <span class="textblack">9 - 10</span>
                  <br>
                  <span class="font12"> DEC/2017 </span>
                </div>
                <div class="col-sm-7 eventName text_overflow">
                  BMMF 2017
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="running eventtopic">
      <div class="container">
        <div class="row">
          <div class="col-md-6 running iconTopic">
            <span>RUNNING
              <img src="../../../assets/images/running.png"> </span>
          </div>
          <div class="col-md-6 viewall">
            <a href="../eventTickets/running.html">
              <i class="fa fa-plus"> </i> view all</a>
          </div>
        </div>
        <div class="row cpt20">
          <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
            <div class="cardbox">
              <div class="card-overlay">
                <img src="../../../assets/images/cursor.png">
              </div>
              <img class="card-img-top imgResponsive" src="../../../assets/images/bmmf.jpg" alt="Card image cap">
              <div class="card-buyTicket">
                <a href="#">
                  <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                  <span>BUY TICKET</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-sm-5 col-md-5 eventDate text_overflow">
                  <span class="textblack">9 - 10</span>
                  <br>
                  <span class="font12"> DEC/2017 </span>
                </div>
                <div class="col-sm-7 eventName text_overflow">
                  BMMF 2017
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
            <div class="cardbox">
              <div class="card-overlay">
                <img src="../../../assets/images/cursor.png">
              </div>
              <img class="card-img-top imgResponsive" src="../../../assets/images/bmmf.jpg" alt="Card image cap">
              <div class="card-buyTicket">
                <a href="#">
                  <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                  <span>BUY TICKET</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-sm-5 col-md-5 eventDate text_overflow">
                  <span class="textblack">9 - 10</span>
                  <br>
                  <span class="font12"> DEC/2017 </span>
                </div>
                <div class="col-sm-7 eventName text_overflow">
                  BMMF 2017
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="others eventtopic">
      <div class="container">
        <div class="row">
          <div class="col-md-6 others iconTopic">
            <span>OTHERS
              <img src="../../../assets/images/others.png"> </span>
          </div>
          <div class="col-md-6 viewall">
            <a href="../eventTickets/others.html">
              <i class="fa fa-plus"> </i> view all</a>
          </div>
        </div>
        <div class="row cpt20">
          <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
            <div class="cardbox">
              <div class="card-overlay">
                <img src="../../../assets/images/cursor.png">
              </div>
              <img class="card-img-top imgResponsive" src="../../../assets/images/bmmf.jpg" alt="Card image cap">
              <div class="card-buyTicket">
                <a href="#">
                  <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                  <span>BUY TICKET</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-sm-5 col-md-5 eventDate text_overflow">
                  <span class="textblack">9 - 10</span>
                  <br>
                  <span class="font12"> DEC/2017 </span>
                </div>
                <div class="col-sm-7 eventName text_overflow">
                  BMMF 2017
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
            <div class="cardbox">
              <div class="card-overlay">
                <img src="../../../assets/images/cursor.png">
              </div>
              <img class="card-img-top imgResponsive" src="../../../assets/images/bmmf.jpg" alt="Card image cap">
              <div class="card-buyTicket">
                <a href="#">
                  <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                  <span>BUY TICKET</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-sm-5 col-md-5 eventDate text_overflow">
                  <span class="textblack">9 - 10</span>
                  <br>
                  <span class="font12"> DEC/2017 </span>
                </div>
                <div class="col-sm-7 eventName text_overflow">
                  BMMF 2017
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
