<div class="container" style="display: block;">
  <div class="row mt-4">
    <div class="col-10 offset-1">
      <h3>สิทธิ์ส่วนลด</h3>
    </div>
  </div>

  <div class="owl-carousel owl-theme">
    <div class="item">
      <div class="discount-item" id="1"  #itemDiscount (click)="selectDiscount('1')">
        <i class="fa fa-check-circle fa-2x"></i>
        <div class="discount-image">
          <img class="img-fluid" src="https://atkmedia.allticket.com/images/discount/S4P3.jpg ">
        </div>
        <div class="discount-title discountItemInfoName">S4P3</div>
        <div class="discount-desc text-center">ซื้อ 4 จ่าย 3</div>
      </div>
    </div>

    <div class="item">
      <div class="discount-item" id="2"  #itemDiscount2 (click)="selectDiscount('2')">
        <i class="fa fa-check-circle fa-2x"></i>
        <div class="discount-image">
          <img class="img-fluid" src="https://atkmedia.allticket.com/images/discount/GT_BlueCard.jpg ">
        </div>
        <div class="discount-title discountItemInfoName">PTT Blue Card</div>
        <div class="discount-desc text-center">แสดงบัตร PTT BLUE CARD รับส่วนลด 25% (6 ใบต่อ 1 ครั้งลดซ้ำได้)</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div id="empDiscountInput" class="discountInput">
        <div class="row mt-4">
          <div class="col-12 col-sm-5 offset-sm-0 text-sm-right">สิทธิ์ส่วนลดที่เลือก : </div>
          <div class="col-12 col-md-4 col-sm-7 text-center text-sm-left mt-3 mt-sm-0">
            <input type="text" class="form-control d-inline-block discountInputComp" value="" readonly="readonly">
          </div>
        </div>
        <input class="discountMin" type="hidden" value="10">
        <input class="discountLabel" type="hidden" value="เบอร์โทรศัพท์">
        <input class="discountCondition" type="hidden" value="NON">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5 d-flex justify-content-center is-size-6-mobile">
      <button class="btn btn-atk-danger px-md-4" id="unUseDisBtn" (click)="goResultReserve()">NOT USE DISCOUNT</button>
      <button class="btn btn-atk-primary px-md-4 ml-2" id="useDisBtn" (click)="goDiscountDetail()">USE DISCOUNT</button>
    </div>
  </div>
</div>
