<div class="container resultReserveWrapper">
  <h2 class="heading text-center is-size-4-mobile mt-4">RESERVE SUMMARY</h2>

  <div class="divider divider-center">
    <i class="fa fa-circle"></i>
  </div>

  <div class="row border-bottom" *ngIf="resultReserveData?.userDetail">
    <div class="col-12">
      <div class="sub-heading with-icon">
        <i class="fa fa-user fa-2x fa-fw" aria-hidden="true"></i>
        <span>
          Customer Information
        </span>
      </div>
    </div>
  </div>
  <div class="row-wrapper py-3" *ngIf="resultReserveData?.userDetail">
    <div class="row" *ngIf="resultReserveData.userDetail?.firstName && resultReserveData.userDetail.firstName != 'N/A'">
      <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text">Name - Surname</div>
      <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper">
        <div class ="text-desc">
          {{ resultReserveData.userDetail.firstname }} {{ resultReserveData.userDetail.lastname }}
        </div>
      </div>
    </div>
    <div class="row" *ngIf="resultReserveData.userDetail?.email && resultReserveData.userDetail.email != 'N/A'">
      <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text">Email - Address</div>
      <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper">
        <div class ="text-desc">
          {{ resultReserveData.userDetail.email }}
        </div>
      </div>
    </div>
    <div class="row" *ngIf="resultReserveData.userDetail?.telephone && resultReserveData.userDetail.telephone != 'N/A'">
      <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text">Mobile No</div>
      <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper">
        <div class ="text-desc">
          {{ resultReserveData.userDetail.telephone }}
        </div>
      </div>
    </div>
    <div class="row" *ngIf="resultReserveData.userDetail?.cardNumber && resultReserveData.userDetail.cardNumber != 'N/A'">
      <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text">ID CARD / Passport ID</div>
      <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper">
        <div class ="text-desc">
          {{ resultReserveData.userDetail.cardNumber }}
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 border-bottom">
    <div class="col-12">
      <div class="sub-heading with-icon">
        <i class="fa fa-credit-card fa-2x fa-fw" aria-hidden="true"></i>
        <span>
          Payment Methods
        </span>
      </div>
    </div>
  </div>

  <div class="row" id="selectMethodsTxt">
    <div class="col-12 mt-4">
      <h3 class="text-center paymentTypeText">Please choose your payment method</h3>
    </div>
  </div>
  
  <ng-container *ngIf="isShowAllMethods; else showSomeMethod;">
    <div class="row mt-4">
      <div class="col-10 offset-1 col-sm-4 offset-sm-1 paymentWrapper" title="Cash Payment" [ngClass]="{ 'selected': paymentMethodSelected == 2 }"
        (click)="choosePaymentMethod(2)">
        <i class="fa fa-check-circle fa-2x"></i>
        <img class="img-fluid" src="//s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/payment/cs711.png"
        />
      </div>
      <div class="col-10 offset-1 col-sm-5 d-flex paymentWrapper" title="Credit Card Payment" [ngClass]="{ 'selected': paymentMethodSelected == 1 }"
        (click)="choosePaymentMethod(1)">
        <i class="fa fa-check-circle fa-2x"></i>
        <img class="img-fluid" src="//s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/payment/creditIcon.png"
        />
      </div>
    </div>
    <div class="row" *ngIf="resultReserveData.payCredit && resultReserveData?.paymentMethod.creditPayment.creditFee && paymentMethodSelected == 1">
      <div class="col-sm-5 offset-sm-6">
        <div class="alert alert-primary mx-auto mt-3 text-center" role="alert">
          Convenience fee {{ resultReserveData?.paymentMethod.creditPayment.creditFee }} Baht
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #showSomeMethod>
    <div class="row mt-4">
      <div class="col-10 offset-1 col-md-5 col-sm-6 mx-auto d-flex paymentWrapper" title="Cash Payment" [ngClass]="{ 'selected': paymentMethodSelected == 2 }"
        (click)="choosePaymentMethod(2)" *ngIf="resultReserveData.payOutlet">
        <i class="fa fa-check-circle fa-2x"></i>
        <img class="img-fluid" src="assets/images/payment/cs711.png"
        />
      </div>
      <div class="col-10 offset-1 col-md-5 col-sm-6 mx-auto d-flex paymentWrapper" title="Credit Card Payment" [ngClass]="{ 'selected': paymentMethodSelected == 1 }"
        (click)="choosePaymentMethod(1)" *ngIf="resultReserveData.payCredit">
        <i class="fa fa-check-circle fa-2x"></i>
        <img class="img-fluid" src="assets/images/payment/creditIcon.png"
        />
      </div>
    </div>
    <div class="row" *ngIf="resultReserveData.payCredit && resultReserveData?.paymentMethod.creditPayment.creditFee && paymentMethodSelected == 1">
      <div class="col-10 offset-1 col-sm-5 mx-auto">
        <div class="alert alert-primary mx-auto mt-3 text-center" role="alert">
          Convenience fee {{ resultReserveData?.paymentMethod.creditPayment.creditFee }} Baht
        </div>
      </div>
    </div>
  </ng-template>

  <div class="row-wrapper" id="credit-promo" *ngIf="discountCredit != null">
    <input type="hidden" id="creditDiscount" />
    <div class="row mt-4 border-bottom">
      <div class="col-12">
        <div class="sub-heading with-icon">
          <i class="fa fa-credit-card fa-2x fa-fw" aria-hidden="true"></i>
          <span>
            Credit Card Promotion
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1" id="creditDiscountWrapper">
        <div class="owl-carousel">
          <div class="discount-item">
            <i class="fa fa-check-circle fa-2x"></i>
            <div class="discount-image">
              <img class="img-fluid" src="${context_s3}images/discount/${discount.sponsorLogo}" />
            </div>
            <div class="discount-desc">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 border-bottom" *ngIf="resultReserveData?.paymentMethod">
    <div class="col-12">
      <div class="sub-heading with-icon">
        <i class="fa fa-calculator fa-2x fa-fw" aria-hidden="true"></i>
        <span>
          Order Information
        </span>
      </div>
    </div>
  </div>

  <div class="row-wrapper py-3" id="order-info" *ngIf="resultReserveData?.paymentMethod">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 offset-md-1 title-text">Flight Detail</div>
      <div class="col-12 col-sm-6 col-md-5">
        <div class="text-desc" [innerHtml]="resultReserveData.transDetail"></div>
      </div>
    </div>
    <ng-template [ngIf]="paymentMethodDetail != null">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text">Price (Baht)</div>
        <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper">
          <div class="text-desc">{{ paymentMethodDetail.billAmount }}</div>
        </div>
      </div>
      <div class="row" *ngIf="paymentMethodDetail.discountId != null">
        <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text">Discount</div>
        <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper">
          <div class="text-desc" id="discountValueID">
            {{ paymentMethodDetail.discountValue }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text">Service Fee</div>
        <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper">
          <div class="text-desc">{{ paymentMethodDetail.csFee }}</div>
        </div>
      </div>
      <div class="row" *ngIf="paymentMethodSelected == 1">
        <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text">Convenience Fee</div>
        <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper">
          <div class="text-desc">{{ paymentMethodDetail.creditFee }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 offset-md-1 col-title-wrapper title-text">Total Amount (Baht)</div>
        <div class="col-12 col-sm-6 col-md-5 col-desc-wrapper">
          <div class="text-desc">{{ paymentMethodDetail.totalAmount }}</div>
        </div>
      </div>
      <div class="row mt-4" id="paymentTimeOutDesc" *ngIf="paymentMethodSelected == 2">
        <div class="col-12">
          Please process payment at Counter Service (7-Eleven Shop) within {{ resultReserveData.paymentMethod.cashPayment.showExpireTimeEN
          }}
        </div>
      </div>
    </ng-template>

  </div>
  <div class="row-wrapper mt-4" id="term-condition">
    <div class="row border-bottom">
      <div class="col-12">
        <div class="sub-heading with-icon">
          <i class="fa fa-handshake-o fa-2x fa-fw" aria-hidden="true"></i>
          <span>
            Condition
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-11 offset-sm-1 form-group">
        <ul class="term-condition">
          <li *ngFor="let data of termCondition"> {{data}} </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12" style="text-align: center;">
        <label class="custom-control custom-checkbox ">
          <input id="checkAgree" type="checkbox" class="custom-control-input" name="acceptConditions" />
          <span class="custom-control-indicator"></span>
          <span class="agreeLabel">Please clicking you agree to the “Terms and Conditions” set forth by Counter Service Co., Ltd.</span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 buttonWrapper ">
        <button class="btn btn-atk-danger" id="btnResultBack" (click)="onclickBack()">Back</button>
        <button class="btn btn-atk-primary ml-2" type="button" id="payBtn" (click)="onClickPayment(content)" [ngClass]="{'disabled' : isShowLoading}">
          <span *ngIf="!isShowLoading; else showLoad">Payment</span>
          <ng-template #showLoad>Loading
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <app-result-reserve-popup-transit [reserveDetail]="reserveDetail"> </app-result-reserve-popup-transit>
  </div>
</ng-template>