.passengerInfoWrapper{
    padding: 15px 15% 0px 15%;
}
.passengerInfoWrapper .busTopic img{
    max-width: 100px;
    height: auto;
}

.passengerInfoWrapper .busTopic span{
    font-size: 22px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-weight: 700
}

.passengerInfoWrapper .passengerInfo {
    padding-top: 15px;
    font-size: 18px;
}

.passengerInfoWrapper .passengerInfo img {
    max-width: 50px;
    height: auto;
}

.passengerInfoWrapper .passengerInfo span {
    font-weight: 700
}


.passengerInfoWrapper .passengerBox{
    padding-top: 15px;
    padding-bottom: 15px;
}

.passengerInfoWrapper .passengerBoxRow{
    line-height: 40px
}

.passengerInfoWrapper .passengerSeq{
    padding: 5px 5px 5px 20px;
    background: #f48131;
    border:  2px solid #bcbec0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    color: white;
    line-height: 40px;
    font-weight: 500;
}

.passengerInfoWrapper .title{
    border-right:  2px solid #bcbec0;
}

.passengerInfoWrapper .border1s{
    border-bottom:  2px solid #bcbec0;
    border-left:  2px solid #bcbec0;
    border-right:  2px solid #bcbec0;
}

.passengerInfoWrapper .passengerBox .border1s:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.passengerInfoWrapper .red{
    color: red;
}

.passengerInfoWrapper .passengerBox  .form-control{
    border: 0px;
}

.passengerInfoWrapper .p0{
    padding: 0px;
}

.passengerInfoWrapper .noBorder{
    border: 0px solid;
}

.passengerInfoWrapper .borderRadius20{
    border-bottom-right-radius: 10px;
}

.passengerInfoWrapper .btn-atk-primary {
    font-size: 18px;
    background-color: #37BDE0;
    border-bottom: 3px solid #389ABF;
    color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 2rem;
    cursor: pointer;
}

.passengerInfoWrapper .btn-atk-danger {
    font-size: 18px;
    background-color: #EC1D23;
    border-bottom: 3px solid #ad1616;
    color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 2rem;
    cursor: pointer;
}

.passengerInfoWrapper .buttonWrapper{
    text-align: right;
}

.passengerInfoWrapper select.form-control{
    color: black;
}

@media screen and (max-width: 766px) {

    .passengerInfoWrapper .title{
        border: 0px solid;
        border-bottom:  2px solid #bcbec0;
    }
    .passengerInfoWrapper .passengerBox .borderRadius20:last-child {
        border-bottom-left-radius: 10px;
    }
  }

  @media screen and (max-width: 480px) {
    .passengerInfoWrapper .passengerInfoWrapper{
        padding: 15px 5% 0px 5%;
    }
    .passengerInfoWrapper .btn-atk-danger {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .passengerInfoWrapper .btn-atk-primary {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .passengerInfoWrapper .passengerSeq{
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
    }

    .passengerInfoWrapper .busTopic{
        text-align: center;
    }

    .passengerInfoWrapper .busTopic img{
        max-width: 80px;
    }
    .passengerInfoWrapper .passengerInfo span {
        font-size: 16px;
        font-weight: 500;
    }
    .passengerInfoWrapper .busTopic span{
        font-size: 16px;
        padding: 0px;
        font-weight: 600;
    }
}

@media screen and (max-width: 480px) {
    .passengerInfoWrapper .passengerSeq{
        font-size: 14px;
    }
}