.passengerInfoWrapper{
    padding: 15px 15% 0px 15%;
}
.busTopic img{
    max-width: 100px;
    height: auto;
}

.busTopic span{
    font-size: 22px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-weight: 700
}

.passengerInfo {
    padding-top: 15px;
    font-size: 18px;
}

.passengerInfo img {
    max-width: 50px;
    height: auto;
}

.passengerInfo span {
    font-weight: 700
}


.passengerBox{
    padding-top: 15px;
    padding-bottom: 15px;
}

.passengerBoxRow{
    line-height: 40px
}

.passengerSeq{
    padding: 5px 5px 5px 20px;
    background: #f48131;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    color: white;
    line-height: 40px;
    font-weight: 500;
}

.title{
    border-right: 1px solid black;
}

.border1s{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.passengerBox .border1s:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.red{
    color: red;
}

.passengerBox  .form-control{
    border: 0px;
}

.p0{
    padding: 0px;
}

.noBorder{
    border: 0px solid;
}

.borderRadius20{
    border-bottom-right-radius: 10px;
}

.btn-atk-primary {
    font-size: 18px;
    background-color: #37BDE0;
    border-bottom: 3px solid #389ABF;
    color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 2rem;
    cursor: pointer;
}

.btn-atk-danger {
    font-size: 18px;
    background-color: #EC1D23;
    border-bottom: 3px solid #ad1616;
    color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 2rem;
    cursor: pointer;
}

.buttonWrapper{
    text-align: right;
}

@media screen and (max-width: 766px) {

    .title{
        border: 0px solid;
        border-bottom: 1px solid black;
    }
    .passengerBox .borderRadius20:last-child {
        border-bottom-left-radius: 10px;
    }
  }

  @media screen and (max-width: 480px) {
    .passengerInfoWrapper{
        padding: 15px 5% 0px 5%;
    }
    .btn-atk-danger {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .btn-atk-primary {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .passengerSeq{
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
    }

    .busTopic{
        text-align: center;
    }

    .busTopic img{
        max-width: 80px;
    }
    .passengerInfo span {
        font-size: 16px;
        font-weight: 500;
    }
    .busTopic span{
        font-size: 16px;
        padding: 0px;
        font-weight: 600;
    }
}

@media screen and (max-width: 480px) {
    .passengerSeq{
        font-size: 14px;
    }
}