<div class="social-logo-wrapper mt-5 pb-3">
    <div class="row">
        <div class="col-6 col-sm-6 logo-facebook">
            <img src="../../../assets/images/fb.png" />
        </div>
        <div class="col-6 col-sm-6 logo-youtube">
            <img src="../../../assets/images/yt.png" />
        </div>
    </div>
</div>

<section class="footer-detail">
    <div class="container">
        <div class="row">
            <aside id="aboutUs" class="col-sm-12 col-md-4">
                <h3>ABOUT US</h3>

                <div class="row">
                    <div class="col-12">
                        <p>
                            Counter Service All Ticket
                            <br> Online booking and service tickets : <br>concerts, sports, shows and travel with a 24
                            <br> hour right here at counter service
                        </p>
                    </div>
                </div>
            </aside>

            <aside id="faq" class="col-sm-12 col-md-4">
                <h3>FAQ</h3>

                <div class="row">
                    <div class="col-12">
                        <ul class="footer">
                            <li>
                                <i class="fa fa-chevron-right"></i>
                                <span>
                                    <a routerLink="/faq">How to Buy</a>
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i>
                                <span>
                                    <a routerLink="/faq">How to Pay</a>
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i>
                                <span>
                                    <a routerLink="/faq">Pick Up Ticket</a>
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i>
                                <span>
                                    <a routerLink="/policy">Privacy Policy</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>

            <aside id="contactUs" class="col-sm-12 col-md-4">
                <h3>CONTACT US</h3>

                <div class="row">
                    <div class="col-12">
                        <ul class="footer">
                            <li>
                                <div class="contact-detail">
                                    <div class="contact-icon">
                                        <i class="fa fa-2x fa-home"></i>
                                    </div>

                                    <div class="contact-desc">
                                        <span>
                                            COUNTER SERVICE CO.LTD
                                            <br> 119 TARASATHON BLDG.,FLOOR 4-6
                                            <br> SATHORN SOI 5, SOUTH SATHORN RD.,
                                            <br> THUNGMAHAMEK, SATHORN, BANGKOK 10120,
                                            <br> THAILAND
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="contact-detail">
                                    <div class="contact-icon">
                                        <i class="fa fa-2x fa-envelope"></i>
                                    </div>

                                    <div class="contact-desc">
                                        <span class="font-weight-normal">Customer Support</span>
                                        <p>support@allticket.com</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="contact-detail">
                                    <div class="contact-icon">
                                        <i class="fa fa-2x fa-envelope"></i>
                                    </div>

                                    <div class="contact-desc">
                                        <span class="font-weight-normal">Sales Support</span>
                                        <p>sales@allticket.com</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <aside id="copyright">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h5 class="font-weight-light is-size-6-mobile">
                    © 2018 Counter Service Co., Ltd. All Rights Reserved © ลิขสิทธิ์ โดย บริษัท เคาน์เตอร์เซอร์วิส™ จำกัด
                </h5>
            </div>
        </div>
    </aside>
</section>