.social-logo-wrapper {
    padding-right : 15px;
    padding-left : 15px;
}

.logo-facebook {
    border-top : 12px solid #3a3ed6;
    text-align: center;
}

.logo-youtube {
    border-top : 12px solid #ff1e1e;
    text-align: center;
}

.logo-facebook img {
    margin-top : 2rem;
}

.logo-youtube img {
    margin-top : 1rem;
}

.logo-facebook img , .logo-youtube img {
    max-width: 200px;
    max-height: 100px;
}

.footer-detail {
    padding-left : 15px;
    padding-right : 15px;
    font-weight: 100;
    padding : 2rem 4rem;
    background-color : #333333;
    color : white;
}

.footer-detail section h3 {
    font-size : 26px;
}

#aboutUs p {
    margin-top : 1.5rem;
}

ul.footer {
    margin-top : 1.5rem;
    list-style: none;
    padding-left : 0;
}

#faq ul > li:after {
    content: "";
    display: block;
    width: 70%;
    border-bottom : 2px solid #fff;
    padding-bottom : 0.5rem;
    margin-bottom : 1.2rem;
}

#faq ul > li > i {
    color : #F8A422;
}

#faq ul > li a {
    color : white;
    text-decoration: none;
}

#faq ul > li > span {
    margin-left : 0.5rem;
}

#contactUs  ul  li {
    margin-top : 1rem;
}
.contact-detail i {
    color : #F8A422;
}

.contact-detail .contact-icon {
    float : left;
}

.contact-detail .contact-desc {
    margin-left : 3rem;
}

@media (max-width : 479px) {

    #faq ul > li:after {
        width: 100%;
    }

    .footer-detail {
        padding : 1rem 2rem;
    }

    .logo-facebook img {
        margin-top : 1rem;
    }
    
    .logo-youtube img {
        margin-top : 0.5rem;
    }
}
@media (max-width : 767px) {
    
    .logo-facebook img , .logo-youtube img {
        max-width: 60%;
    }
}