.t-underline {
  border-bottom: 2px solid #F8A422;
}

.b-r-12 {
  border-radius: 12px
}

.b-2px-grey {
  border: 2px solid #ced4da;
}

.p-v10-h5 {
  padding: 5px 10px;
}

.p-v0-h10 {
  padding: 10px 0px;
}

.p-l-60 {
  padding-left: 60px;
}

.bg-cream {
  background-color: #e3cb81;
}

.bg-grey {
  background-color: #666666;
}


.calendarWrapper {
  width: 60%;
}

.custom-radio .custom-control-label::before,
.custom-radio .custom-control-label::after {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px
}

.custom-control-label {
  padding-top: 10px;
  padding-bottom: 10px
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: #F8A422;
}

.custom-control-input:checked~.custom-control-label {
  background-color: #048bc1;
  color: white;
}

.m-imagemap {
  margin: 0 auto;
  width: 100% !important;
  height: auto;
}

.imagemap__item {
  height: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.box {
  grid-column: span 1;
  border: 2px solid #333333;
  width: 30px;
  height: 30px;
}

.stage {
  color: white;
  font-weight: 600;
  letter-spacing: 10px;
}

.over-x {
  overflow-x: auto;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.seat {
  display: flex;
  flex: 0 0 14.28571428571429%;
  padding: 3px;
  position: relative;
}

.seat input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.seat input[type=checkbox]:checked+label {
  background: rgb(10, 247, 42);
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
  content: "sdsd";
  z-index: 999;
}

.seat input[type=checkbox]:disabled+label {
  background: #dddddd;
  text-indent: -9999px;
  overflow: hidden;
}

.seat input[type=checkbox]:disabled+label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.seat input[type=checkbox]:disabled+label:hover {
  box-shadow: none;
  cursor: not-allowed;
}

.seat label {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #5C6AFF;
}

label {
  padding: 0;
  margin: 0;
}


::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #f48131;
}

::-webkit-scrollbar-thumb:hover {
  background: #048bc1;
}

#avaDateTime,
#chooseZone,
#chooseNonSeat,
#chooseSeat {
  display: none;
}

#avaDateTime.show, #chooseZone.show, #chooseNonSeat.show, #chooseSeat.show {
  display: inline !important;
}

.m-imagemap img {
  max-width: 600px;
  height: auto;
}

::ng-deep .fc-content {
  cursor: pointer;
  color: white;
  border: 0px;
  text-align: center;
}


.nonSeatSelector {
  display: none;
  width: 85%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  background-color: rgba(202, 209, 243, 0.3);
  border-radius: 5px;
  border: 1px solid #ecec;
}

.nonSeatSelector.show {
  display: block;
}

.nonSeatSelector .zone-detail {
  margin-bottom: 1rem;
}

.nonSeatSelector .zone-desc {
  margin-left: 1rem;
  font-size: 13.5px;
}

.nonSeatSelector .zone-desc p {
  margin-bottom: 0;
}

.nonSeatSelector select.form-control {
  width: 70px;
}

.ul-num-ticket {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.li-num-ticket {
  float: left;
  padding: 2px;
}

.li-num-ticket a {
  display: block;
  cursor: pointer;
  color: #999999;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: #ADB1B8;
  border-radius: 5px;
}

.li-num-ticket a:hover {
  background-color: #eee;
  color: #111;
}

.li-num-ticket-select {
  float: left;
  padding: 2px;
}

.li-num-ticket-select a {
  display: block;
  color: #111;
  font-weight: 900px;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: #e77600;
  background: #fef8f2;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .imagemap__item {
    width: 100% !important;
  }
  .imagemap__item {
    width: 100% !important;
  }
}

@media screen and (max-width: 640px) {
  .calendarWrapper {
    width: 100%;
  }

  .nonSeatSelector {
    width: 100%;
  }

  .nonSeatSelector select.form-control {
    width: 50px;
    padding: 0 .5rem;
  }

  .nonSeatSelector .zone-desc {
    margin-left: -15px;
  }
  
}
@media screen and (min-width: 48em) {
  .imagemap__item:target {
    display: block;
  }
  .imagemap__item:target>.imagemap__text {
    display: block;
  }
}
