.discount-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    padding: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.discount-item .discount-image {
    display: flex;
    justify-content: center;
}

.discount-item .discount-image img {
    min-height: 60px;
    border-radius: 5px;
}

.discount-item i {
    position: absolute;
    right: 0.5rem;
    top: -0.5rem;
    color: #07ab07;
    display: none;
}

.discount-item.selected i {
    display: block;
}

.discount-item .discount-desc , .discount-item .discount-title {
    margin-top: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
    justify-content: center;
}

.discount-selected {
    margin-top: 2rem;
}

.blur {
    opacity: 0.3;
}

.owl-carousel {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

#discount-wrapper .form-control {
    max-width: 220px;
}

@media (max-width: 768px) {
    .btn-atk-primary , .btn-atk-danger {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        font-size: 14px;
    }
}