<div class="container">
  <div class="row mt-4">
    <div class="col-10 offset-1">
      <h3>
        Discount
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1" id="discount-wrapper">
      <div class="owl-carousel">
        <ng-container *ngFor="let discount of discountItems">
          <div class="discount-item" id="{{discount.discountId}}">
            <i class="fa fa-check-circle fa-2x"></i>
            <div class="discount-image">
              <img class="img-fluid" [src]="discount.image_path"/>
            </div>
            <div class="discount-title discountItemInfoName">{{discount.title_name}}</div>
            <div class="discount-desc">{{discount.description}}</div>
          </div>
        </ng-container>
      </div>

      <div class="row discount-selected">
        <div class="col-11 offset-1 col-sm-5 offset-sm-0 text-sm-right mt-3 align-self-center">
          <label for="" class="discountInputLabel">สิทธิ์ส่วนลดที่เลือก :</label>
        </div>
        <div class="col-12 col-sm-7 text-center text-sm-left mt-0 mt-sm-3">
          <input type="text" id="" class="form-control d-inline-block" value="ATK DISCOUNT" readonly/>
        </div>

        <div class="col-11 offset-1 col-sm-5 offset-sm-0 text-sm-right mt-3 align-self-center">
            <label for="" class="discountInputLabel">หมายเลขบัตร :</label>
        </div>
        <div class="col-12 col-sm-7 text-center text-sm-left mt-0 mt-sm-3">
          <input type="text" id="" class="form-control d-inline-block"/>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5 d-flex justify-content-center is-size-6-mobile">
      <button class="btn btn-atk-danger px-lg-4" id="unUseDisBtn">NOT USE DISCOUNT</button>
      <button class="btn btn-atk-primary px-lg-4 ml-2" id="useDisBtn">USE DISCOUNT</button>
    </div>
  </div>
</div>