<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <button (click)="showDialog()"> test </button>
<p-dialog [(visible)]="isDisable">
    <p-header>
        Header content here
    </p-header>
    Content
    <p-footer>
    </p-footer>
</p-dialog> -->
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">@example.com</span>
    </div>
  </div>
  
<jaspero-alerts [defaultSettings]="options"></jaspero-alerts>
<!-- <button (click)="open()"> test </button> -->