<div class="eventtypeWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 iconTopic">
        <span>RUNNING
          <img src="https://atkmedia.allticket.com/assets/images/running.png">
        </span>
      </div>
    </div>
    <div class="row cpt20" id="CONTENT_RUNNING">
      <div class="col-md-6 col-sm-6 col-lg-3 card align-items-center align-items-lg-stretch cardwrapper">
        <div class="cardbox" ev-id="EV_17440" skip-info="N">
          <div class="card-overlay" title="วิ่งสร้างเมือง">
            <img src="https://atkmedia.allticket.com/assets/images/cursor.png">
          </div>
          <img class="card-img-top imgResponsive" src="https://atkmedia.allticket.com/assets/content/17440/IMC17440190120181758TicketCard1.jpg"
            alt="Card image cap">
          <div class="card-buyTicket">
            <a href="#">
              <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
              <span>BUY TICKET</span>
            </a>
          </div>
          <div class="row cardfooter">
            <div class="col-5 eventDate text-overflow">
              <span class="textblack">25
                <br>FEB/2018</span>
              <br>
            </div>
            <div class="col-7 align-self-center eventName text-overflow px-1">
              <div class="my-1 text-overflow">วิ่งสร้างเมือง</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
