<div class="container mt-4" scrollable [heightTrigger]="50" (scrollPosition)="headerHandler($event)" *ngIf="cardTickets else notFound">
  <div class="card-ticket px-4">
    <div class="row">
      <div class="col-md-12 iconTopic">
        <span class="displayGenre">{{displayCategory}}
          <img [src]="categoryImagePath">
        </span>
      </div>
    </div>
    <card-ticket [cardData]="cardTickets" class="mt-2"></card-ticket>
  </div>
</div>

<ng-template #notFound>

  <div class="container prevent-white-space mt-4" [ngClass]="{ 'spinner-loading' : isLoading }" *ngIf="isLoading">

  </div>
  <div class="container d-flex prevent-white-space mt-4 justify-content-center" *ngIf="!isLoading && cardTickets == undefined">
    <div class="align-self-center">
      <img class="img-fluid" src="//atkmedia.allticket.com/assets/images/allticket-comming-soon-btn.png">
    </div>
  </div>
</ng-template>