.displayGenre {
    font-size: 28px;
}

.prevent-white-space {
    min-height: 240px;
}

img {
    max-height: 70px;
}

.spinner-loading {
    position: relative;
}

.spinner-loading:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #077eff;
    border-bottom-color: #077eff;
    z-index: 2;
    animation: spinner 0.9s ease infinite;
  }
  
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}