<div class="container-fluid">
  <h3 class="text-center mt-3 is-size-4-mobile">Purchase History</h3>


  <div class="text-center text-sm-right c-red">
    *Information will be updated every 5 minutes
  </div>

  <div class="row mx-0 mt-2">
    <div class="col-12 col-md-6 px-0 history-title has-border" (click)="showEventHis()">Purchase History Event</div>
    <div class="col-12 col-md-6 px-0 history-title" (click)="showBusHis()">Purchase History Bus</div>
  </div>
  
  <ng-container *ngIf="eventHis">
    <table class="atk-responsive-table">
      <thead>
        <tr>
          <th scope="col">Reserve Date</th>
          <th scope="col">Event Name</th>
          <th scope="col">Venue</th>
          <th scope="col">Date & Time</th>
          <th scope="col">Seat No.</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Paid Date</th>
          <th scope="col">Payment Status</th>
          <th scope="col">Payment Channel</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row" data-label="Reserve Date">21/03/2018 12:23:38</td>
          <td data-label="Event Name">Sunset Beach Music Festival 2018</td>
          <td data-label="Venue">ร้านปลาทู หาดชะอำ จ.เพชรบุรี</td>
          <td data-label="Date & Time">31/03/2018 15:00:00</td>
          <td data-label="Seat No.">Festival Seat</td>
          <td data-label="Unit Price">679.00</td>
          <td data-label="Paid Date">14/04/2018 13:33</td>
          <td data-label="Payment Status">Reserve</td>
          <td data-label="Payment Channel">C07</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td scope="row" data-label="Reserve Date">21/03/2018 12:23:38</td>
          <td data-label="Event Name">EXO 2018</td>
          <td data-label="Venue">Thunder Dome</td>
          <td data-label="Date & Time">16/03/2018 15:00:00</td>
          <td data-label="Seat No.">SH-02</td>
          <td data-label="Unit Price">6000.00</td>
          <td data-label="Paid Date">02/03/2018 13:33</td>
          <td data-label="Payment Status">Reserve</td>
          <td data-label="Payment Channel">C07</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  
  <ng-container *ngIf="busHis">
    <table class="atk-responsive-table">
      <thead>
        <tr>
          <th scope="col">Bus Route</th>
          <th scope="col">Unit Price (Baht)</th>
          <th scope="col">Paid Date</th>
          <th scope="col">Payment Status</th>
          <th scope="col">Payment Channel</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row" data-label="Bus Route">กรุงเทพ(สายใต้ใหม่) - กระบี่(อ.คลองท่อม)</td>
          <td data-label="Unit Price (Baht)">547.00</td>
          <td data-label="Paid Date">11/12/2017 12:34:56</td>
          <td data-label="Payment Status">Reserve</td>
          <td data-label="Payment Channel">C07</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>