.history-title {
  text-align: center;
  background-color: #1f2e31;
  color: white;
  margin-bottom: -1px;
  cursor: pointer;
}
.history-title:hover {
  color: #e2e2de;
}
.history-title.has-border{
  border-right: 2px solid #f8feff;
}
.atk-responsive-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.atk-responsive-table th {
  background-color: #6c7ae0;
  color: #fff;
}

.atk-responsive-table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

.atk-responsive-table th,
.atk-responsive-table td {
  padding: .625em;
  text-align: center;
}

.atk-responsive-table th {
  font-size: .85em;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .atk-responsive-table {
    border: 0;
  }

  .atk-responsive-table caption {
    font-size: 1.3em;
  }
  
  .atk-responsive-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .atk-responsive-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .atk-responsive-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  .atk-responsive-table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .atk-responsive-table td:last-child {
    border-bottom: 0;
  }

  .history-title.has-border{
    border-right: 0;
    border-bottom: 2px solid #f8feff;
  }
}