<div class="overlay" *ngIf="showOverlay" (click)="overlayClicked($event)"></div>
<header id="header">
    <nav #navSideBar id="nav-sidebar">
        <div class="sidebar-header">
            <a href="index.html" class="standard-logo">
                <img class="img-fluid" src="../assets/images/allticket-logo.png" alt="Allticket Logo">
            </a>
        </div>
        <div class="sidebar-setting" *ngIf="isMobileSize">
            <div class="col-lg-2 flag-wrapper">
                <img class="flag" src="../assets/images/uk-flag.png" alt="English" />
                <img class="flag" src="../assets/images/th-flag.png" alt="ภาษาไทย" />
            </div>
        </div>
        <div class="sidebar-content" *ngIf="isMobileSize">
            <div class="col-lg-5 login-wrapper">
                <button class="btn btn-Login" id="loginBtn">
                    <a class="atk-size-3" href="#Register">Register / Log In</a>
                </button>
            </div>

            <div class="navbar-collapse justify-content-md-center">
                <ul class="navbar-nav mainMenu">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../eventTickets/concert.html">Concert</a>
                    </li>
                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle>Sport</a>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a class="dropdown-item" href="../eventTickets/football.html">Football</a>
                            <a class="dropdown-item" href="../eventTickets/racing.html">Racing</a>
                            <a class="dropdown-item" href="../eventTickets/running.html">Running</a>
                            <a class="dropdown-item" href="../eventTickets/#">Others</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../eventTickets/themepark.html">Theme Park</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../eventTickets/seminar.html">Seminar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../eventTickets/education.html">Education</a>
                    </li>
                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle>Transportation</a>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a class="dropdown-item" href="../eventTickets/airlines.html">Airline</a>
                            <a class="dropdown-item" href="../eventTickets/travel.html">Travel</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../eventTickets/shopping.html">Shopping</a>
                    </li>
                </ul>
            </div>

            <!-- $('.flag-wrapper').appendTo('.sidebar-setting');
                  $('.login-wrapper').appendTo('.sidebar-setting');
                  $('#navbar-menu').appendTo('.sidebar-content');
                  $('.header-search').addClass('d-none'); -->
        </div>
    </nav>

    <div class="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-10 col-lg-3 offset-lg-1 header-logo">
                    <a href="../index.html" class="standard-logo">
                        <img src="../assets/images/allticket-logo.png" alt="Allticket Logo">
                    </a>
                </div>
                <div class="col-2 p-3 mt-1 d-block d-lg-none">
                    <span id="nav-icon" (click)="triggerSidebar()">
                        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="col-12 col-lg-8 header-search" *ngIf="!isMobileSize">
                    <div class="row" id="subHeader">
                        <div class="col-lg-5">
                        </div>
                        <div class="col-lg-2 flag-wrapper">
                            <img class="flag" src="../assets/images/uk-flag.png" alt="English" />
                            <img class="flag" src="../assets/images/th-flag.png" alt="ภาษาไทย" />
                        </div>
                        <div class="col-lg-5 login-wrapper">
                            <button class="btn btn-Login" id="loginBtn">
                                <a class="atk-size-3" href="#Register">Register / Log In</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="primary-menu-wrapper d-none d-lg-block" *ngIf="!isMobileSize">
        <div class="row">
            <div class="col-md-12 navbar-container">
                <nav class="navbar navbar-expand-lg rounded" id="navbar-menu">
                    <div class="navbar-collapse justify-content-md-center">
                        <ul class="navbar-nav mainMenu">
                            <li class="nav-item active">
                                <a class="nav-link" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../eventTickets/concert.html">Concert</a>
                            </li>
                            <li class="nav-item dropdown" ngbDropdown>
                                <a class="nav-link dropdown-toggle" ngbDropdownToggle>Sport</a>
                                <div class="dropdown-menu" ngbDropdownMenu>
                                    <a class="dropdown-item" href="../eventTickets/football.html">Football</a>
                                    <a class="dropdown-item" href="../eventTickets/racing.html">Racing</a>
                                    <a class="dropdown-item" href="../eventTickets/running.html">Running</a>
                                    <a class="dropdown-item" href="../eventTickets/#">Others</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../eventTickets/themepark.html">Theme Park</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../eventTickets/seminar.html">Seminar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../eventTickets/education.html">Education</a>
                            </li>
                            <li class="nav-item dropdown" ngbDropdown>
                                <a class="nav-link dropdown-toggle" ngbDropdownToggle>Transportation</a>
                                <div class="dropdown-menu" ngbDropdownMenu>
                                    <a class="dropdown-item" href="../eventTickets/airlines.html">Airline</a>
                                    <a class="dropdown-item" href="../eventTickets/travel.html">Travel</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../eventTickets/shopping.html">Shopping</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="login-box" id="loginModal">
        <button type="button" class="close" id="closeLoginModal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="p-3" style="text-align: center">
            <h3>Sign in</h3>
            <!-- <img class="login-facebook" src="../assets/images/facebook_btn.png"> -->
        </div>
        <!-- <div class="or">
                    <span>OR</span>
                </div> -->
        <form class="email-login mt-4">
            <div class="u-form-group">
                <input type="email" class="form-control" placeholder="Email" />
            </div>
            <div class="u-form-group mt-3">
                <input type="password" class="form-control" placeholder="Password" />
            </div>
            <div class="u-form-group groupoption">
                <div class="row">
                    <!-- <div class="col-md-6 col-sm-6" style="text-align: left">
                                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span style="font-size: 14px ">Remember me</span>
                                </label>
                            </div> -->
                    <div class="col-12 text-right">
                        <a id="forgotPwdBtn" href="#">Forgot password?</a>
                    </div>
                </div>
            </div>
            <div class="u-form-group signin">
                <button class="signin-button">Sign in</button>
            </div>
            <hr class="under-signin">
            <div class="col-md-12 p-2">
                <p class="font-weight-bold">Not a member ?</p>
                <div class="col-md-12" id="signUpBtn" style="margin-top: -10px">
                    <a href="#">Sign up</a>
                </div>
            </div>
        </form>
    </div>


    <div class="signup-box" id="signupModal">
        <button type="button" class="close" id="closeSignupModal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div style="text-align: center">
            <h3>Register</h3>
            <!-- <img class="login-facebook" src="../assets/images/facebook_btn.png"> -->
            <div class="col-md-12 col-sm-12 mt-2" style="z-index: 99">
                Already member ?
                <a id="loginBtn-modal" href="#"> Sign in</a>
            </div>
        </div>
        <!-- <div class="or">
                                <span>OR</span>
                            </div> -->
        <form class="email-register">
            <div class="reg-form-group">
                <div class="col-md-12 col-sm-12 topic">
                    <span>*</span> Email</div>
                <div class="col-md-12 col-sm-12 information">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="reg-form-group">
                <div class="col-md-12 col-sm-12 topic">
                    <span>*</span> Password</div>
                <div class="col-md-12 col-sm-12 information">
                    <input type="password" class="form-control" />
                </div>
            </div>
            <div class="reg-form-group">
                <div class="col-md-12 col-sm-12 topic">
                    <span>*</span> Password Confirmation</div>
                <div class="col-md-12 col-sm-12 information">
                    <input type="password" class="form-control" />
                </div>
            </div>
            <div class="col-md-12 col-sm-12 personinformation">Personal Information</div>
            <div class="reg-form-group">
                <div class="col-md-12 col-sm-12 topic">
                    <span>*</span> First name</div>
                <div class="col-md-12 col-sm-12 information">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="reg-form-group">
                <div class="col-md-12 col-sm-12 topic">
                    <span>*</span> Last name</div>
                <div class="col-md-12 col-sm-12 information">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="reg-form-group">
                <div class="col-md-12 col-sm-12 topic">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <label class="custom-control custom-radio">
                                <input id="radio1" name="radio" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Male</span>
                            </label>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <label class="custom-control custom-radio">
                                <input id="radio2" name="radio" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Female</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reg-form-group">
                <div class="col-md-12 col-sm-12 topic">
                    Birthday(Date/Month/Year)</div>
                <div class="col-md-12 col-sm-12 information">
                    <div class="row">
                        <div class="form-group ">
                            <select class="form-control dropdownCustom" id="select-date">
                                <option value="">01</option>
                                <option value="">02</option>
                                <option value="">03</option>
                                <option value="">04</option>
                                <option value="">05</option>
                                <option value="">06</option>
                                <option value="">07</option>
                                <option value="">08</option>
                                <option value="">09</option>
                                <option value="">10</option>
                                <option value="">11</option>
                                <option value="">12</option>
                                <option value="">13</option>
                                <option value="">14</option>
                                <option value="">15</option>
                                <option value="">16</option>
                                <option value="">17</option>
                                <option value="">18</option>
                                <option value="">19</option>
                                <option value="">20</option>
                                <option value="">21</option>
                                <option value="">22</option>
                                <option value="">23</option>
                                <option value="">24</option>
                                <option value="">25</option>
                                <option value="">26</option>
                                <option value="">27</option>
                                <option value="">28</option>
                                <option value="">29</option>
                                <option value="">30</option>
                                <option value="">31</option>
                            </select>
                        </div>
                        <div class="form-group " style="padding: 0px 10px 0px 10px">
                            <select class="form-control dropdownCustomMM" id="select-month">
                                <option>January</option>
                                <option>Feburay</option>
                                <option>March</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option>October</option>
                                <option>November</option>
                                <option>December</option>
                            </select>
                        </div>
                        <div class="form-group ">
                            <select class="form-control dropdownCustom" id="select-year">
                                <option value="">1980</option>
                                <option value="">1981</option>
                                <option value="">1982</option>
                                <option value="">1983</option>
                                <option value="">1984</option>
                                <option value="">1985</option>
                                <option value="">1986</option>
                                <option value="">1987</option>
                                <option value="">1988</option>
                                <option value="">1989</option>
                                <option value="">1990</option>
                                <option value="">1991</option>
                                <option value="">1992</option>
                                <option value="">1993</option>
                                <option value="">1994</option>
                                <option value="">1995</option>
                                <option value="">1996</option>
                                <option value="">1997</option>
                                <option value="">1998</option>
                                <option value="">1999</option>
                                <option value="">2000</option>
                                <option value="">2001</option>
                                <option value="">2002</option>
                                <option value="">2003</option>
                                <option value="">2004</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="reg-form-group">
                    <div class="col-md-12 col-sm-12 topic">
                        <label class="custom-control custom-radio">
                            <input id="radio1" name="radio" type="radio" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">ID Card No.</span>
                        </label>
                        OR &nbsp&nbsp&nbsp
                        <label class="custom-control custom-radio">
                            <input id="radio2" name="radio" type="radio" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Passport No.</span>
                        </label>
                    </div>
                    <div class="col-md-12 col-sm-12 information">
                        <input type="text" />
                    </div>
                </div>
                <div class="reg-form-group">
                    <div class="col-md-12 col-sm-12 topic">
                        Mobile Phone Number</div>
                    <div class="col-md-12 col-sm-12 information">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-secondary dropdown-toggle telcountry" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="../assets/images/th-flag.png" style="width: 20px">
                                </button>
                                <div class="dropdown-menu">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="099 123 4567">
                        </div>
                    </div>
                </div>
                <div class="reg-form-group">
                    <div class="col-md-12 col-sm-12 topic">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span style="font-size: 14px ">
                                <span>*</span> Accept
                                <a href="">
                                    <span>Terms of Service</span>
                                </a>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="reg-form-group">
                    <div class="col-md-12 col-sm-12 topic">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span style="font-size: 14px ">
                                &nbsp Accept the newsletter
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 u-form-group">
                <button class="signin-button" type="button">Sign up</button>
            </div>
        </form>
    </div>

    <div class="forgot-box" id="forgotPasswordModal">
        <button type="button" class="close" id="closeForgotBox">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="text-center mt-2">
            <h5>Forgot Password</h5>
        </div>
        <form class="forgot-password">
            <div class="reg-form-group">
                <div class="col-md-12 col-sm-12 mt-4">
                    <span>*</span> Email</div>
                <div class="col-md-12 col-sm-12 mt-2">
                    <input id="forgotPwd-value" type="email" class="form-control" />
                </div>
            </div>
            <div class="col-md-12 u-form-group text-center">
                <button class="signin-button" type="button">Confirm</button>
            </div>
        </form>
    </div>
</header>