<div class="overlay" *ngIf="showOverlay" (click)="overlayClicked($event)"></div>
<header id="header">
  <div class="close-sidebar" #closeSideBar>
    <i class="fa fa-times fa-2x" aria-hidden="true" (click)="closeAllDialog()"></i>
  </div>
  <nav #navSideBar id="nav-sidebar">
    <div class="sidebar-header">
      <div class="row">
        <div class="col-8">
          <a (click)="routeMenu('/')" class="standard-logo">
            <img class="img-fluid" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/allticket-logo.png"
              alt="Allticket Logo">
          </a>
        </div>
        <div class="col-4 align-self-center" *ngIf="isWindowSize">
          <div class="row">
            <div class="col-6 px-0">
              <img class="flag language-flag" lang-val="en" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/uk-flag-icon.png"
                alt="English" />
            </div>
            <div class="col-6 px-0">
              <img class="flag language-flag" lang-val="th" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/th-flag-icon.png"
                alt="ภาษาไทย" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-content" *ngIf="isWindowSize">
      <div class="col-lg-5 login-wrapper">
        <ng-container *ngIf="userMenu">
          <button class="btn userMenu" id="userInfoMenu" data-toggle="dropdown">
            <a class="nav-link dropdown-toggle text-overflow-ellipsis">{{firstNameView}} {{lastNameView}}</a>
          </button>
          <div class="userMenu">
            <div class="dropdown-menu">
              <a class="dropdown-item" id="editProfile" (click)="userTriggerDialog(userActionTrigger.edit)">Edit Profile</a>
              <a class="dropdown-item" (click)="routeHistory()">Purchase History</a>
              <a class="dropdown-item" (click)="userTriggerDialog(userActionTrigger.change)">Change Password</a>
              <a class="dropdown-item" (click)='logout()'>Log Off</a>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="RegAndLog">
          <button class="btn btn-Login" (click)="triggerDialog(actionTrigger.login)" id="loginBtn">
            <a class="atk-size-3" href="#">Register / Log In</a>
          </button>
        </ng-container>
      </div>
      <div class="navbar-collapse justify-content-md-center">
        <ul class="navbar-nav mainMenu">
          <ng-container *ngFor="let header of headerModel;">
            <li class="nav-item" *ngIf="header.dropdownList == null">
              <a class="nav-link" (click)="routeMenu(header.routeTo)">{{header.displayNameEng}}</a>
            </li>
            <ng-container *ngIf="header.dropdownList != null">
              <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>{{header.displayNameEng}}</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <a class="dropdown-item" *ngFor="let dropdown of header.dropdownList;" (click)="routeMenu(dropdown.routeTo)">{{dropdown.displayNameEng}}</a>
                </div>
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>


  <div class="header-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-9 col-sm-10 col-md-11 col-lg-3 offset-lg-1 header-logo">
          <a (click)="routeMenu('/')" class="standard-logo">
            <img src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/allticket-logo.png" alt="Allticket Logo">
          </a>
        </div>
        <div class="col-3 col-sm-2 col-md-1 p-3 mt-1 align-self-center d-block d-lg-none">
          <span id="nav-icon" (click)="triggerSidebar()">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
          </span>
        </div>
        <div class="col-12 col-lg-8 header-search" *ngIf="!isMobileSize">
          <div class="row" id="subHeader">
            <div class="col-lg-2 offset-lg-5 flag-wrapper">
              <img class="flag language-flag" lang-val="en" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/uk-flag-icon.png"
                alt="English" />
              <img class="flag language-flag" lang-val="th" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/th-flag-icon.png"
                alt="ภาษาไทย" />
            </div>
            <div class="col-lg-5 login-wrapper">
              <ng-container *ngIf="userMenu">
                <button class="btn userMenu" id="userInfoMenu" data-toggle="dropdown">
                  <a class="nav-link dropdown-toggle text-overflow-ellipsis">{{firstNameView}} {{lastNameView}}</a>
                </button>
                <div class="userMenu">
                  <div class="dropdown-menu">
                    <a class="dropdown-item" id="editProfile" (click)="userTriggerDialog(userActionTrigger.edit)">Edit Profile</a>
                    <a class="dropdown-item" routerLink="/history">Purchase History</a>
                    <a class="dropdown-item" (click)="userTriggerDialog(userActionTrigger.change)">Change Password</a>
                    <a class="dropdown-item" (click)='logout()'>Log Off</a>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="RegAndLog">
                <button class="btn btn-Login" (click)="triggerDialog(actionTrigger.login)" id="loginBtn">
                  <a class="atk-size-3" href="#">Register / Log In</a>
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="primary-menu-wrapper d-none d-lg-block" *ngIf="!isMobileSize">
    <div class="row">
      <div class="col-md-12 navbar-container">
        <nav class="navbar navbar-expand-lg rounded" id="navbar-menu">
          <div class="navbar-collapse justify-content-md-center">
            <ul class="navbar-nav mainMenu">
              <ng-container *ngFor="let header of headerModel;">
                <li class="nav-item" *ngIf="header.dropdownList == null">
                  <a class="nav-link" (click)="routeMenu(header.routeTo)">{{header.displayNameEng}}</a>
                </li>
                <ng-container *ngIf="header.dropdownList != null">
                  <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle>{{header.displayNameEng}}</a>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <a class="dropdown-item" *ngFor="let dropdown of header.dropdownList;" (click)="routeMenu(dropdown.routeTo)">{{dropdown.displayNameEng}}</a>
                    </div>
                  </li>
                </ng-container>
              </ng-container>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div class="modal-box" #modalBox>
    <ng-container *ngIf="isLoginOpen">
      <button type="button" class="close" (click)="closeAllDialog()" id="closeLoginModal" aria-label="Close">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </button>
      <div class="p-3" style="text-align: center">
        <h3>Sign in</h3>
      </div>
      <form class="email-login mt-4">
        <div class="u-form-group">
          <input type="email" class="form-control" id="email-login" placeholder="Email" name="email" />
        </div>
        <div class="u-form-group mt-3">
          <input type="password" class="form-control" id="password-login" placeholder="Password" name="password" />
        </div>
        <div class="u-form-group groupoption">
          <div class="row">

            <div class="col-12 text-right">
              <a id="forgotPwdBtn" href="#" (click)="triggerDialog(actionTrigger.forgotPassword)">Forgot password?</a>
            </div>
          </div>
        </div>
        <div class="u-form-group">
          <button class="btn btn-atk-primary mt-2 mt-md-0 signin-button" (click)="checklogin()" type="button">Sign in</button>
        </div>
        <button class="loginBtn loginBtn--facebook" (click)="signInWithFB()">
          Login with Facebook
        </button>
        <button class="loginBtn loginBtn--google" (click)="signInWithGoogle()">
          Login with Google
        </button>
        <hr class="under-signin">
        <div class="col-md-12 p-2">
          <p class="font-weight-bold">Not a member ?</p>
          <div class="col-md-12" (click)="triggerDialog(actionTrigger.signUp)" id="signUpBtn" style="margin-top: -10px">
            <a class="cursor-pointer modal-text-primary">Sign up</a>
          </div>
        </div>
      </form>
    </ng-container>

     <!-- Register -->

    <ng-container *ngIf="isRegisterOpen">
      <button type="button" class="close" (click)="closeAllDialog()" id="closeSignupModal" aria-label="Close">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </button>
      <div style="text-align: center">
        <h3>Register</h3>
        <div class="col-md-12 col-sm-12 mt-2">
          Already member ?
          <a class="cursor-pointer modal-text-primary" (click)="triggerDialog(actionTrigger.login)"> Sign in</a>
        </div>
      </div>

     
      <form class="email-register" [formGroup]="authForm" (ngSubmit)="signUp()" data-toggle="validator" role="form">
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <div class="row">
              <div class="col-12 col-md-7">Register for event running
                <mark class="mark-require">*</mark> :</div>
              <div class="offset-col-3 col-3 col-md-2" (click)="showEmergencyWrap()">
                <div class="custom-control custom-radio">
                  <input type="radio" #runningYes id="runningYes" name="currentItem" class="custom-control-input"  formControlName="currentItem" value="yes" />
                  <label class="custom-control-label" for="runningYes">Yes</label>
                </div>
              </div>
              <div class="col-3 offset-col-3 col-md-2 pl-2" (click)="hideEmergencyWrap()">
                <div class="custom-control custom-radio">
                  <input type="radio" id="runningNo" name="currentItem" class="custom-control-input" formControlName="currentItem" value="no" />
                  <label class="custom-control-label" for="runningNo">No</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> Email</div>
          <div class="col-md-12 col-sm-12 information">
            <input type="email" formControlName="email" id="email" class="form-control" name="custEmail" [(ngModel)]="emailNameView" />
          </div>
        </div>

       
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> Password</div>
          <div class="col-md-12 col-sm-12 information">
            <input type="password" formControlName="password" class="form-control" name="custPassword" />
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> Password Confirmation</div>
          <div class="col-md-12 col-sm-12 information">
            <input type="password" class="form-control" formControlName="confirmpassword" name="confirmCustPassword" />
          </div>
        </div>
      

        <div class="col-md-12 col-sm-12 personinformation">Personal Information</div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> First name</div>
          <div class="col-md-12 col-sm-12 mt-3 information">
            <input type="text" class="form-control" name="custFirstName" formControlName="firstname" [(ngModel)]="firstNameView" />
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark>Last name</div>
          <div class="col-md-12 col-sm-12 mt-3 information">
            <input type="text" class="form-control" name="custLastName" formControlName="lastname" [(ngModel)]="lastNameView" />
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic d-flex">
            <div class="custom-control custom-radio">
              <input type="radio" id="inputMale" class="custom-control-input" formControlName="gender" name="gender" [value]="1" [(ngModel)]="gender"/>
              <label class="custom-control-label" for="inputMale">Male</label>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="custom-control custom-radio">
              <input type="radio" id="inputFemale" class="custom-control-input" formControlName="gender" name="gender"  [value]="2" [(ngModel)]="gender" autofocus required/>
              <label class="custom-control-label" for="inputFemale">Female</label>
            </div>
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> Birthday(Date/Month/Year)</div>
          <div class="col-md-12 col-sm-12 DOBWrapper">
            <div class="row">
              <div class="form-group ">
                <select class="form-control dropdownCustom" id="select-date" formControlName="birthdayDate">
                  <option >01</option>
                  <option >02</option>
                  <option >03</option>
                  <option >04</option>
                  <option >05</option>
                  <option >06</option>
                  <option >07</option>
                  <option >08</option>
                  <option >09</option>
                  <option >10</option>
                  <option >11</option>
                  <option >12</option>
                  <option >13</option>
                  <option >14</option>
                  <option >15</option>
                  <option >16</option>
                  <option >17</option>
                  <option >18</option>
                  <option >19</option>
                  <option >20</option>
                  <option >21</option>
                  <option >22</option>
                  <option >23</option>
                  <option >24</option>
                  <option >25</option>
                  <option >26</option>
                  <option >27</option>
                  <option >28</option>
                  <option >29</option>
                  <option >30</option>
                  <option >31</option>
                </select>
              </div>
              
              <div class="form-group " style="padding: 0px 10px 0px 10px">
                <select class="form-control dropdownCustomMM" id="select-month"formControlName="birthdayMonth">
                  <option value="01">January</option>
                  <option value="02">Feburay</option>
                  <option value="03">March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>
              <div class="form-group ">
                <select class="form-control dropdownCustom" id="select-year"formControlName="birthdayYear">
                  <option >1980</option>
                  <option >1981</option>
                  <option >1982</option>
                  <option >1983</option>
                  <option >1984</option>
                  <option >1985</option>
                  <option >1986</option>
                  <option >1987</option>
                  <option >1988</option>
                  <option >1989</option>
                  <option >1990</option>
                  <option >1991</option>
                  <option >1992</option>
                  <option >1993</option>
                  <option >1994</option>
                  <option >1995</option>
                  <option >1996</option>
                  <option >1997</option>
                  <option >1998</option>
                  <option >1999</option>
                  <option >2000</option>
                  <option >2001</option>
                  <option >2002</option>
                  <option >2003</option>
                  <option >2004</option>
                </select>
              </div>
            </div>
          </div>
          <div class="reg-form-group">
            <div class="col-md-12 col-sm-12 topic d-flex">
              <div class="custom-control custom-radio">
                <input type="radio" id="idCard" name="custCardType" class="custom-control-input" checked="checked">
                <label class="custom-control-label" for="idCard">ID Card No.</label>
              </div>
              &nbsp;&nbsp;
              <div class="custom-control custom-radio">
                <input type="radio" id="passport" name="custCardType" class="custom-control-input">
                <label class="custom-control-label" for="passport">Passport No.</label>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 mt-3 information">
              <input type="text" class="form-control" name="custCardNumber" maxlength="13" formControlName="idCard"/>
            </div>
          </div>
          <div class="reg-form-group customer-tel">
            <div class="col-md-12 col-sm-12 topic">
              <mark class="mark-require">*</mark> Mobile Phone Number</div>
            <div class="col-md-12 col-sm-12 mt-3 information telno">
              <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                  <button class="btn telcountry" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/th-flag.png" style="width: 20px">
                  </button>
                  <div class="dropdown-menu">
                  </div>
                </div>
                <input type="text" class="form-control telnoRadius" placeholder="0XXXXXXXXX" maxlength="10"formControlName="phone">
              </div>
            </div>
          </div>
          <div class="showEmergency" *ngIf="showEmergency">
            <div class="col-md-12 col-sm-12 emergencyContact">Emergency Contact Person Information</div>
            <div class="reg-form-group">
              <div class="col-md-12 col-sm-12 topic">
                <mark class="mark-require">*</mark> Emergency Contact Name</div>
              <div class="col-md-12 col-sm-12 information">
                <input type="text" class="form-control" id="emerName" name="emerName" />
              </div>
            </div>
            <div class="reg-form-group">
              <div class="col-md-12 col-sm-12 topic">
                <mark class="mark-require">*</mark> Emergency Contact Phone
              </div>
              <div class="col-md-12 col-sm-12 information telno">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn telcountry" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/th-flag.png" style="width: 20px">
                    </button>
                    <div class="dropdown-menu">
                    </div>
                  </div>
                  <input type="text" class="form-control telnoRadius" placeholder="0XXXXXXXXX" maxlength="10" formControlName="phone">
                </div>
              </div>
            </div>
          </div>
          <div class="reg-form-group">
            <div class="col-md-12 col-sm-12 topic">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="acceptTerms" formControlName="acceptTerm">
                <label class="custom-control-label" for="acceptTerms">
                  <mark class="mark-require">*</mark> Accept
                  <a href="tos.html" target="_blank">
                    <mark class="mark-require">Terms of Service</mark>
                  </a>
                </label>
              </div>
            </div>
          </div>

          <div class="reg-form-group">
            <div class="col-md-12 col-sm-12 topic">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="acceptNews" formControlName="acceptNews">
                <label class="custom-control-label" for="acceptNews">
                  <span>&nbsp; Accept the newsletter</span>
                </label>
              </div>
            </div>
          </div>
          <div class="text-center my-2" *ngIf="isReCaptchaOpen">
            <div class="captcha">
              <re-captcha (resolved)="resolved($event)" siteKey="6LcPgVAUAAAAAP9AjXUNyt82AOHKjtVmmOeiwYZK"></re-captcha>
            </div>
          </div>
        </div>
        <div class="col-md-12 u-form-group">
          <button class="btn btn-atk-primary mt-4 signUp-button" type="submit" data-dismiss="modal">Sign up</button>
        </div>
      </form>
    </ng-container>
    <!-- End Register -->

    <ng-container *ngIf="isShowForgotPassword">
      <button type="button" class="close" (click)="closeAllDialog()" id="closeForgotBox">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </button>
      <div class="text-center mt-2">
        <h5>Forgot Password</h5>
      </div>
      <form class="forgot-password">
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 mt-4">
            <mark class="mark-require">*</mark> Email</div>
          <div class="col-md-12 col-sm-12 mt-2">
            <input id="forgotPwd-value" type="email" class="form-control" name="forgetEmail" />
          </div>
        </div>
        <div class="text-center mt-2" *ngIf="isCaptchaOpen">
          <div class="captcha">
            <img class="captcha-img" src="" style="margin-left:1rem;width:50%;" />
            <img class="captcha-reload" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/images/refresh.png" alt="Refresh captcha"
              title="Refresh captcha" />
          </div>
          <div class="form-group mt-3 mb-0 mb-md-3">
            <input class="form-control text-center mx-auto w50pc" type="text" value="" name="capchaReserve" maxlength="6" />
          </div>
        </div>
        <div class="col-md-12 u-form-group d-flex justify-content-md-center">
          <button class="btn btn-atk-primary mt-3" id="executeForgot" type="button">Confirm</button>
        </div>
      </form>
    </ng-container>
  </div>



  <div class="modal-box" #userModalBox>
    <ng-container *ngIf="isEditProfileOpen">
      <button type="button" class="close" (click)="closeAllDialog()" id="closeSignupModal" aria-label="Close">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </button>
      <div class="text-center mt-2">
        <h5>Edit Profile</h5>
      </div>
      <form id="customerProfileEditForm">
        <div class="col-md-12 col-sm-12 personinformation">Personal Information</div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <div class="row">
              <div class="col-12 col-md-7">Register for event running
                <mark class="mark-require">*</mark> :</div>
              <div class="offset-col-3 col-3 col-md-2" (click)="showEmergencyWrap()">
                <div class="custom-control custom-radio">
                  <input type="radio" #runningYes id="runningYes" name="runningRadio" class="custom-control-input">
                  <label class="custom-control-label" for="runningYes">Yes</label>
                </div>
              </div>
              <div class="col-3 offset-col-3 col-md-2 pl-2" (click)="hideEmergencyWrap()">
                <div class="custom-control custom-radio">
                  <input type="radio" id="runningNo" name="runningRadio" class="custom-control-input" [(ngModel)]="currentItem">
                  <label class="custom-control-label" for="runningNo">No</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> Email</div>
          <div class="col-md-12 col-sm-12 information">
            <input type="email" class="form-control" name="custEmail" value="{{emailNameView}}" />
          </div>
        </div>
        <div class="col-md-12 col-sm-12 personinformation">Personal Information</div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> First name</div>
          <div class="col-md-12 col-sm-12 mt-3 information">
            <input type="text" class="form-control" name="custFirstName"  value="{{firstNameView}}" />
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> Last name</div>
          <div class="col-md-12 col-sm-12 mt-3 information">
            <input type="text" class="form-control" name="custLastname" value="{{lastNameView}}"/>
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic d-flex">
            <div class="custom-control custom-radio">
              <input type="radio" id="inputMale" name="custGender" class="custom-control-input" [(ngModel)]="genderEdit" value="male">
              <label class="custom-control-label" for="inputMale">Male</label>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="custom-control custom-radio">
              <input type="radio" id="inputFemale" name="custGender" class="custom-control-input" [(ngModel)]="genderEdit" value="female">
              <label class="custom-control-label" for="inputFemale">Female</label>
            </div>
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> Birthday(Date/Month/Year)</div>
          <div class="col-md-12 col-sm-12 DOBWrapper">
            <div class="row">
              <div class="form-group ">
                <select class="form-control dropdownCustom" id="select-date">
                  <option value="">01</option>
                  <option value="">02</option>
                  <option value="">03</option>
                  <option value="">04</option>
                  <option value="">05</option>
                  <option value="">06</option>
                  <option value="">07</option>
                  <option value="">08</option>
                  <option value="">09</option>
                  <option value="">10</option>
                  <option value="">11</option>
                  <option value="">12</option>
                  <option value="">13</option>
                  <option value="">14</option>
                  <option value="">15</option>
                  <option value="">16</option>
                  <option value="">17</option>
                  <option value="">18</option>
                  <option value="">19</option>
                  <option value="">20</option>
                  <option value="">21</option>
                  <option value="">22</option>
                  <option value="">23</option>
                  <option value="">24</option>
                  <option value="">25</option>
                  <option value="">26</option>
                  <option value="">27</option>
                  <option value="">28</option>
                  <option value="">29</option>
                  <option value="">30</option>
                  <option value="">31</option>
                </select>
              </div>
              <div class="form-group " style="padding: 0px 10px 0px 10px">
                <select class="form-control dropdownCustomMM" id="select-month">
                  <option>January</option>
                  <option>Feburay</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
              <div class="form-group ">
                <select class="form-control dropdownCustom" id="select-year">
                  <option value="">1980</option>
                  <option value="">1981</option>
                  <option value="">1982</option>
                  <option value="">1983</option>
                  <option value="">1984</option>
                  <option value="">1985</option>
                  <option value="">1986</option>
                  <option value="">1987</option>
                  <option value="">1988</option>
                  <option value="">1989</option>
                  <option value="">1990</option>
                  <option value="">1991</option>
                  <option value="">1992</option>
                  <option value="">1993</option>
                  <option value="">1994</option>
                  <option value="">1995</option>
                  <option value="">1996</option>
                  <option value="">1997</option>
                  <option value="">1998</option>
                  <option value="">1999</option>
                  <option value="">2000</option>
                  <option value="">2001</option>
                  <option value="">2002</option>
                  <option value="">2003</option>
                  <option value="">2004</option>
                </select>
              </div>
            </div>
          </div>
          <div class="reg-form-group">
            <div class="col-md-12 col-sm-12 topic d-flex">
              <div class="custom-control custom-radio">
                <input type="radio" id="idCard" name="custCardType" class="custom-control-input">
                <label class="custom-control-label" for="idCard">ID Card No.</label>
              </div>
              &nbsp;&nbsp;
              <div class="custom-control custom-radio">
                <input type="radio" id="passport" name="custCardType" class="custom-control-input">
                <label class="custom-control-label" for="passport">Passport No.</label>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 mt-3 information">
              <input type="text" class="form-control" name="custCardNumber" maxlength="13" [(ngModel)]="idCardView"/>
            </div>
          </div>
          <div class="reg-form-group customer-tel">
            <div class="col-md-12 col-sm-12 topic">
              <mark class="mark-require">*</mark> Mobile Phone Number</div>
            <div class="col-md-12 col-sm-12 mt-3 information telno">
              <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                  <button class="btn telcountry" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/th-flag.png" style="width: 20px">
                  </button>
                  <div class="dropdown-menu">
                  </div>
                </div>
                <input type="text" class="form-control telnoRadius" placeholder="0XXXXXXXXX" maxlength="10">
              </div>
            </div>
          </div>
          <div class="showEmergency" *ngIf="showEmergency">
            <div class="col-md-12 col-sm-12 emergencyContact">Emergency Contact Person Information</div>
            <div class="reg-form-group">
              <div class="col-md-12 col-sm-12 topic">
                <mark class="mark-require">*</mark> Emergency Contact Name</div>
              <div class="col-md-12 col-sm-12 information">
                <input type="text" class="form-control" id="emerName" name="emerName" />
              </div>
            </div>
            <div class="reg-form-group">
              <div class="col-md-12 col-sm-12 topic">
                <mark class="mark-require">*</mark> Emergency Contact Phone
              </div>
              <div class="col-md-12 col-sm-12 information telno">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn telcountry" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/th-flag.png" style="width: 20px">
                    </button>
                    <div class="dropdown-menu">
                    </div>
                  </div>
                  <input type="text" class="form-control telnoRadius" placeholder="0XXXXXXXXX" maxlength="10">
                </div>
              </div>
            </div>
          </div>

          <div class="text-center my-2" *ngIf="isCaptchaOpen">
            <div class="captcha">
              <img class="captcha-img w50pc ml1em" src="" />
              <img class="captcha-reload" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/images/refresh.png" alt="Refresh captcha"
                title="Refresh captcha" />
            </div>
            <div class="form-group mt-3 mb-0 mb-md-3">
              <input class="form-control text-center mx-auto w50pc" type="text" value="" name="capchaReserve" maxlength="6" />
            </div>
          </div>
        </div>
        <div class="col-md-12 u-form-group d-flex justify-content-md-center">
          <button class="btn btn-atk-primary mt-3" type="button" id="customerProfileEditConfirmBtn">Confirm</button>
        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="isChangePasswordOpen">
      <button type="button" class="close" (click)="closeAllDialog()" id="closeLoginModal" aria-label="Close">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </button>
      <div class="p-3" style="text-align: center">
        <h3>Change Password</h3>
      </div>
      <form class="email-login mt-4">
        <div class="u-form-group mt-3">
          <input type="password" class="form-control" id="oldPassword" placeholder="Old Password" />
        </div>
        <div class="u-form-group mt-3">
          <input type="password" class="form-control" id="newPassword" placeholder="New Password" />
        </div>
        <div class="u-form-group mt-3">
          <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" />
        </div>
        <div class="u-form-group signin">
          <button class="btn btn-atk-primary mt-4">Confirm</button>
        </div>
      </form>
    </ng-container>
  </div>

  <div id="myModal" class="modal fade in">
      <div class="modal-dialog">
        <div class="modal-content">
        <!-- dialog body -->
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         <label id="fail" style="color: black">{{invalid}}</label>
        </div>
        <!-- dialog buttons -->
        <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal"data-dismiss="modal">OK</button></div>
        </div>
      </div>
  </div>

  <div id="waitingModal" class="modal" tabindex="-1" role="dialog" *ngIf="isLoading" [style.display]="isLoading ? 'block' : 'none'">
		<div>
			<div class="loader loader--style2" title="1" style="margin-left:40%;margin-top:20%">
				<svg height="100px" id="loader-1" style="enable-background:new 0 0 50 50;" version="1.1" viewBox="0 0 50 50" width="100px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
				<path d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z" fill="#000" transform="rotate(215.303 25 25)">
					<animateTransform attributeName="transform" attributeType="xml" dur="0.6s" from="0 25 25" repeatCount="indefinite" to="360 25 25" type="rotate"></animateTransform>
					</path>
				</svg>
			</div>
		</div>
	</div>
</header>
