<div class="overlay" *ngIf="showOverlay" (click)="overlayClicked($event)"></div>
<header id="header">
  <div class="close-sidebar" #closeSideBar>
    <i class="fa fa-times fa-2x" aria-hidden="true" (click)="closeAllDialog()"></i>
  </div>
  <nav #navSideBar id="nav-sidebar">
    <div class="sidebar-header">
      <div class="row">
        <div class="col-8">
          <a (click)="routeMenu('/')" class="standard-logo">
            <img class="img-fluid" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/allticket-logo.png"
              alt="Allticket Logo">
          </a>
        </div>
        <div class="col-4 align-self-center" *ngIf="isMobileSize">
          <div class="row">
            <div class="col-6 px-0">
              <img class="flag language-flag" lang-val="en" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/uk-flag-icon.png"
                alt="English" />
            </div>
            <div class="col-6 px-0">
              <img class="flag language-flag" lang-val="th" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/th-flag-icon.png"
                alt="ภาษาไทย" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-content" *ngIf="isMobileSize">
      <div class="col-lg-5 login-wrapper">
        <button class="btn btn-Login" (click)="triggerDialog(actionTrigger.login)" *ngIf="regAndLog" id="loginBtn">
          <a class="atk-size-3">Register / Log In</a>
        </button>
        <div class="navbar-collapse justify-content-md-center btn-Login" *ngIf="!username">
          <ul class="navbar-nav ">
            <ng-container>
              <li class="nav-item dropdown " ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>Burin Sangwan</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <li>
                    <a class="dropdown-item" (click)="userTriggerDialog(userActionTrigger.edit)"> Edit Profile</a>
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink='/purchaseHistory'> Purchase History</a>
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink='/changePassword'> Change Password</a>
                  </li>
                  <li class="divider"></li>
                  <li id="logOutLink" (click)='logout()'>
                    <a class="dropdown-item">
                      <i class="icon-off"></i>
                      <p> Logout </a>
                  </li>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="navbar-collapse justify-content-md-center">
        <ul class="navbar-nav mainMenu">
          <ng-container *ngFor="let header of headerModel;">
            <li class="nav-item" *ngIf="header.dropdownList == null">
              <a class="nav-link" (click)="routeMenu(header.routeTo)">{{header.displayNameEng}}</a>
            </li>
            <ng-container *ngIf="header.dropdownList != null">
              <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>{{header.displayNameEng}}</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <a class="dropdown-item" *ngFor="let dropdown of header.dropdownList;" (click)="routeMenu(dropdown.routeTo)">{{dropdown.displayNameEng}}</a>
                </div>
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>

  <div class="header-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-9 col-sm-10 col-md-11 col-lg-3 offset-lg-1 header-logo">
          <a (click)="routeMenu('/')" class="standard-logo">
            <img src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/allticket-logo.png" alt="Allticket Logo">
          </a>
        </div>
        <div class="col-3 col-sm-2 col-md-1 p-3 mt-1 align-self-center d-block d-lg-none">
          <span id="nav-icon" (click)="triggerSidebar()">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
          </span>
        </div>
        <div class="col-12 col-lg-8 header-search" *ngIf="!isMobileSize">
          <div class="row" id="subHeader">
            <div class="col-lg-2 offset-lg-5 flag-wrapper">
              <img class="flag language-flag" lang-val="en" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/uk-flag-icon.png"
                alt="English" />
              <img class="flag language-flag" lang-val="th" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/th-flag-icon.png"
                alt="ภาษาไทย" />
            </div>
            <div class="col-lg-5 login-wrapper">
              <button class="btn userMenu d-none" id="userInfoMenu" data-toggle="dropdown">
                <a class="nav-link dropdown-toggle text-overflow-ellipsis" id="userProfile"></a>
              </button>
              <div class="userMenu" *ngIf="!username">
                <div class="dropdown-menu">
                  <a class="dropdown-item" id="editProfile" (click)="userTriggerDialog(userActionTrigger.edit)">Edit Profile</a>
                  <a class="dropdown-item" id="purchase-history" routerLink='/purchaseHistory'>Purchase History</a>
                  <a class="dropdown-item" (click)="userTriggerDialog(userActionTrigger.change)">Change Password</a>
                  <a class="dropdown-item" id="logoff-btn" (click)='logout()'>Log Off</a>
                </div>
              </div>
              <button class="btn btn-Login" (click)="triggerDialog(actionTrigger.login)" *ngIf="regAndLog" id="loginBtn">
                <a class="atk-size-3" href="#">Register / Log In</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="primary-menu-wrapper d-none d-lg-block" *ngIf="!isMobileSize">
    <div class="row">
      <div class="col-md-12 navbar-container">
        <nav class="navbar navbar-expand-lg rounded" id="navbar-menu">
          <div class="navbar-collapse justify-content-md-center">
            <ul class="navbar-nav mainMenu">
              <ng-container *ngFor="let header of headerModel;">
                <li class="nav-item" *ngIf="header.dropdownList == null">
                  <a class="nav-link" (click)="routeMenu(header.routeTo)">{{header.displayNameEng}}</a>
                </li>
                <ng-container *ngIf="header.dropdownList != null">
                  <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle>{{header.displayNameEng}}</a>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <a class="dropdown-item" *ngFor="let dropdown of header.dropdownList;" (click)="routeMenu(dropdown.routeTo)">{{dropdown.displayNameEng}}</a>
                    </div>
                  </li>
                </ng-container>
              </ng-container>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div class="modal-box" #modalBox>

    <ng-container *ngIf="isLoginOpen">
      <button type="button" class="close" (click)="closeAllDialog()" id="closeLoginModal" aria-label="Close">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </button>
      <div class="p-3" style="text-align: center">
        <h3>Sign in</h3>
      </div>
      <form class="email-login mt-4">
        <div class="u-form-group">
          <input type="email" class="form-control" placeholder="Email" name="email" />
        </div>
        <div class="u-form-group mt-3">
          <input type="password" class="form-control" placeholder="Password" name="password" />
        </div>
        <div class="u-form-group groupoption">
          <div class="row">

            <div class="col-12 text-right">
              <a id="forgotPwdBtn" href="#" (click)="triggerDialog(actionTrigger.forgotPassword)">Forgot password?</a>
            </div>
          </div>
        </div>
        <div class="text-center my-2" *ngIf="isCaptchaOpen">
          <div class="captcha">
            <img class="captcha-img w50pc ml1em" src="" />
            <img class="captcha-reload" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/images/refresh.png" alt="Refresh captcha"
              title="Refresh captcha" />
          </div>
          <div class="form-group mt-3 mb-0 mb-md-3">
            <input class="form-control text-center mx-auto w50pc" type="text" value="" name="capchaReserve" maxlength="6" />
          </div>
        </div>

        <div class="u-form-group">
          <button class="btn btn-atk-primary mt-2 mt-md-0 signin-button" (click)="checklogin()" type="button">Sign in</button>
        </div>
        <hr class="under-signin">
        <div class="col-md-12 p-2">
          <p class="font-weight-bold">Not a member ?</p>
          <div class="col-md-12" (click)="triggerDialog(actionTrigger.signUp)" id="signUpBtn" style="margin-top: -10px">
            <a class="cursor-pointer modal-text-primary">Sign up</a>
          </div>
        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="isRegisterOpen">
      <button type="button" class="close" (click)="closeAllDialog()" id="closeSignupModal" aria-label="Close">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </button>
      <div style="text-align: center">
        <h3>Register</h3>
        <!-- <img class="login-facebook" src="../assets/images/facebook_btn.png"> -->
        <div class="col-md-12 col-sm-12 mt-2">
          Already member ?
          <a class="cursor-pointer modal-text-primary" (click)="triggerDialog(actionTrigger.login)"> Sign in</a>
        </div>
      </div>
     
    <!-- Register -->
      <form class="email-register">
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <div class="row">
              <div class="col-12 col-md-7">Register for event running
                <mark class="mark-require">*</mark> :</div>
              <div class="offset-col-3 col-3 col-md-2" (click)="showEmergencyWrap()">
                <div class="custom-control custom-radio">
                  <input type="radio" #runningYes id="runningYes" name="runningRadio" class="custom-control-input">
                  <label class="custom-control-label" for="runningYes">Yes</label>
                </div>
              </div>
              <div class="col-3 offset-col-3 col-md-2 pl-2" (click)="hideEmergencyWrap()">
                <div class="custom-control custom-radio">
                  <input type="radio" id="runningNo" name="runningRadio" class="custom-control-input" [(ngModel)]="currentItem">
                  <label class="custom-control-label" for="runningNo">No</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> Email</div>
          <div class="col-md-12 col-sm-12 information">
            <input type="email" class="form-control" name="custEmail" value="{{ user.email }}"/>
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> Password</div>
          <div class="col-md-12 col-sm-12 information">
            <input type="password" class="form-control" name="custPassword" />
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> Password Confirmation</div>
          <div class="col-md-12 col-sm-12 information">
            <input type="password" class="form-control" name="confirmCustPassword" />
          </div>
        </div>
        <div class="col-md-12 col-sm-12 personinformation">Personal Information</div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> First name - Last name</div>
          <div class="col-md-12 col-sm-12 mt-3 information">
            <input type="text" class="form-control" name="custFirstName" value="{{ user.name }}" />
          </div>
        </div>
       
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic d-flex">
            <div class="custom-control custom-radio">
              <input type="radio" id="inputMale" name="custGender" class="custom-control-input">
              <label class="custom-control-label" for="inputMale">Male</label>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="custom-control custom-radio">
              <input type="radio" id="inputFemale" name="custGender" class="custom-control-input">
              <label class="custom-control-label" for="inputFemale">Female</label>
            </div>
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> Birthday(Date/Month/Year)</div>
          <div class="col-md-12 col-sm-12 DOBWrapper">
            <div class="row">
              <div class="form-group ">
                <select class="form-control dropdownCustom" id="select-date">
                  <option value="">01</option>
                  <option value="">02</option>
                  <option value="">03</option>
                  <option value="">04</option>
                  <option value="">05</option>
                  <option value="">06</option>
                  <option value="">07</option>
                  <option value="">08</option>
                  <option value="">09</option>
                  <option value="">10</option>
                  <option value="">11</option>
                  <option value="">12</option>
                  <option value="">13</option>
                  <option value="">14</option>
                  <option value="">15</option>
                  <option value="">16</option>
                  <option value="">17</option>
                  <option value="">18</option>
                  <option value="">19</option>
                  <option value="">20</option>
                  <option value="">21</option>
                  <option value="">22</option>
                  <option value="">23</option>
                  <option value="">24</option>
                  <option value="">25</option>
                  <option value="">26</option>
                  <option value="">27</option>
                  <option value="">28</option>
                  <option value="">29</option>
                  <option value="">30</option>
                  <option value="">31</option>
                </select>
              </div>
              <div class="form-group " style="padding: 0px 10px 0px 10px">
                <select class="form-control dropdownCustomMM" id="select-month">
                  <option>January</option>
                  <option>Feburay</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
              <div class="form-group ">
                <select class="form-control dropdownCustom" id="select-year">
                  <option value="">1980</option>
                  <option value="">1981</option>
                  <option value="">1982</option>
                  <option value="">1983</option>
                  <option value="">1984</option>
                  <option value="">1985</option>
                  <option value="">1986</option>
                  <option value="">1987</option>
                  <option value="">1988</option>
                  <option value="">1989</option>
                  <option value="">1990</option>
                  <option value="">1991</option>
                  <option value="">1992</option>
                  <option value="">1993</option>
                  <option value="">1994</option>
                  <option value="">1995</option>
                  <option value="">1996</option>
                  <option value="">1997</option>
                  <option value="">1998</option>
                  <option value="">1999</option>
                  <option value="">2000</option>
                  <option value="">2001</option>
                  <option value="">2002</option>
                  <option value="">2003</option>
                  <option value="">2004</option>
                </select>
              </div>
            </div>
          </div>
          <div class="reg-form-group">
            <div class="col-md-12 col-sm-12 topic d-flex">
              <div class="custom-control custom-radio">
                <input type="radio" id="idCard" name="custCardType" class="custom-control-input">
                <label class="custom-control-label" for="idCard">ID Card No.</label>
              </div>
              &nbsp;&nbsp;
              <div class="custom-control custom-radio">
                <input type="radio" id="passport" name="custCardType" class="custom-control-input">
                <label class="custom-control-label" for="passport">Passport No.</label>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 mt-3 information">
              <input type="text" class="form-control" name="custCardNumber" maxlength="13" />
            </div>
          </div>
          <div class="reg-form-group customer-tel">
            <div class="col-md-12 col-sm-12 topic">
              <mark class="mark-require">*</mark> Mobile Phone Number</div>
            <div class="col-md-12 col-sm-12 mt-3 information telno">
              <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                  <button class="btn telcountry" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/th-flag.png" style="width: 20px">
                  </button>
                  <div class="dropdown-menu">
                  </div>
                </div>
                <input type="text" class="form-control telnoRadius" placeholder="0XXXXXXXXX" maxlength="10">
              </div>
            </div>
          </div>
          <div class="showEmergency" *ngIf="showEmergency">
            <div class="col-md-12 col-sm-12 emergencyContact">Emergency Contact Person Information</div>
            <div class="reg-form-group">
              <div class="col-md-12 col-sm-12 topic">
                <mark class="mark-require">*</mark> Emergency Contact Name</div>
              <div class="col-md-12 col-sm-12 information">
                <input type="text" class="form-control" id="emerName" name="emerName" />
              </div>
            </div>
            <div class="reg-form-group">
              <div class="col-md-12 col-sm-12 topic">
                <mark class="mark-require">*</mark> Emergency Contact Phone
              </div>
              <div class="col-md-12 col-sm-12 information telno">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn telcountry" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/th-flag.png" style="width: 20px">
                    </button>
                    <div class="dropdown-menu">
                    </div>
                  </div>
                  <input type="text" class="form-control telnoRadius" placeholder="0XXXXXXXXX" maxlength="10">
                </div>
              </div>
            </div>
          </div>
          <div class="reg-form-group">
            <div class="col-md-12 col-sm-12 topic">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="acceptTerms">
                <label class="custom-control-label" for="acceptTerms">
                  <mark class="mark-require">*</mark> Accept
                  <a href="tos.html" target="_blank">
                    <mark class="mark-require">Terms of Service</mark>
                  </a>
                </label>
              </div>
            </div>
          </div>

          <div class="reg-form-group">
            <div class="col-md-12 col-sm-12 topic">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="acceptNews">
                <label class="custom-control-label" for="acceptNews">
                  <span>&nbsp; Accept the newsletter</span>
                </label>
              </div>
            </div>
          </div>

          <div class="text-center my-2" *ngIf="isCaptchaOpen">
            <div class="captcha">
              <img class="captcha-img w50pc ml1em" src="" />
              <img class="captcha-reload" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/images/refresh.png" alt="Refresh captcha"
                title="Refresh captcha" />
            </div>
            <div class="form-group mt-3 mb-0 mb-md-3">
              <input class="form-control text-center mx-auto w50pc" type="text" value="" name="capchaReserve" maxlength="6" />
            </div>
          </div>
        </div>
        <div class="col-md-12 u-form-group">
            <button class="btn btn-atk-primary mt-4 signUp-button" type="button" (click)="signInWithFB()">Login Facebook</button>
          <button class="btn btn-atk-primary mt-4 signUp-button" type="button">Sign up</button>
        </div>
      </form>
    </ng-container>
    <!-- End Register -->

    <ng-container *ngIf="isShowForgotPassword">
      <button type="button" class="close" (click)="closeAllDialog()" id="closeForgotBox">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </button>
      <div class="text-center mt-2">
        <h5>Forgot Password</h5>
      </div>
      <form class="forgot-password">
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 mt-4">
            <mark class="mark-require">*</mark> Email</div>
          <div class="col-md-12 col-sm-12 mt-2">
            <input id="forgotPwd-value" type="email" class="form-control" name="forgetEmail" />
          </div>
        </div>
        <div class="text-center mt-2" *ngIf="isCaptchaOpen">
          <div class="captcha">
            <img class="captcha-img" src="" style="margin-left:1rem;width:50%;" />
            <img class="captcha-reload" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/images/refresh.png" alt="Refresh captcha"
              title="Refresh captcha" />
          </div>
          <div class="form-group mt-3 mb-0 mb-md-3">
            <input class="form-control text-center mx-auto w50pc" type="text" value="" name="capchaReserve" maxlength="6" />
          </div>
        </div>
        <div class="col-md-12 u-form-group text-center">
          <button class="btn btn-atk-primary mt-3" id="executeForgot" type="button">Confirm</button>
        </div>
      </form>
    </ng-container>
  </div>



  <div class="modal-box" #userModalBox>
    <ng-container *ngIf="isEditProfileOpen">
      <button type="button" class="close" (click)="closeAllDialog()" id="closeSignupModal" aria-label="Close">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </button>
      <div class="text-center mt-2">
        <h5>Edit Profile</h5>
      </div>
      <form id="customerProfileEditForm">
        <div class="col-md-12 col-sm-12 personinformation">Personal Information</div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <div class="row">
              <div class="col-12 col-md-7">Register for event running
                <mark class="mark-require">*</mark> :</div>
              <div class="offset-col-3 col-3 col-md-2" (click)="showEmergencyWrap()">
                <div class="custom-control custom-radio">
                  <input type="radio" #runningYes id="runningYes" name="runningRadio" class="custom-control-input">
                  <label class="custom-control-label" for="runningYes">Yes</label>
                </div>
              </div>
              <div class="col-3 offset-col-3 col-md-2 pl-2" (click)="hideEmergencyWrap()">
                <div class="custom-control custom-radio">
                  <input type="radio" id="runningNo" name="runningRadio" class="custom-control-input" [(ngModel)]="currentItem">
                  <label class="custom-control-label" for="runningNo">No</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> Email</div>
          <div class="col-md-12 col-sm-12 information">
            <input type="email" class="form-control" name="custEmail" />
          </div>
        </div>
        <div class="col-md-12 col-sm-12 personinformation">Personal Information</div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> First name</div>
          <div class="col-md-12 col-sm-12 mt-3 information">
            <input type="text" class="form-control" name="custFirstName" />
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> Last name</div>
          <div class="col-md-12 col-sm-12 mt-3 information">
            <input type="text" class="form-control" name="custLastname" />
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic d-flex">
            <div class="custom-control custom-radio">
              <input type="radio" id="inputMale" name="custGender" class="custom-control-input">
              <label class="custom-control-label" for="inputMale">Male</label>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="custom-control custom-radio">
              <input type="radio" id="inputFemale" name="custGender" class="custom-control-input">
              <label class="custom-control-label" for="inputFemale">Female</label>
            </div>
          </div>
        </div>
        <div class="reg-form-group">
          <div class="col-md-12 col-sm-12 topic">
            <mark class="mark-require">*</mark> Birthday(Date/Month/Year)</div>
          <div class="col-md-12 col-sm-12 DOBWrapper">
            <div class="row">
              <div class="form-group ">
                <select class="form-control dropdownCustom" id="select-date">
                  <option value="">01</option>
                  <option value="">02</option>
                  <option value="">03</option>
                  <option value="">04</option>
                  <option value="">05</option>
                  <option value="">06</option>
                  <option value="">07</option>
                  <option value="">08</option>
                  <option value="">09</option>
                  <option value="">10</option>
                  <option value="">11</option>
                  <option value="">12</option>
                  <option value="">13</option>
                  <option value="">14</option>
                  <option value="">15</option>
                  <option value="">16</option>
                  <option value="">17</option>
                  <option value="">18</option>
                  <option value="">19</option>
                  <option value="">20</option>
                  <option value="">21</option>
                  <option value="">22</option>
                  <option value="">23</option>
                  <option value="">24</option>
                  <option value="">25</option>
                  <option value="">26</option>
                  <option value="">27</option>
                  <option value="">28</option>
                  <option value="">29</option>
                  <option value="">30</option>
                  <option value="">31</option>
                </select>
              </div>
              <div class="form-group " style="padding: 0px 10px 0px 10px">
                <select class="form-control dropdownCustomMM" id="select-month">
                  <option>January</option>
                  <option>Feburay</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
              <div class="form-group ">
                <select class="form-control dropdownCustom" id="select-year">
                  <option value="">1980</option>
                  <option value="">1981</option>
                  <option value="">1982</option>
                  <option value="">1983</option>
                  <option value="">1984</option>
                  <option value="">1985</option>
                  <option value="">1986</option>
                  <option value="">1987</option>
                  <option value="">1988</option>
                  <option value="">1989</option>
                  <option value="">1990</option>
                  <option value="">1991</option>
                  <option value="">1992</option>
                  <option value="">1993</option>
                  <option value="">1994</option>
                  <option value="">1995</option>
                  <option value="">1996</option>
                  <option value="">1997</option>
                  <option value="">1998</option>
                  <option value="">1999</option>
                  <option value="">2000</option>
                  <option value="">2001</option>
                  <option value="">2002</option>
                  <option value="">2003</option>
                  <option value="">2004</option>
                </select>
              </div>
            </div>
          </div>
          <div class="reg-form-group">
            <div class="col-md-12 col-sm-12 topic d-flex">
              <div class="custom-control custom-radio">
                <input type="radio" id="idCard" name="custCardType" class="custom-control-input">
                <label class="custom-control-label" for="idCard">ID Card No.</label>
              </div>
              &nbsp;&nbsp;
              <div class="custom-control custom-radio">
                <input type="radio" id="passport" name="custCardType" class="custom-control-input">
                <label class="custom-control-label" for="passport">Passport No.</label>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 mt-3 information">
              <input type="text" class="form-control" name="custCardNumber" maxlength="13" />
            </div>
          </div>
          <div class="reg-form-group customer-tel">
            <div class="col-md-12 col-sm-12 topic">
              <mark class="mark-require">*</mark> Mobile Phone Number</div>
            <div class="col-md-12 col-sm-12 mt-3 information telno">
              <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                  <button class="btn telcountry" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/th-flag.png" style="width: 20px">
                  </button>
                  <div class="dropdown-menu">
                  </div>
                </div>
                <input type="text" class="form-control telnoRadius" placeholder="0XXXXXXXXX" maxlength="10">
              </div>
            </div>
          </div>
          <div class="showEmergency" *ngIf="showEmergency">
            <div class="col-md-12 col-sm-12 emergencyContact">Emergency Contact Person Information</div>
            <div class="reg-form-group">
              <div class="col-md-12 col-sm-12 topic">
                <mark class="mark-require">*</mark> Emergency Contact Name</div>
              <div class="col-md-12 col-sm-12 information">
                <input type="text" class="form-control" id="emerName" name="emerName" />
              </div>
            </div>
            <div class="reg-form-group">
              <div class="col-md-12 col-sm-12 topic">
                <mark class="mark-require">*</mark> Emergency Contact Phone
              </div>
              <div class="col-md-12 col-sm-12 information telno">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn telcountry" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/assets/images/th-flag.png" style="width: 20px">
                    </button>
                    <div class="dropdown-menu">
                    </div>
                  </div>
                  <input type="text" class="form-control telnoRadius" placeholder="0XXXXXXXXX" maxlength="10">
                </div>
              </div>
            </div>
          </div>

          <div class="text-center my-2" *ngIf="isCaptchaOpen">
            <div class="captcha">
              <img class="captcha-img w50pc ml1em" src="" />
              <img class="captcha-reload" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/images/refresh.png" alt="Refresh captcha"
                title="Refresh captcha" />
            </div>
            <div class="form-group mt-3 mb-0 mb-md-3">
              <input class="form-control text-center mx-auto w50pc" type="text" value="" name="capchaReserve" maxlength="6" />
            </div>
          </div>
        </div>
        <div class="col-md-12 u-form-group">
          <button class="btn btn-atk-primary mt-3" type="button" id="customerProfileEditConfirmBtn">Confirm</button>
        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="isChangePasswordOpen">
      <button type="button" class="close" (click)="closeAllDialog()" id="closeLoginModal" aria-label="Close">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </button>
      <div class="p-3" style="text-align: center">
        <h3>Change Password</h3>
      </div>
      <form class="email-login mt-4">
        <div class="u-form-group mt-3">
          <input type="password" class="form-control" id="oldPassword" placeholder="Old Password" />
        </div>
        <div class="u-form-group mt-3">
          <input type="password" class="form-control" id="newPassword" placeholder="New Password" />
        </div>
        <div class="u-form-group mt-3">
          <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" />
        </div>
        <div class="u-form-group signin">
          <button class="btn btn-atk-primary mt-4">Confirm</button>
        </div>
      </form>
    </ng-container>
  </div>
</header>
