
<div class="container purchase ">
      <div class="row">
          <div class="col-md-12 topicPurchase">
              <div class="col-md-4"><h2>Purchase History</h2></div>
          </div>
          <!--<div id="pageNavPosition" name="pageNavPosition" align="right"></div>-->
          <!--table -->
          <!--<div class="table-responsive">-->
          <div class="no-copy box-table">
          <table id="results" name="results" class="table">
              <thead>
              <tr valign="middle">
                  <th align="center">Reserve Date</th>
                  <th align="center">Event Name</th>
                  <th align="center">Venue</th>
                  <th align="center">Date Time</th>
                  <th align="center">Seat No.</th>
                  <th align="center">Amount</th>
                  <th align="center">Payment Date</th>
                  <th align="center">Reserve Status</th>
                  <th align="center">Payment Channel</th>
              </tr>
              </thead>
              <tbody>
              <!--<a href="#/!historyDetail">-->
              <tr routerLink="/historyDetail">
                  <td data-th="วันที่จอง">12/07/2017 09:47:21</td>
                  <td data-th="การแสดง">EXO PLANET</td>
                  <td data-th="สถานที่">Impact Areana Soi Nanthana 4. Ban Song Hong, Nonthaburi, Thailand 11000</td>
                  <td data-th="รอบ">18/07/2017 18:00</td>
                  <td data-th="เลขที่นั่ง">A23, A24, A25, A26</td>
                  <td data-th="ราคา">15,694</td>
                  <td data-th="วันที่จ่ายเงิน">12/07/2017 15:47:21</td>
                  <td data-th="สถานะการจอง">Complete</td>
                  <td data-th="ช่องทางการชำระ">7-Eleven</td>
              </tr>
              <!--</a>-->
              <tr onclick="openHistory()">
                  <td data-th="วันที่จอง">12/07/2017 09:47:21</td>
                  <td data-th="การแสดง">AVATAR : Discover Pandora Bangkok</td>
                  <td data-th="สถานที่">MCC Hall The Mall Bangkapi Bangkapi</td>
                  <td data-th="รอบ">03/09/2017 10:00:00</td>
                  <td data-th="เลขที่นั่ง">Festival Seat</td>
                  <td data-th="ราคา">490</td>
                  <td data-th="วันที่จ่ายเงิน">12/07/2017 15:47:21</td>
                  <td data-th="สถานะการจอง">Cancel</td>
                  <td data-th="ช่องทางการชำระ"></td>
              </tr>
              <tr>
                  <td data-th="วันที่จอง">12/07/2017 09:47:21</td>
                  <td data-th="การแสดง">AVATAR : Discover Pandora Bangkok</td>
                  <td data-th="สถานที่">MCC Hall The Mall Bangkapi Bangkapi</td>
                  <td data-th="รอบ">03/09/2017 10:00:00</td>
                  <td data-th="เลขที่นั่ง">Festival Seat</td>
                  <td data-th="ราคา">490</td>
                  <td data-th="วันที่จ่ายเงิน">12/07/2017 15:47:21</td>
                  <td data-th="สถานะการจอง">Cancel</td>
                  <td data-th="ช่องทางการชำระ"></td>
              </tr>
              <tr onclick="openHistory()">
                  <td data-th="วันที่จอง">12/07/2017 09:47:21</td>
                  <td data-th="การแสดง">AVATAR : Discover Pandora Bangkok</td>
                  <td data-th="สถานที่">MCC Hall The Mall Bangkapi Bangkapi Bangkapi Bangkapi</td>
                  <td data-th="รอบ">03/09/2017 10:00:00</td>
                  <td data-th="เลขที่นั่ง">Festival Seat</td>
                  <td data-th="ราคา">490</td>
                  <td data-th="วันที่จ่ายเงิน">12/07/2017 15:47:21</td>
                  <td data-th="สถานะการจอง">Cancel</td>
                  <td data-th="ช่องทางการชำระ"></td>
              </tr>
              <tr onclick="openHistory()">
                  <td data-th="วันที่จอง">12/07/2017 09:47:21</td>
                  <td data-th="การแสดง">AVATAR : Discover Pandora Bangkok</td>
                  <td data-th="สถานที่">MCC Hall The Mall Bangkapi Bangkapi</td>
                  <td data-th="รอบ">03/09/2017 10:00:00</td>
                  <td data-th="เลขที่นั่ง">Festival Seat</td>
                  <td data-th="ราคา">490</td>
                  <td data-th="วันที่จ่ายเงิน">12/07/2017 15:47:21</td>
                  <td data-th="สถานะการจอง">Cancel</td>
                  <td data-th="ช่องทางการชำระ"></td>
              </tr>
              </tbody>
          </table>
          </div>
          
        </div>
     </div> 