/* = table
------------------------*/
.purchase .box-table{
  /*font:normal 12px/150% Arial, Helvetica, sans-serif;*/
  overflow:hidden;
  /*margin:0 auto;*/
  display:block;
  width:95%;
  padding:2.5%;
}
.purchase .box-table table{
  /*border-collapse:collapse;*/
  text-align:left;
  width:100%;
  /*margin:0;
  padding:0;*/
  /*background:#7f8c8d;*/
  animation: responsive 5s infinite ease-in-out;
}
.purchase .box-table table thead th{
  color:#FFF;;
  background:#1b1e24;
  /*border-bottom:4px solid #9ea7af;*/
  /*border-right: 1px solid #343a45;*/
  font-size:14px;
  font-weight: 50;
  /*padding:7px;*/
  height: 40px;
  text-align:center;
  /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
}

.purchase .box-table table tbody tr:nth-child(odd){
  background:#FFFFFF;
  color:#1b1e24;
  font-size:12px;
  /*padding:5px;*/
  /*height: 25px;*/
}
.purchase .box-table table tbody tr:nth-child(even){
  background:#F5F5F5;
  color:#1b1e24;
  font-size:12px;
  /*padding:5px;*/
  /*height: 25px;*/
}
.purchase .box-table table tbody tr:hover td{
  background:#4E5066;
  color:#FFFFFF;
  box-shadow: 1px 1px 3px black; 
  /*border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;*/
}

.purchase .box-table table tr td {
  /*border-top: 1px solid #4E5066;*/
  border-left: 1px solid #4E5066;
  /*border-right: 1px solid #4E5066;*/
  border-bottom: 1px solid;   
}

.purchase .no-copy{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
}

/* = Responsive table
------------------------*/

/* http://elvery.net/demo/responsive-tables/  */
@media only screen and (max-width: 750px){
 .purchase .box-table th,
 .purchase .box-table td{
    /*margin:0;*/
    vertical-align:top;
  }
  .purchase .box-table th{
    text-align:left;
  }
  .purchase .box-table table{
    display:block;
    position:relative;
    width:100%;
    
  }
  .purchase .box-table thead{
    display:block;
    float:left;
  }
  .purchase .box-table thead tr{
    display:block;
  }
  .purchase .box-table tbody tr{
    display:inline-block;
    vertical-align:top;
    /*border-spacing: 0px;*/
  }
  .purchase .box-table tbody{
    display:block;
    /*width:200px;*/
    width:auto;
    position:relative;
    overflow-x:auto;
    white-space:nowrap;
    /*border-spacing: 0px;*/
  }
  .purchase .box-table th{
    display:block;
    text-align:right;
    /*border-spacing: 0px;*/
  }
  .purchase .box-table td{
    display:block;
    /*min-height:1.25em;*/
    text-align:left;
    height: 40px;
  }

}
