<main>
  <section id="slider">
    <div class="owl-carousel">
      <div class="item" *ngFor="let image of slideBannerImages; index as i;">
        <img [src]="image.imageName" (load)="slideLoaded()" />
        <!-- <img [src]="test()" (load)="slideLoaded()" /> -->
      </div>
    </div>
  </section>

  <section id="card-ticket" class="mt-2" *ngIf="cardTickets">
    <card-ticket [showType]="2" [cardData]="cardTickets"></card-ticket>
  </section>

  <section class="mt-4 p-3" id="sliderCard">
    <div class="container">
      <div class="row">
        <div class="owl-carousel">
          <div class="col cardwrapper" *ngFor="let cardTicket of cardTicketSlide;">
            <div class="cardbox mx-auto" ev-id="EV_18032" skip-info="N">
              <a href="#">
                <div class="card-overlay" title="เทศกาลอาหารและดนตรี วาฬ...จันทร์บอกรักเธอ">
                  <img src="https://atkmedia.allticket.com/assets/images/cursor.png">
                </div>
              </a>
              <img class="card-img-top img-fluid" [src]="cardTicket.performCardPic"
                alt="Card image cap">
              <div class="card-buyTicket commingsoon">
                <a href="#">
                  <i class="fa fa-shopping-cart fa-fw pr-2" aria-hidden="true"></i>
                  <span>COMING SOON</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-5 align-self-center eventDate is-size-6 p-1">
                  <div class="text-dark text-overflow-ellipsis" [innerHTML]="cardTicket.performCardShowDate | safeHtml"></div>
                </div>
                <div class="col-7 align-self-center eventName px-1">
                  <div class="my-1 text-overflow">{{cardTicket.performCardName}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>