<main>
  <section id="slider" [ngClass]="{ 'show' : isSlideLoaded == true }">
    <div class="preload-slide" [ngClass]="{ 'show' : isSlideLoaded == false }">
      <div class="is-loading text-danger"></div>
    </div>
    <div class="owl-carousel">
      <div class="item cursor-pointer" *ngFor="let image of slideBannerImages; index as i;" (click)="goToEventInfo(image.id)">
        <img [src]="image.imageName" (load)="slideLoaded()" />
        <!-- <img [src]="test()" (load)="slideLoaded()" /> -->
      </div>
    </div>
  </section>

  <section id="card-ticket" class="mt-2" *ngIf="cardTickets">
    <div class="container">
      <div class="card-ticket px-4">
        <div class="row ticket-recommend">
          <div class="col-12 px-0">
            <span class="text-primary border-ticket-title">
              <img src="./assets/images/icon_ticket_recommend.png" />
            </span>
          </div>
        </div>
        <card-ticket [cardData]="cardTickets.rec"></card-ticket>
      </div>

      <div class="card-ticket px-4" *ngIf="cardTickets.hot.length > 0">
        <div class="row ticket-recommend">
          <div class="col-12 px-0">
            <span class="text-danger border-ticket-title">
              <img src="./assets/images/icon_ticket_hot.png" />
            </span>
          </div>
        </div>
        <card-ticket [cardData]="cardTickets.hot"></card-ticket>
      </div>
    </div>
  </section>

  <section class="mt-4 p-3" id="sliderCard">
    <div class="container">
      <div class="row">
        <div class="owl-carousel">
          <div class="col cardwrapper" *ngFor="let cardTicket of cardTicketSlide;">
            <div class="cardbox mx-auto">
              <a href="#">
                <div class="card-overlay" [title]="cardTicket.name">
                  <img src="https://atkmedia.allticket.com/assets/images/cursor.png">
                </div>
              </a>
              <img class="card-img-top img-fluid" [src]="cardTicket.performCardPic" (load)="slideCardLoaded()" (error)="cardTicket.performCardPic = placeHolderImg"
              [alt]="cardTicket.name">
              <ng-template [ngIf]="cardTicket.isPromo == true" [ngIfElse]="isPromo">
                  <div class="card-buyTicket commingsoon">
                    <a href="#">
                      <i class="fa fa-clock-o fa-fw pr-2" aria-hidden="true"></i>
                      <span>COMING SOON</span>
                    </a>
                  </div>
                </ng-template>
                
              <ng-template #isPromo>
                <ng-template [ngIf]="cardTicket.isFull == true" [ngIfElse]="showBuyBtn">
                  <div class="card-buyTicket soldout">
                    <a href="#">
                      <i class="fa fa-ban fa-fw pr-2" aria-hidden="true"></i>
                      <span>SOLD OUT</span>
                    </a>
                  </div>
                </ng-template>
              </ng-template>
  
              <ng-template #showBuyBtn>
                <div class="card-buyTicket">
                  <a href="#">
                    <i class="fa fa-shopping-cart fa-fw pr-2" aria-hidden="true"></i>
                    <span>BUY TICKET</span>
                  </a>
                </div>
              </ng-template>
              <div class="row cardfooter">
                <div class="col-5 align-self-center eventDate is-size-6 p-1">
                  <div class="text-dark text-overflow-ellipsis" [innerHTML]="cardTicket.performCardShowDate | safeHtml"></div>
                </div>
                <div class="col-7 align-self-center eventName px-1">
                  <div class="my-1 text-overflow" [innerHtml]="cardTicket.performCardName == '' ? cardTicket.name : cardTicket.performCardName"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>