#slider .owl-carousel img {
    width : 100%;
<<<<<<< HEAD
=======
}

@media (max-width: 479px) {
    #sliderCard {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 480px) and (max-width: 991px) {
    #sliderCard {
        width: 90%;
        margin: 0 auto;
    }
>>>>>>> e96048dc94ba14ceee7555de9d1fd9dac6369179
}