#slider .owl-carousel img {
    width : 100%;
    min-height: 150px;
}

@media (max-width: 479px) {
    #sliderCard {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 480px) and (max-width: 991px) {
    #sliderCard {
        width: 90%;
        margin: 0 auto;
    }
}