<main>
  <section id="slider">
    <div class="owl-carousel">
      <div class="item" *ngFor="let image of slideBannerImages; index as i;">
        <img [src]="S3_CONTEXT+image.pathLocation+screenType+image.imageName" (load)="slideLoaded()" />
        <!-- <img [src]="test()" (load)="slideLoaded()" /> -->
      </div>
    </div>
  </section>


  <section id="card-ticket" class="mt-2">
    <div class="container allevent">
      <div class="eventtopic">
        <div class="container">
          <div class="row ticket-recommend">
            <div class="col-12 px-0">
              <span class="text-primary border-ticket-title">
                <img src="./assets/images/icon_ticket_recommend.png" />
              </span>
            </div>
          </div>
          <div class="row cpt20">
            <div class="col-12 col-sm-6 col-lg-3 card align-items-center align-items-lg-stretch cardwrapper" *ngFor="let cardTicket of cardTicketsRecommend;">
              <div class="cardbox" ev-id="EV_18019" skip-info="N">
                <a (click)="goEventInfo()">
                  <div class="card-overlay" title="Sunset Beach Music Festival 2018">
                    <img src="https://atkmedia.allticket.com/assets/images/cursor.png">
                  </div>
                </a>
                <img class="card-img-top img-fluid" src="https://atkmedia.allticket.com/assets/content/18019/PHK18019150120181536ticketCard.jpg"
                  alt="Card image cap">
                <div class="card-buyTicket">
                  <a href="#">
                    <i class="fa fa-shopping-cart fa-fw pr-2" aria-hidden="true"></i>
                    <span>BUY TICKET</span>
                  </a>
                </div>
                <div class="row cardfooter">
                  <div class="col-5 align-self-center eventDate px-1">
                    <div class="text-dark text-overflow">31
                      <br>MAR/2018</div>
                  </div>
                  <div class="col-7 align-self-center eventName px-1">
                    <div class="my-1 text-overflow">Sunset Beach Music Festival 2018</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="eventtopic">
        <div class="container">
          <div class="row ticket-recommend">
            <div class="col-12 px-0">
              <span class="text-danger border-ticket-title">
                <img src="./assets/images/icon_ticket_hot.png" />
              </span>
            </div>
          </div>
          <div class="row cpt20">
            <div class="col-12 col-sm-6 col-lg-3 card align-items-center align-items-lg-stretch cardwrapper" *ngFor="let cardTicket of cardTicketsHot;">
              <div class="cardbox" (click)="goEventInfo()" ev-id="EV_18016" skip-info="N">
                <div class="card-overlay" title="EXO PLANET #4 - The ElyXiOn - in BANGKOK">
                  <img src="https://atkmedia.allticket.com/assets/images/cursor.png">
                </div>
                <img class="card-img-top imgResponsive" src="https://atkmedia.allticket.com/assets/content/18016/SMT18016160120181759ticketCard.jpg"
                  alt="Card image cap">
                <div class="card-buyTicket soldout">
                  <a href="#">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                    <span>SOLD OUT</span>
                  </a>
                </div>
                <div class="row cardfooter">
                  <div class="col-5 eventDate text-overflow">
                    <span class="textblack">16-18
                      <br>MAR/2018</span>
                    <br>
                  </div>
                  <div class="col-7 align-self-center eventName text-overflow px-1">
                    <div class="my-1 text-overflow">The ElyXiOn in BANGKOK</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-4 p-3" id="sliderCard">
    <div class="container">
      <div class="row">
        <div class="owl-carousel">
          <div class="col cardwrapper" *ngFor="let cardTicket of cardShowAll;">
            <div class="cardbox mx-auto" ev-id="EV_18032" skip-info="N">
              <a href="#">
                <div class="card-overlay" title="เทศกาลอาหารและดนตรี วาฬ...จันทร์บอกรักเธอ">
                  <img src="https://atkmedia.allticket.com/assets/images/cursor.png">
                </div>
              </a>
              <img class="card-img-top img-fluid" src="https://atkmedia.allticket.com/assets/content/18023/TBK18023060220181353ticketCard.jpg"
                alt="Card image cap">
              <div class="card-buyTicket commingsoon">
                <a href="#">
                  <i class="fa fa-shopping-cart fa-fw pr-2" aria-hidden="true"></i>
                  <span>COMING SOON</span>
                </a>
              </div>
              <div class="row cardfooter">
                <div class="col-5 align-self-center eventDate is-size-6 p-1">
                  <div class="text-dark text-overflow-ellipsis">28-29
                    <br>MAR/2018</div>
                </div>
                <div class="col-7 align-self-center eventName px-1">
                  <div class="my-1 text-overflow">ัตรชมฟุตบอลสโมสรทรู แบงค็อก ยูไนเต็ด</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
