.info-wrapper {
  text-align: center;
}

.stack-text {
  display: inline-block;
  text-align: center;
  background-color: #ececec;
  padding: 0.7rem 1.2rem;
  border-radius: 0.5rem;
}

.stack-text span {
  font-size: 20px;
  letter-spacing: 1.9px;
  font-weight: 700;
}

.bar-loading {
  margin: 6rem auto 3.5rem auto;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bars {
  display: block;
  width: 80px;
  height: 40px;
  background: #2196f3;
  border-radius: 5px;
  margin: 3px 0;
  opacity: 0.0;
  /* initial state */
  -webkit-animation: pulsate 1s ease-out infinite;
  animation: pulsate 1s ease-out infinite;
}

#bar1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

#bar2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s
}

#bar3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#bar4 {
  -webkit-animation-delay: 0.65s;
  animation-delay: 0.65s;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.0;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.stack-text span {
  animation: fadeIn 3s forwards;
}

@media (max-width: 768px) {
  .stack-text span {
    font-size: 18px;
  }
}
