<div class="container containerPaymentCashReport">
  <div class="row">
      <div class="col-md-7 col-xs-12 p-t-20 ">
          <ul id="eventContentReport">
              <li class="logoContent"><img class="logoBanner" src="../../../assets/images/logo_allticket.png" /></li>
              <li class="p-t-20">
                  <h2>EXO PLANET</h2>
              </li>
              <li><i class="fa fa-map-marker p-t-20" ></i><span id="venuInfoBar"  class='p-l-5' >Impact Areana Soi Nanthana 4. Ban Song Hong, Nonthaburi, Thailand 11000</span></li>
              <li><i class="fa fa-calendar-o p-t-20"></i><span id="dateInfoBar" class='p-l-5' >Tue 18 Jul 2017</span></li>
              <li><i class="fa fa-clock-o p-t-20"></i><span id="timeInfoBar"  class='p-l-5' >06:00 PM</span></li>
          </ul>
      </div>
      <div class="col-md-5 col-xs-12 p-t-20">
          <ul id="customerContentReport">
              <li class="underScoreTopic"><i class="fa fa-user p-t-20"></i>
                  <h3 class="dspInlineBlock p-l-5 text-bold">Customer Infomation</h3>
              </li>
              <li class="p-r-20 p-t-20"><span class="text-bold" >Name : </span><span> Mr. Burin Sangwan</span></li>
              <li class="p-r-20 p-t-20"><span class="text-bold" >ID Card No. / Passport No. : </span><span>1103100232142</span></li>						
              <li class="p-r-20 p-t-20"><span class="text-bold" >Email : </span><span>burinsan@gosoft.co.th</span></li>
              <li class="p-r-20 p-t-20"><span class="text-bold" >Mobile No. : </span><span>0851992697</span></li>	
              <li class="p-r-20 p-t-20"><span class="text-bold">Shipping Address : </span><span>เลขที่ 119 อาคาร ธาราสาทร ชั้น 4-6 สาทรซอย 5 ถนน สาทรใต้ แขวงทุ่งมหาเมฆ เขตสาทร กรุงเทพฯ 10120</span></li>
          </ul>
      </div>
  </div>
  <div class="container padButtom20px p-15">
      <div id="reservationContentOuter" class="col-md-12 padButtom20px">
  <div class="row ">
      
          <div class="col-lg-6   no-padding-left p-r-30">
              <ul id="reservationContent">
                  <li class="underScoreTopic"><i class="fa fa-bookmark p-t-20"></i>
                      <h3 class="dspInlineBlock p-l-5 text-bold">Reservation Infomation</h3>
                  </li>
                  <li class="p-t-20"><span class="text-bold">Reserve ID : </span><span>810011705000849524</span></li>
                  <li class="p-t-20"><span class="text-bold">Zone : </span><span>A1</span></li>
                  <li class="p-t-20"><span class="text-bold">Seat No. : </span><span>A23, A24, A25, A26</span></li>
                  <li class="p-t-20"><span class="text-bold">Quantity : </span><span>4</span></li>
                  <li class="p-t-20"><span class="text-bold">Unit Price (Baht) : </span><span>4,000</span></li>
              </ul>
          </div>
          <div class="col-lg-6 col-12 padButtom20px no-padding-left">
              <ul id="paymentContent">
                  <li class="underScoreTopic"><i class="fa fa-credit-card p-t-20"></i>
                      <h3 class="dspInlineBlock p-l-5 text-bold">Payment Infomation</h3>
                  </li>
                  <li class="p-t-20"><span class="text-bold">Discount : </span><span>346</span></li>
                  <li class="p-t-20"><span class="text-bold">Shipping (Baht) / Unit Price (Baht) : </span><span>0</span></li>
                  <li class="p-t-20"><span class="text-bold">Counter Service Fee (Baht) : </span><span>0</span></li>
                  <li class="p-t-20"><span class="text-bold">Service Charge (20 Baht per ticket) : </span><span>20</span></li>
                  <li class="p-t-20"><span class="text-bold">Convenience Fee (Baht) : </span><span>20</span></li>
                  <li class="p-t-20"><span class="text-bold">Total Amount (Baht) : </span><span>15,694</span></li>
              </ul>
          </div>
      </div>
  </div>
</div>
  
  </div>