.fs18 {
  font-size: 18px;
}

.bdr2 {
  border-right: 2px solid #ccc;
}

.dprt {
  padding-top: 15px;
}

.arrv {
  padding-top: 15px;
  padding-bottom: 15px;
}

.bookingInfo {
  padding-bottom: 15px;
}

.busInfo {
  padding-bottom: 15px;
}

.custInfo {
  padding: 15px 0px;
  width: 100%;
  border-top: 2px solid #ccc;
}

.reserveColResultTransTrans {
  word-wrap: break-word;
}

@media (max-width: 575px) {
  .bdr2 {
    border-right: 0px;
    border-bottom: 2px solid #ccc;
  }
}
