<div class="contrainer-fluid">
  <img style="width: 100%;" src="https://s3-ap-southeast-1.amazonaws.com/dev.allticketthailand.com/images/tabBar.gif">
  <br>
  <div id="printArea">
    <div style="border: 1px solid #003fc0;">
      <div class="bookingInfo">
        <div class="row m-0">
          <div class="col-12 fs18">
            ข้อมูลการจอง
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 reserveColResultTransTransTrans">
            Reserve ID
          </div>
          <div class="col-6 reserveColResultTransTrans">
            810018043400149192
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 reserveColResultTransTransTrans">
            TransID
          </div>
          <div class="col-6 reserveColResultTransTrans">
            999801802220954085
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 reserveColResultTransTransTrans">
            <b>รหัสออกตั๋ว</b>
          </div>
          <div class="col-6 reserveColResultTransTrans">
            00538416
          </div>
        </div>
      </div>
      <div class="busInfo">
        <div style="border-collapse: collapse;width: 100%;border-top: 2px solid #ccc;">
          <div class="row m-0">
            <div class="col-12 reserveColResultTransTransTrans" style="font-size:17px;">
              รายละเอียดเที่ยวรถ
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-6 bdr2 dprt">
              <b>เที่ยวไป</b>
              <div>
                รหัสออกตั๋ว 00538416
                <br>กรุงเทพมหานคร ไป ลำปาง
                <br>วันที่ 23/02/2018 เวลา 07:25 น.
                <br>สายที่ 15 มาตรฐาน ม.4ค
                <br>ชานชาลา กรุงเทพ(หมอชิตใหม่2)
                <br>ช่อง 114(หมอชิต2)
                <br>หมายเลขรถ 18-1839 ชั้น 2 ที่นั่ง E9
                <br>
              </div>
            </div>
            <div class="col-12 col-sm-6 arrv">
              <b>เที่ยวกลับ</b>
              <br>เลขที่ตั๋ว 61CSV_A0000579
              <br>Titiphong Tawilo
              <br>เบอร์โทร 0817061166
              <br>ลำปาง ไป กรุงเทพมหานคร
              <br>วันที่ 24/02/2018 เวลา 21:00 น.
              <br>สายที่ 15 มาตรฐาน ม.4ค
              <br>ชานชาลา สถานีขนส่งผู้โดยสาร จ.ลำปาง
              <br>ช่อง 16
              <br>หมายเลขรถ 18-1843 ชั้น 2 ที่นั่ง E3
              <br>เลขที่ตั๋ว
              <br>61CSV_A0000580
              <br>Titiphong Tawilo
              <br>เบอร์โทร 0817061166
              <br>สลิปนี้ไม่สามารถใช้ขึ้นรถได้
              <br>รับตั๋วA4ที่เซเว่นอีเลฟเว่น
              <br>เพื่อใช้ในการขึ้นรถ
              <br>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12" style="vertical-align: top;text-align: center;color:red;">
              <b>
                <div>ท่านจะต้องมาถึงสถานีขนส่งหรือจุดขึ้นรถก่อนกำหนดการเดินทางไม่น้อยกว่า 30 นาที
                  <br>กรุณานำหลักฐานการชำระเงิน มาพิมพ์ตั๋วโดยสารได้ที่ร้าน 7-Eleven ทั่วประเทศ เพื่อใช้ในการขึ้นรถโดยสาร </div>
              </b>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12">
              <br>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="reserveColResultTransTrans col-6">
            <b>บัตรอาหาร</b>
          </div>
          <div class="reserveColResultTransTrans col-6">
            มีบัตรอาหาร
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 reserveColResultTransTransTrans">
            Price (Baht)
          </div>
          <div class="col-6 reserveColResultTransTrans">
            610
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 reserveColResultTransTransTrans">
            Service Fee
          </div>
          <div class="col-6 reserveColResultTransTrans">
            15
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 reserveColResultTransTransTrans">
            Convenience fee (Baht)
          </div>
          <div class="col-6 reserveColResultTransTrans">
            0
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 reserveColResultTransTransTrans">
            Total Amount (Baht)
          </div>
          <div class="col-6 reserveColResultTransTrans">
            <span style="color: #0f3fa3;font-weight: bold;">625</span>
          </div>
        </div>
      </div>
      <div class="custInfo">
        <div class="row m-0">
          <div class="col-12">
            <b>Customer Information</b>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 reserveColResultTransTransTrans">
            <b>Name</b>
          </div>
          <div class="col-6 reserveColResultTransTrans">
            <b>Titiphong Tawilo</b>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 reserveColResultTransTransTrans">
            <b>Email</b>
          </div>
          <div class="col-6 reserveColResultTransTrans">
            <b>icetitiphong@gmail.com</b>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-6 reserveColResultTransTransTrans">
            <b>ID Card No. / Passport No.</b>
          </div>
          <div class="col-6 reserveColResultTransTrans">
            <b>1529900749832</b>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
