<div class="eventtypeWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 iconTopic">
        <span>BUS
          <img src="assets/images/bus.png"> </span>
      </div>
    </div>
    <div class="row cpt20">
      <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
        <div class="cardbox">
          <a routerLink="/selectDestination">
            <div class="card-overlay" title="Sunset Beach Music Festival 2018">
              <img src="https://atkmedia.allticket.com/assets/images/cursor.png">
            </div>
          </a>
          <img class="card-img-top imgResponsive" src="assets/images/Logo/Logo-07.png" alt="Card image cap">
          <div class="card-buyTicket">
            <a routerLink="/selectDestination">
              <i class="fa fa-shopping-cart fa-fw pr-2" aria-hidden="true"></i>
              <span>BUY TICKET</span>
            </a>
          </div>
          <div class="row cardfooter">
            <div class="col-sm-12 eventNameRe text_overflow">
              Transport
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
