<div class="eventtypeWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 iconTopic">
        <span>BUS
          <img src="../assets/images/bus.png"> </span>
      </div>
    </div>
    <div class="row cpt20">
      <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
        <div class="cardbox"> 
          <div class="card-overlay">
            <img src="../assets/images/cursor.png">
          </div>
          <img class="card-img-top imgResponsive" src="../../../../assets/images/Logo/Logo-07.png" alt="Card image cap">
          <div class="card-buyTicket">
            <a href="#">
              <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
              <span>BUY TICKET</span>
            </a>
          </div>
          <div class="row cardfooter">
            <div class="col-sm-12 eventNameRe text_overflow">
              Transport
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
        <div class="cardbox"> 
          <div class="card-overlay">
            <img src="../assets/images/cursor.png">
          </div>
          <img class="card-img-top imgResponsive" src="../../../../assets/images/Logo/Logo-06.png" alt="Card image cap">
          <div class="card-buyTicket">
            <a href="#">
              <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
              <span>BUY TICKET</span>
            </a>
          </div>
          <div class="row cardfooter">
            <div class="col-sm-12 eventNameRe text_overflow">
              Siam First Tour
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
        <div class="cardbox"> 
          <div class="card-overlay">
            <img src="../assets/images/cursor.png">
          </div>
          <img class="card-img-top imgResponsive" src="../../../../assets/images/Logo/Logo-05.png" alt="Card image cap">
          <div class="card-buyTicket">
            <a href="#">
              <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
              <span>BUY TICKET</span>
            </a>
          </div>
          <div class="row cardfooter">
            <div class="col-sm-12 eventNameRe text_overflow">
              Greenbus
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3 card cardwrapper">
        <div class="cardbox"> 
          <div class="card-overlay">
            <img src="../assets/images/cursor.png">
          </div>
          <img class="card-img-top imgResponsive" src="../../../../assets/images/Logo/Logo-09.png" alt="Card image cap">
          <div class="card-buyTicket">
            <a href="#">
              <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
              <span>BUY TICKET</span>
            </a>
          </div>
          <div class="row cardfooter">
            <div class="col-sm-12 eventNameRe text_overflow">
              Nakhonchai Air
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
