.selectDestination {
    padding: 15px 15% 0px 15%;
}

.selectDestination .btn-atk-primary {
    font-size: 18px;
    background-color: #37BDE0;
    border-bottom: 3px solid #389ABF;
    color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 2rem;
    cursor: pointer;
}

.selectDestination .btn-atk-danger {
    font-size: 18px;
    background-color: #EC1D23;
    border-bottom: 3px solid #ad1616;
    color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 2rem;
    cursor: pointer;
}

.selectDestination .buttonWrapper {
    text-align: right;
}


.selectDestination .busTopic img{
    max-width: 100px;
    height: auto;
}

.selectDestination .busTopic span{
    font-size: 22px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-weight: 700
}