<div class="container" *ngIf="isDisplay">
  <div class="row tripOption">
    <div class="col-6  col-md-3 p0">
      <div class="form-check-label h5">
        <input class="form-check-input" name="radioTypeTrip" type="radio" id="inlineRadio1" value="O" (change)="selectType($event)"
          name="oneway" checked>
        <label class="wayLabel" for="inlineRadio1">เที่ยวเดียว</label>
      </div>
    </div>
    <div class="col-6  col-md-3 p0">
      <div class="form-check-label h5">
        <input class="form-check-input" name="radioTypeTrip" type="radio" id="inlineRadio2" value="R" (change)="selectType($event)"
          name="oneway" checked>
        <label class="wayLabel" for="inlineRadio2">ไป-กลับ</label>
      </div>
    </div>
  </div>
  <div class="row ptb15">
    <div class="col-12 col-md-5 destinationWrapper">
      <div class="col-12 p0">
        <label class="h5">จุดขึ้นรถ</label>
      </div>
      <div class="col-12  checkPoint">
          <span class="clearable">
              <input class="form-control" type="text" placeholder="เลือกต้นทาง" auto-complete [source]="provinceList" (ngModelChange)="selectDprtProvince($event)"
              [(ngModel)]="selectedDptrProvince" (blur)="findDprtParkList()" loading-text="กำลังดาวน์โหลด" list-formatter="desc"
              [accept-user-input]="false" [disabled]="isProvinceLoading || isParkListLoading" [ngClass]="{'show-loading' : isProvinceLoading || isParkListLoading}"
              aria-describedby="basic-addon2">
              <i class="fa fa-times clearable_clear" (click)="deselect('selectedDptrProvince')" [ngClass]="{ show: !selectedDptrProvince == '' || !selectedDptrProvince == undefined }"></i>
          </span>
      </div>
      <div class="col-12 checkPoint">
        <span class="clearable">
          <input class="form-control" type="text" placeholder="เลือกจุดขึ้นรถ" auto-complete [source]="dptrParkList" [(ngModel)]="selectedDptrPark"
          (ngModelChange)="selectdprtPark($event)" (blur)="getRoutePrvParkMap()" loading-text="กำลังดาวน์โหลด" list-formatter="nameTh"
          [accept-user-input]="false" [disabled]="selectedDptrProvince == '' || selectedDptrProvince == undefined">
          <i class="fa fa-times clearable_clear" (click)="deselect('selectedDptrPark')" [ngClass]="{ show: !selectedDptrPark == '' || !selectedDptrPark == undefined }"></i>
        </span>
      </div>
    </div>

    <div class="col-12 col-md-2 text-center swapDestination">
      <p class="fa fa-exchange fa-2x" aria-hidden="true"></p>
    </div>


    <div class="col-12 col-md-5 destinationWrapper">
      <div class="col-12 p0">
        <label class="h5">จุดลงรถ</label>
      </div>
      <div class="col-12 checkPoint">
        <span class="clearable">
          <input class="form-control" type="text" placeholder="เลือกปลายทาง" auto-complete [source]="arrvProvinceList" (ngModelChange)="selectArrvProvince($event)"
            [(ngModel)]="selectedArrvProvince" (blur)="findArrvParkList()" loading-text="กำลังดาวน์โหลด" list-formatter="desc"
            [accept-user-input]="false" [disabled]="isArrvProvinceLoading" [ngClass]="{'show-loading' : isArrvProvinceLoading }">
            <i class="fa fa-times clearable_clear" (click)="deselect('selectedArrvProvince')" [ngClass]="{ show: !selectedArrvProvince == '' || !selectedArrvProvince == undefined }"></i>
        </span>
      </div>
      <div class="col-12 checkPoint">
        <span class="clearable">
        <input class="form-control" type="text" placeholder="เลือกจุดลงรถ" auto-complete [source]="arrvParkList" [(ngModel)]="selectedArrvPark"
          loading-text="กำลังดาวน์โหลด" list-formatter="desc" [accept-user-input]="false" [disabled]="selectedArrvProvince == '' || selectedArrvProvince == undefined">
          <i class="fa fa-times clearable_clear" (click)="deselect('selectedArrvPark')" [ngClass]="{ show: !selectedArrvPark == '' || !selectedArrvPark == undefined }"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="row ptb15">
    <div class="col-12 col-md-5 date">
      <label class="h5">วันที่ไป</label>
      <div class="col-12 p0">
        <p-calendar [(ngModel)]="departDate" [showIcon]="true" [minDate]="minDate" calendarLanguage="th" *ngIf="selectedTripType == 'O'"></p-calendar>
        <p-calendar [(ngModel)]="departDate" [showIcon]="true" calendarLanguage="th" [minDate]="minDate" *ngIf="selectedTripType == 'R'"></p-calendar>
      </div>
    </div>
    <div class="col-12 offset-md-2 col-md-5 date" *ngIf="selectedTripType == 'R'">
      <label class="h5">วันที่กลับ</label>
      <div class="col-12 p0" *ngIf="selectedTripType == 'R'">
        <p-calendar [(ngModel)]="returnDate" [showIcon]="true" calendarLanguage="th" [minDate]="departDate"></p-calendar>
      </div>
    </div>
  </div>

  <div class="row ptb15">
    <div class="col-12 p0">
      <div class="col-md-12 h5 p0">จำนวนผู้เดินทาง</div>
      <div class="row">
        <div class="col-12 col-md-4 col-xl-2">
          <select class="form-control" [(ngModel)]="selectedNumOfPerson" *ngIf="selectedTripType == 'O'">
            <option value="0" disabled selected>กรุณาเลือก</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <select class="form-control" [(ngModel)]="selectedNumOfPerson" *ngIf="selectedTripType == 'R'">
            <option value="0" disabled selected>กรุณาเลือก</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <div class="col-12 col-md-6 col-xl-3 align-self-center mt-2 mt-md-0 limit4">จำนวนผู้เดินทาง(ไม่เกิน 4 ที่นั่ง)</div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12 col-md-6 p0 conditon">
      <div class="col-12 px-0 pb-2"> เงื่อนไขการซื้อ </div>
      <label *ngFor="let data of condition"> {{data}} </label>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-12 buttonWrapper p-0">
      <button class="btn btn-atk-primary mt-3 buttonSize" type="button" (click)="onNextPage()" [ngClass]="{'disabled' : isShowLoading}"><span *ngIf="!isShowLoading; else showLoad">NEXT</span><ng-template #showLoad>Loading <i class="fa fa-circle-o-notch fa-spin"></i></ng-template></button>
    </div>
  </div>
</div>
