<div class="selectRoundBox">
  <div class="pageTopic col-12">
    <span>กรุณาเลือกวันที่ และ วันเดินทางไป</span>
  </div>
  <div class="dateRange">
    <div class="row mx-0 p-0">
      <div class="col-1 arrow">
        <span class="left" (click)="searchTrips('dptr', dptrDate[1])">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </span>
      </div>
      <div class="col d-none d-sm-block otherDate">
        <span (click)="searchTrips('dptr', dptrDate[0])">{{dptrDate[0]| thaidate:'medium' }} </span>
      </div>
      <div class="col otherDate">
        <span (click)="searchTrips('dptr', dptrDate[1])">{{dptrDate[1]| thaidate:'medium' }}</span>
      </div>
      <div class="col chooseDate">
        <span> {{dptrDate[2]| thaidate:'medium' }} </span>
      </div>
      <div class="col otherDate">
        <span (click)="searchTrips('dptr', dptrDate[3])">{{dptrDate[3]| thaidate:'medium' }}</span>
      </div>
      <div class="col d-none d-sm-block otherDate">
        <span (click)="searchTrips('dptr', dptrDate[4])">{{dptrDate[4]| thaidate:'medium' }}</span>
      </div>
      <div class="col-1 arrow">
        <span class="right" (click)="searchTrips('dptr', dptrDate[3])">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="fromTo">
    <div class="row">
      <div class="col-12 col-lg-5 province"> {{dptrProvince}}
        <br>
        <span class="subFromTo">{{dptrPark}}</span>
      </div>
      <div class="col-12 col-lg-2">
        <img src="assets/images/borkorsor Website-08.png" />
      </div>
      <div class="col-12 col-lg-5 province"> {{rtrnProvince}}
        <br>
        <span class="subFromTo"> {{rtrnPark}}</span>
      </div>
    </div>
  </div>
  <div class="outer">
    <div class="infoBoxWrapper table-responsive-md">
      <div class="inner-loading" [ngClass]="{'show' : dptrTableLoading}">
        <div class="loading-wheel"></div>
      </div>
      <table class="table bordered">
        <tbody>
          <tr class="tableTopic">
            <td>ออกเดินทาง</td>
            <td>ถึงปลายทาง </td>
            <td>มาตราฐาน</td>
            <td>ที่นั่งคงเหลือ</td>
            <td>ราคา</td>
          </tr>
          <tr class="tableResult" *ngIf="availableTripResultModel.dptrTrips.trips == null">
            <td colspan="5">ไม่พบข้อมูล เที่ยววิ่ง</td>
          </tr>

          <tr class="tableResult" *ngFor="let data of availableTripResultModel.dptrTrips.trips; let index = index;">
            <td> {{data.date | thaidate:'short'}}
              <br> <b>เวลา {{data.time}} น.</b></td>
            <td> {{data.arrvDate | thaidate:'short'}}
              <br> <b>เวลา {{data.arrvTime}} น.</b> </td>
            <td> {{data.busStd.desc}} </td>
            <td> {{data.emptySeats}} / {{data.seats}} ที่นั่ง</td>
            <td *ngIf="data.emptySeats != 0">
              <input type="radio" id="departure{{index}}" name="departure" (change)="selectDptrTrip(data)" [checked]="this.selectedDptrTrip != undefined && this.selectedDptrTrip.id == data.id">
              <label for="departure{{index}}">{{convertStringToNumber(data.fare) + convertStringToNumber(data.fee) | number: '1.2'}} บาท</label>
            </td>
            <td *ngIf="data.emptySeats == 0">
              <input class="notallow"type="radio" id="departure{{index}}" name="departure" (change)="selectDptrTrip(data)" disabled>
              <label class="notallow" style="cursor: not-allowed;" for="departure{{index}}">{{convertStringToNumber(data.fare) + convertStringToNumber(data.fee) | number: '1.2'}} บาท</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="slideToChoose">Please slide the scrollbar to view more detail.</div>
  </div>
</div>

<div class="selectRoundBox" *ngIf="availableTripResultModel.rtrnTrips != null">
  <div class="pageTopic col-12">
    <span>กรุณาเลือกวันที่ และ วันเดินทางกลับ</span>
  </div>
  <div class="dateRange">
    <div class="container">
      <div class="row mx-0 p-0">
        <div class="col-1 arrow">
          <span class="left" (click)="searchTrips('rtrn', rtrnDate[1])">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </span>
        </div>
        <div class="col d-none d-sm-block otherDate">
          <span (click)="searchTrips('rtrn', rtrnDate[0])">{{rtrnDate[0]| thaidate:'medium' }} </span>
        </div>
        <div class="col otherDate">
          <span (click)="searchTrips('rtrn', rtrnDate[1])">{{rtrnDate[1]| thaidate:'medium' }}</span>
        </div>
        <div class="col chooseDate">
          <span> {{rtrnDate[2]| thaidate:'medium' }} </span>
        </div>
        <div class="col otherDate">
          <span (click)="searchTrips('rtrn', rtrnDate[3])">{{rtrnDate[3]| thaidate:'medium' }}</span>
        </div>
        <div class="col d-none d-sm-block otherDate">
          <span (click)="searchTrips('rtrn', rtrnDate[4])">{{rtrnDate[4]| thaidate:'medium' }}</span>
        </div>
        <div class="col-1 arrow">
          <span class="right" (click)="searchTrips('rtrn', rtrnDate[3])">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="fromTo">
    <div class="row">
      <div class="col-12 col-lg-5 province"> {{rtrnProvince}}
        <br>
        <span class="subFromTo"> {{rtrnPark}} </span>
      </div>
      <div class="col-12 col-lg-2">
        <img src="assets/images/borkorsor Website-08.png" />
      </div>
      <div class="col-12 col-lg-5 province"> {{dptrProvince}}
        <br>
        <span class="subFromTo"> {{dptrPark}} </span>
      </div>
    </div>
  </div>
  <div class="outer">
    <div class="infoBoxWrapper table-responsive-md">
      <div class="inner-loading" [ngClass]="{'show' : retrnTableLoading}">
        <div class="loading-wheel"></div>
      </div>
      <table class="table bordered">
        <tbody>
          <tr class="tableTopic">
            <td>ออกเดินทาง</td>
            <td>ถึงปลายทาง </td>
            <td>มาตราฐาน</td>
            <td>ที่นั่งคงเหลือ</td>
            <td>ราคา</td>
          </tr>
          <tr class="tableResult" *ngIf="availableTripResultModel.rtrnTrips.trips == null">
            <td colspan="5">ไม่พบข้อมูล เที่ยววิ่ง</td>
          </tr>
          <tr class="tableResult" *ngFor="let data of availableTripResultModel.rtrnTrips.trips; let index = index;">
            <td> {{data.date | thaidate:'short'}}
              <br> <b>เวลา {{data.time}} น.</b></td>
            <td> {{data.arrvDate | thaidate:'short'}}
              <br> <b>เวลา {{data.arrvTime}} น. </b></td>
            <td> {{data.busStd.desc}} </td>
            <td> {{data.emptySeats}} / {{data.seats}} ที่นั่ง</td>
            <td *ngIf="data.emptySeats != 0">

              <ng-container *ngIf="this.selectedDptrTrip != null && this.selectedDptrTrip != undefined 
                                && (this.selectedDptrTrip.busStd.desc != data.busStd.desc || this.dptrFare != convertStringToNumber(data.fare) + convertStringToNumber(data.fee)) 
                                else normalInput">
                <input class="notallow" class="form-check-input" type="radio" id="arrvTrip{{index}}" name="arrvTrip" disabled>
                <label class="notallow" style="cursor: not-allowed;" for="arrvTrip{{index}}">{{convertStringToNumber(data.fare) + convertStringToNumber(data.fee) | number: '1.2'}} บาท</label>
              </ng-container>

              <ng-template #normalInput>
                <input type="radio" id="arrvTrip{{index}}" name="arrvTrip" (change)="selectRtrnTrip(data,$event)" [checked]="this.selectedRtrnTrip != undefined && this.selectedRtrnTrip.id == data.id">
                <label for="arrvTrip{{index}}">{{convertStringToNumber(data.fare) + convertStringToNumber(data.fee) | number: '1.2'}} บาท</label>
              </ng-template>

            </td>
            <td *ngIf="data.emptySeats == 0">
              <input class="form-check-input notallow" type="radio" id="arrvTrip{{index}}" name="arrvTrip" disabled>
              <label class="notallow" style="cursor: not-allowed;" for="arrvTrip{{index}}">{{convertStringToNumber(data.fare) + convertStringToNumber(data.fee) | number: '1.2'}} บาท</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="slideToChoose">Please slide the scrollbar to view more detail.</div>
  </div>
</div>

<div class="sumAndTerms">
  <div class="row">
    <div class="col-md-6 sum d-flex justify-content-center justify-content-sm-start">
      <table class="table bordered">
        <thead class="headerBox">
          <tr>
            <th scope="col" colspan="2">สรุปค่าโดยสาร</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ค่าบัตรโดยสารเที่ยวไป :</td>
            <td>{{dptrFare | number: '1.2'}} บาท</td>
          </tr>
          <tr>
            <td>ค่าบัตรโดยสารเที่ยวกลับ :</td>
            <td>{{rtrnFare | number: '1.2'}} บาท</td>
          </tr>
          <tr>
            <td scope="row">ค่าภาษี / ค่าธรรมเนียม :</td>
            <td>{{fee | number: '1.2'}} บาท</td>
          </tr>
          <tr>
            <td class="rowSum" colspan="2">รวมราคาแล้วต่อ 1 คน {{dptrFare + rtrnFare + fee | number: '1.2'}} บาท</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 terms">
      <div class="col-12">
        <span class="fontW500">จำนวนตั๋วผู้โดยสาร {{totalPassenger}} คน</span>
        <span class="fontGrey">
          <br/>&nbsp;&nbsp; - อัตราค่าโดยสารนี้ยังไม่รวมค่าดำเนินการ
          <br/>&nbsp;&nbsp; - อัตราค่าโดยสารนี้อาจเปลี่ยนแปลงได้จนกว่าลูกค้าจะชำระเงิน
          <br/>&nbsp;&nbsp; - อัตราค่าโดยสารที่แสดงเป็นอัตราสำหรับ 1 คน
          <br/>
        </span>
      </div>
      <div class="col-12 buttonWrapper p-0">
        <button class="btn btn-atk-danger mt-3 buttonSize" (click)="goPreviousPage()" type="button" [ngClass]="{'disabled' : isShowLoadingBack}">
          <span *ngIf="!isShowLoadingBack; else showLoad">
            BACK
          </span>
        </button>
        <button class="btn btn-atk-primary mt-3 buttonSize" (click)="goNextPage()" type="button" [ngClass]="{'disabled' : isShowLoading}">
          <span *ngIf="!isShowLoading; else showLoad">NEXT</span>
        </button>
        <ng-template #showLoad>Loading
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </ng-template>
      </div>
    </div>
  </div>
</div>