<div class="row pt-3">
  <div class="col-12 col-sm-6 col-lg-3 card align-items-center align-items-lg-stretch cardwrapper" *ngFor="let cardTicket of this.cardTickets;">
    <div class="cardbox" (click)="goToEventInfo(cardTicket)">
      <a>
        <div class="card-overlay" [title]="cardTicket.name">
          <img src="https://atkmedia.allticket.com/assets/images/cursor.png">
        </div>
      </a>
      <img class="card-img-top img-fluid" [src]="cardTicket.performCardPic" (error)="cardTicket.performCardPic = placeHolderImg"
        [alt]="cardTicket.name" #img>

      <ng-template [ngIf]="cardTicket.isPromo == 'Y'" [ngIfElse]="isPromo">
        <div class="card-buyTicket commingsoon">
          <a href="#">
            <i class="fa fa-clock-o fa-fw pr-2" aria-hidden="true"></i>
            <span>COMING SOON</span>
          </a>
        </div>
      </ng-template>

      <ng-template #isPromo>
        <ng-template [ngIf]="cardTicket.isFull == 'Y'" [ngIfElse]="showBuyBtn">
          <div class="card-buyTicket soldout">
            <a href="#">
              <i class="fa fa-ban fa-fw pr-2" aria-hidden="true"></i>
              <span>SOLD OUT</span>
            </a>
          </div>
        </ng-template>
      </ng-template>

      <ng-template #showBuyBtn>
        <div class="card-buyTicket">
          <a href="#">
            <i class="fa fa-shopping-cart fa-fw pr-2" aria-hidden="true"></i>
            <span>BUY TICKET</span>
          </a>
        </div>
      </ng-template>

      <div class="row cardfooter">
        <div class="col-5 p-1" *ngIf="cardTicket.performCardShowDate != undefined" [ngClass]="{ 'full-column' : cardTicket.performCardName == undefined }">
          <div class="splitWrapper eventDate is-size-6">
            <div class="text-dark text-overflow-ellipsis" [innerHTML]="cardTicket.performCardShowDate | safeHtml"></div>
          </div>
        </div>
        <div class="col-7 px-1" *ngIf="cardTicket.performCardName != undefined" [ngClass]="{ 'full-column' : cardTicket.performCardShowDate == undefined }">
          <div class="splitWrapper eventName">
            <div class="my-1 text-overflow" [innerHtml]="cardTicket.performCardName == '' ? cardTicket.name : cardTicket.performCardName"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>