/* You can add global styles to this file, and also import other style files */

/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import "~font-awesome/css/font-awesome.css";

body {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
