<div class="container-fluid no-padding" >
		<div class = "headerSticky">
			<div class = "row stickyOverlay p-10">
				<div class = "col-5 col-sm-5 col-md-3 col-lg-1 sticky-image " id="sticky-image">
					<img class = "img-rounded" id="concertIcon" >
				</div>
				<div class = "col-7 col-sm-7 col-md-3 col-lg-9 no-padding-left" id="stickyTitle">
					<div class="row no-margin">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 stickyTitle"> EXO PLANET </div>
					</div>		
					<div class="row no-margin">						
						<div class = "col-12 col-sm-12 col-md-12 col-lg-12 stickyTitle no-padding">
							<div class="row no-margin">
								<div class="col-4 inline cursorPointer no-padding l_h_2" onclick = "activeMap('map')" id="locateBar">
									<img src="../../assets/images/locate.png" width="15px"><span class = "m-l-10 detail">RATCHABURI</span>
								</div>
								
								<div class="col-4 inline no-padding l_h_2" id="dateBar">
									<i class="fa fa-calendar-o" aria-hidden="true" style="font-size: 15px;"></i><span class = "m-l-10 detail" > 1 NOVEMBER 2017</span>
								</div>
								<div class="col-4 inline no-padding l_h_2" id="timeBar">
									<i class="fa fa-clock-o" aria-hidden="true" style="font-size: 15px;"></i><span class="m-l-10 l_h_2">7.00 PM - 12.00 AM</span>
								</div>
							</div>
						</div>
					</div>
				</div>		
				<div class = "col-12 col-sm-12 col-md-6 col-lg-2 sticky-btn-buy no-padding">
					<div class="middle">
						<a href="#" onclick="window.open('./bookingGrid.html','_SELF');" class="buyTicketBtnBar banner">BUY TICKET</a>
					</div>
				</div>
			</div>
		</div>			   
		
		<div id="headerContent"></div>
		
		<div class="row no-margin" id="eventDescHeader">		
			<div class=" col-sm-12 col-md-5 col-lg-5 txtAlgCen" id="eventLogo">			 	
				<div class="middle" style="padding: 10px 10px 10px 10px">
					<img alt="#" src="../../assets/images/eventProfile/festival_profile.png" class="banner">
				</div>				
			</div>
			<div class=" col-sm-12 col-md-7 col-lg-7" id="eventDesc" >
				<div class="row no-margin">
					<div class=" col-12 no-padding">&nbsp;</div>
				</div>				
				<div class="row no-margin">
					<div class=" col-sm-12 col-md-12 col-lg-12 dspTable no-padding" style="border-bottom: 1px solid;">
						<span class="dspTableCell verticalMiddle txtAlgCen h3" >สวนผึ้งไฮแลนด์ เคาท์ดาวน์เฟสติวัล 2017</span>			
					</div>					
					<div class=" col-sm-12 col-md-12 col-lg-12 no-padding">																
						<div class="row no-margin" >							
							<div class=" col-sm-12 col-md-12 col-lg-12 no-padding">
								<div class="row no-margin" >
									<div class="col-12 no-padding ">&nbsp;</div>											
									<div class="col-6 col-sm-6 col-md-6 col-lg-4 txtAlgleft h6 p-l-15" style="border-right: 1px solid;">
										<div class="row no-margin" >
											<div class=" col-sm-12 col-md-2 col-lg-3 no-padding">										
												<i class="fa fa-calendar-o" aria-hidden="true" style="font-size: 25px;"></i>
											</div>
											<div class=" col-sm-12 col-md-10 col-lg-9 no-padding">
												<span class="l_h_2"> 1 NOVEMBER 2017</span>
											</div>
										</div>																														
									</div>
									<div class="col-6 col-6 col-sm-6 col-md-6 col-lg-8 txtAlgLeft h6 no-padding-right">
										<div class="row no-margin" >											
											<div class=" col-sm-12 col-md-2 col-lg-1 no-padding">										
												<i class="fa fa-clock-o" aria-hidden="true" style="font-size: 25px;"></i>												
											</div>
											<div class=" col-sm-12 col-md-10 col-lg-11 no-padding">
												<span class="l_h_2">7.00 PM - 12.00 AM</span>
											</div>
										</div>											
									</div>
								</div>				
							</div>
						</div>																
					</div>
				</div>
				<div class="row no-margin">	
					<div class=" col-sm-12 col-md-12 col-lg-12 no-padding">																
						<div class="row no-margin" >													
							<div class=" col-sm-12 col-md-12 col-lg-12 no-padding">
								<div class="row no-margin p-t-15">															
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 txtAlgleft h6 p-l-15 no-padding-right">									
										<div class="row no-margin" >
											<div class=" col-sm-12 col-md-1 col-lg-1 no-padding">										
												<img src="../../assets/images/locate.png" width="25px">
											</div>
											<div class=" col-sm-12 col-md-11 col-lg-11 no-padding">
												<span class="l_h_2">RATCHABURI</span>
											</div>
										</div>																						
									</div>									
								</div>				
							</div>
						</div>																
					</div>	
				</div>
				<div class="row no-margin">	
					<div class=" col-sm-12 col-md-12 col-lg-12 no-padding">																
						<div class="row no-margin p-t-15" >											
							<div class=" col-sm-12 col-md-12 col-lg-12 no-padding">
								<div class="row no-margin" >															
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 txtAlgleft h6 p-l-15 no-padding-right">
										<div class="row no-margin" >
											<div class=" col-sm-12 col-md-1 col-lg-1 no-padding">										
												<img src="../../assets/images/currency.png" width="20px">
											</div>
											<div class=" col-sm-12 col-md-11 col-lg-11 no-padding">
												<span class="l_h_2 ticketPrice">1,200.- / 1,000.- / 900.- / 700.- / 500.- / 400.- / 200.-</span>
											</div>
										</div>																													
									</div>									
								</div>				
							</div>
						</div>																
					</div>	
				</div>	
				<div class="row no-margin">	
					<div class=" col-sm-12 col-md-12 col-lg-12 no-padding">
						<div class="row no-margin">
							<div class=" col-12 no-padding">&nbsp;</div>
						</div>
						<div class="row no-margin">																	
							<div class=" col-sm-3 col-md-1 col-lg-3 no-padding">&nbsp;</div>
							<div class=" col-sm-6 col-md-10 col-lg-6 no-padding txtAlgCen">
								<a href="#" class="buyTicketsBtn">BUY TICKETS</a>
							</div>
							<div class=" col-sm-3 col-md-1 col-lg-3 no-padding">&nbsp;</div>
						</div>
						<div class="row no-margin">
							<div class=" col-12 no-padding">&nbsp;</div>
						</div>			
					</div>	
				</div>														
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-12" style="border: 15px solid #efefef; border-bottom: 0px;">
					<span style="color: #37bde0; font-weight: bold; width: 100%;">
						ร่วมส่งท้ายปี กับงาน "สวนผึ้งไฮแลนด์เคาท์ดาวน์เฟสติวัล 2017"
					</span>
					<br>
					<span style="font-weight: bold;">
						ระหว่างวันที่ 30-31 ธันวาคม นี้ พบกับคอนเสิร์ตจากศิลปินชื่อดังที่มาสร้างความสนุกและความประทับใจ
					</span>					
			</div>
			<div class="col-12" style="border: 15px solid #efefef; border-top: 0px; min-height: 2000px;'">
					<div class = "row cursorPointer" id="Locat" (click)="clickShowMap()">
			    		<div class = "col-12 col-sm-11 col-sm-offset-1 col-md-12 col-md-offset-0" >			    			
			    			<p style="font-weight: bold; display: inline-block;"><img src="../../assets/images/point.png" width="15px" height="20px">&nbsp;&nbsp;Location:</p>&nbsp;&nbsp;
			    			<p style="display: inline-block;">Impact Areana Soi Nanthana 4. Ban Song Hong, Nonthaburi, Thailand 11000  <img src = "../../assets/images/drop.png" width="10px" height="10px" class="mgLeft5px" ></p>			    			
			    		</div>
			    	</div>
			    	<div class = "row" >
					 	<div class="col-lg-12 col-md-12">
					 		<div *ngIf="showMap" class="map" id="map"></div>
					 	</div>
			    	</div>
			</div>
		</div>
	</div>		