.infoBox {
  padding-bottom: 15px;
}

.infoBox .rowSummary {
  line-height: 40px;
  font-weight: 500;
  font-size: 18px;
}

.infoBox .topicRow {
  padding: 5px 5px 5px 20px;
  background: #f48131;
  border: 2px solid #bcbec0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 16px;
  color: white;
  line-height: 40px;
  font-weight: 500;
}

.border1s {
  border-left: 2px solid #bcbec0;
  border-right: 2px solid #bcbec0;
}

.infoBox .border1s:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid #bcbec0;
}

.subInfoBox {
  padding: 10px 3% 0px 3%;
}

.subInfoBox:nth-child(1) {
  border-left: 2px solid #bcbec0;
  border-bottom-left-radius: 10px;
  border-bottom: 2px solid #bcbec0;
}

.subInfoBox:nth-child(2) {
  border-right: 2px solid #bcbec0;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid #bcbec0;
}

.subInfoBoxWrapper .BoxRow:nth-child(2n+1) {
  background-color: #f3f6f6;
}

.subInfoBoxGrey {
  background-color: #a7a9ac !important;
}

.varRow {
  padding-left: 15px;
}

@media screen and (max-width: 780px) {
  .subInfoBox {
    padding: 10px 5% 0px 5%;
  }
}

@media screen and (max-width: 420px) {
  .subInfoBox {
    padding: 10px 10% 0px 10%;
  }
  .infoBoxWrapper {
    padding: 10px 5% 0px 5%;
  }
}

@media screen and (max-width: 575px) {
  .subInfoBox:nth-child(1) {
    border-left: 2px solid #bcbec0;
    border-right: 2px solid #bcbec0;
    border-bottom-left-radius: 0px;
    border-bottom: 0px;
  }
  .subInfoBox:nth-child(2) {
    border-right: 2px solid #bcbec0;
    border-left: 2px solid #bcbec0;
    border-bottom: 2px solid #bcbec0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .ml15 {
    margin-left: 15px;
  }
}
