<div class="summaryWrapper">
  <div class="container">
    <div class="busTopic">
      <img src="../../../../assets/images/pns-logo.png" />
      <span>จองตั๋วรถโดยสาร บขส. ออนไลน์ </span>
    </div>
    <div class="summaryTopic col-12">
      <span>ตรวจสอบและยืนยันข้อมูล</span>
      <img src="../../../../assets/images/borkorsor Website-09.png" />
    </div>
    <!------------------- BOX1 ---------------------->
    <div class="infoBox">
      <div class="row">
        <div class="col-12 topicRow">ข้อมูลผู้โดยสาร</div>
      </div>
      <div class="row border1s BoxRow">
        <div class="col-12 col-md-12 rowSummary">ชื่อ-นามสกุล :
          <span> {{passengerName}} </span>
        </div>
      </div>
      <div class="row border1s BoxRow">
        <div class="col-12 col-md-12 rowSummary">มือถือ :
          <span> {{passengerTel}} </span>
        </div>
      </div>
    </div>
    <!------------------- BOX2 ---------------------->
    <div class="infoBox" *ngIf="transCheckout.dptrTrip != null">
      <div class="row">
        <div class="col-12 topicRow">เที่ยวไป</div>
      </div>
      <div class="infoBox">
        <div class="subInfoBoxWrapper">
          <div class="row">
            <div class="col-md-6 col-sm-6 subInfoBox" >
              <div class="infoBox">
                <div class="row">
                  <div class="col-12 topicRow subInfoBoxGrey">ข้อมูลการเดินทาง</div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">วันที่เดินทาง :</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.dptrTrip.date}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">เส้นทาง</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.dptrTrip.route.desc}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">จุดที่ขึ้นรถ</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.dptrTrip.dptrPark.desc}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">จุดที่ลงรถ</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.dptrTrip.arrvPark.desc}}</div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">มาตราฐาน</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.dptrTrip.busStd.desc}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">สายรถ</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.dptrTrip.route.id}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">ชั้นที่นั่ง</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.dptrTrip.reserves.seatFloor}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">ที่นั่ง</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.dptrTrip.reserves.seatNo}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 subInfoBox">
              <div class="infoBox">
                <div class="row">
                  <div class="col-12 topicRow subInfoBoxGrey">รายละเอียดค่าโดยสาร</div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">เดินทางไป</div>
                  <div class="col-12 col-md-7 rowSummary"> </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">ราคาปกติ</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.dptrTrip.reserves.fare + transCheckout.dptrTrip.reserves.fee}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">ส่วนลด</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.dptrTrip.reserves.disFare + transCheckout.dptrTrip.reserves.disFee}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">ราคารวม</div>
                  <div class="col-12 col-md-7 rowSummary"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!------------------- BOX3 ---------------------->
    <div class="infoBox" *ngIf="transCheckout.rtrnTrip != null">
      <div class="row">
        <div class="col-12 topicRow">เที่ยวกลับ</div>
      </div>
      <div class="infoBox">
        <div class="subInfoBoxWrapper">
          <div class="row">
            <div class="col-md-6 col-sm-6 subInfoBox" *ngIf="transCheckout.rtrnTrip">
              <div class="infoBox">
                <div class="row">
                  <div class="col-12 topicRow subInfoBoxGrey">ข้อมูลการเดินทาง</div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">วันที่เดินทาง</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.rtrnTrip.date}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">เส้นทาง</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.rtrnTrip.route.desc}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">จุดที่ขึ้นรถ</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.rtrnTrip.dptrPark.desc}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">จุดที่ลงรถ</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.rtrnTrip.arrvPark.desc}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">มาตราฐาน</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.rtrnTrip.busStd.desc}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">สายรถ</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.rtrnTrip.route.id}}</div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">ชั้นที่นั่ง</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.rtrnTrip.reserves.seatFloor}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">ที่นั่ง</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.rtrnTrip.reserves.seatNo}} </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 subInfoBox">
              <div class="infoBox">
                <div class="row">
                  <div class="col-12 topicRow subInfoBoxGrey">รายละเอียดค่าโดยสาร</div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">เดินทางไป</div>
                  <div class="col-12 col-md-7 rowSummary"> </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">ราคาปกติ</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.rtrnTrip.reserves.fare + transCheckout.rtrnTrip.reserves.fee}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">ส่วนลด</div>
                  <div class="col-12 col-md-7 rowSummary"> {{transCheckout.rtrnTrip.reserves.disFare + transCheckout.rtrnTrip.reserves.disFee}} </div>
                </div>
                <div class="row border1s BoxRow">
                  <div class="col-12 col-md-5 rowSummary">ราคารวม</div>
                  <div class="col-12 col-md-7 rowSummary"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!------------------- BOX4 ---------------------->
    <div class="infoBox">
      <div class="row">
        <div class="col-12 topicRow">ค่าธรรมเนียม</div>
      </div>
      <div class="row border1s BoxRow">
        <div class="col-12 col-md-12 rowSummary">ค่าธรรมเนียม :
          <span>15 บาท</span>
        </div>
      </div>
    </div>
    <!------------------- BOX4 ---------------------->
    <div class="infoBox">
      <div class="row">
        <div class="col-12 topicRow">ยอดชำระ</div>
      </div>
      <div class="row border1s BoxRow">
        <div class="col-12 col-md-12 rowSummary">ยอดเงินที่ต้องชำระ :
          <span>1,859.00 บาท</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 buttonWrapper p-0">
        <button class="btn btn-atk-danger mt-3 buttonSize" type="button">BACK</button>
        <button class="btn btn-atk-primary mt-3 buttonSize" type="button">NEXT</button>
      </div>
    </div>

  </div>
</div>