<div class="pageTopic col-12">
  <span>ตรวจสอบและยืนยันข้อมูล</span>
  <img src="../../../../assets/images/borkorsor Website-09.png" />
</div>
<!------------------- BOX1 ---------------------->
<div class="infoBoxWrapper">
  <div class="infoBox">
    <div class="row">
      <div class="col-12 topicRow">ข้อมูลผู้โดยสาร</div>
    </div>
    <div class="row border1s BoxRow">
      <div class="col-12 col-md-12 rowSummary">ชื่อ-นามสกุล :
        <span>{{passengerInfoList[0].passengerName}} {{passengerInfoList[0].passengerSurname}}</span>
      </div>
    </div>
    <div class="row border1s BoxRow">
      <div class="col-12 col-md-12 rowSummary"> มือถือ :
        <span>{{passengerInfoList[0].passengerTel}} </span>
      </div>
    </div>
  </div>
  <!------------------- BOX2 ---------------------->
  <div class="infoBox" *ngIf="transCheckout.dptrTrip != null">
    <div class="row">
      <div class="col-12 topicRow">เที่ยวไป :</div>
    </div>
    <div class="infoBox">
      <div class="subInfoBoxWrapper">
        <div class="row">
          <div class="col-md-6 col-sm-6 subInfoBox">
            <div class="infoBox">
              <div class="row">
                <div class="col-12 topicRow subInfoBoxGrey">ข้อมูลการเดินทาง :</div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">วันที่เดินทาง :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{transCheckout.dptrTrip.date}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">เส้นทาง :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{transCheckout.dptrTrip.route.desc}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">จุดที่ขึ้นรถ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{transCheckout.dptrTrip.dptrPark.desc}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">จุดที่ลงรถ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{transCheckout.dptrTrip.arrvPark.desc}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">มาตราฐาน :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{transCheckout.dptrTrip.busStd.desc}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">สายรถ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{transCheckout.dptrTrip.route.id}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ชั้นที่นั่ง :</div>
                <div class="col-12 col-md-7 rowSummary " *ngFor="let seat of transCheckout.dptrTrip.reserves">
                  <span class="varRow">{{seat.seatFloor}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ที่นั่ง :</div>
                <div class="col-12 col-md-7 rowSummary " *ngFor="let seat of transCheckout.dptrTrip.reserves">
                  <span class="varRow">{{seat.seatNo}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 subInfoBox">
            <div class="infoBox">
              <div class="row">
                <div class="col-12 topicRow subInfoBoxGrey">รายละเอียดค่าโดยสาร</div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">เดินทางไป :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow"></span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ราคาปกติ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{dprtPrice}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ส่วนลด :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow"> {{dprtDiscount}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ราคารวม :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------- BOX3 ---------------------->
  <div class="infoBox" *ngIf="transCheckout.rtrnTrip != null">
    <div class="row">
      <div class="col-12 topicRow">เที่ยวกลับ</div>
    </div>
    <div class="infoBox">
      <div class="subInfoBoxWrapper">
        <div class="row">
          <div class="col-md-6 col-sm-6 subInfoBox">
            <div class="infoBox">
              <div class="row">
                <div class="col-12 topicRow subInfoBoxGrey">ข้อมูลการเดินทาง</div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">วันที่เดินทาง :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{transCheckout.rtrnTrip.date}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">เส้นทาง :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{transCheckout.rtrnTrip.route.desc}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">จุดที่ขึ้นรถ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{transCheckout.rtrnTrip.dptrPark.desc}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">จุดที่ลงรถ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{transCheckout.rtrnTrip.arrvPark.desc}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">มาตราฐาน :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{transCheckout.rtrnTrip.busStd.desc}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">สายรถ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{transCheckout.rtrnTrip.route.id}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ชั้นที่นั่ง :</div>
                <div class="col-12 col-md-7 rowSummary " *ngFor="let seat of transCheckout.rtrnTrip.reserves">
                  <span class="varRow">{{seat.seatFloor}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ที่นั่ง :</div>
                <div class="col-12 col-md-7 rowSummary " *ngFor="let seat of transCheckout.rtrnTrip.reserves">
                  <span class="varRow"> {{seat.seatNo}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 subInfoBox">
            <div class="infoBox">
              <div class="row">
                <div class="col-12 topicRow subInfoBoxGrey">รายละเอียดค่าโดยสาร</div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">เดินทางไป :</div>
                <div class="col-12 col-md-7 rowSummary"> </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ราคาปกติ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow"> {{rtrnPrice}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ส่วนลด :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow"> {{rtrnDiscount}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ราคารวม :</div>
                <div class="col-12 col-md-7 rowSummary"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------- BOX4 ---------------------->
  <div class="infoBox">
    <div class="row">
      <div class="col-12 topicRow">ค่าธรรมเนียม</div>
    </div>
    <div class="row border1s BoxRow">
      <div class="col-12 col-md-12 rowSummary">ค่าธรรมเนียม :
        <span class="varRow">15.00 บาท</span>
      </div>
    </div>
  </div>
  <!------------------- BOX4 ---------------------->
  <div class="infoBox">
    <div class="row">
      <div class="col-12 topicRow">ยอดชำระ</div>
    </div>
    <div class="row border1s BoxRow">
      <div class="col-12 col-md-12 rowSummary">ยอดเงินที่ต้องชำระ :
        <span class="varRow">1,859.00 บาท</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 buttonWrapper p-0">
    <button class="btn btn-atk-danger mt-3 buttonSize" type="button">BACK</button>
    <button class="btn btn-atk-primary mt-3 buttonSize" type="button">NEXT</button>
  </div>
</div>
