<div class="pageTopic col-12">
  <span>ตรวจสอบและยืนยันข้อมูล</span>
  <img src="assets/images/borkorsor Website-09.png" />
</div>
<!------------------- BOX1 ---------------------->
<div class="infoBoxWrapper" *ngIf="bookingResult != null">
  <div class="infoBox">
    <div class="row">
      <div class="col-12 topicRow">ข้อมูลผู้โดยสาร</div>
    </div>
    <div class="row border1s BoxRow">
      <div class="col-12 col-md-12 rowSummary">ชื่อ-นามสกุล :
        <span>{{bookingResult.contactName}}</span>
      </div>
    </div>
    <div class="row border1s BoxRow">
      <div class="col-12 col-md-12 rowSummary"> มือถือ :
        <span>{{bookingResult.telNo}} </span>
      </div>
    </div>
  </div>
  <!------------------- BOX2 ---------------------->
  <div class="infoBox" *ngIf="bookingResult.dptrTrip != null">
    <div class="row">
      <div class="col-12 topicRow">เที่ยวไป</div>
    </div>
    <div class="infoBox">
      <div class="subInfoBoxWrapper">
        <div class="row">
          <div class="col-md-6 col-sm-6 subInfoBox">
            <div class="infoBox">
              <div class="row">
                <div class="col-12 topicRow subInfoBoxGrey">ข้อมูลการเดินทาง</div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">วันที่เดินทาง :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{bookingResult.dptrTrip.date | thaidate:'full'}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary"><b>รถออกต้นทางเวลา :</b></div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow"><b>{{bookingResult.dptrTrip.time}} น.</b></span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">เส้นทาง :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{bookingResult.dptrTrip.route.desc}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">จุดที่ขึ้นรถ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{bookingResult.dptrTrip.dptrPark.desc}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">จุดที่ลงรถ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{bookingResult.dptrTrip.arrvPark.desc}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">มาตราฐาน :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{bookingResult.dptrTrip.busStd.desc}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">สายรถ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{bookingResult.dptrTrip.route.id}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ชั้นที่นั่ง :</div>
                <div class="col-12 col-md-7 rowSummary ">
                  <span class="varRow">
                    <span *ngFor="let seat of getFloor(bookingResult.dptrTrip.reserves); let index = index;">
                      <span *ngIf="index > 0">,</span>{{seat}}</span>
                  </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ที่นั่ง :</div>
                <div class="col-12 col-md-7 rowSummary ">
                  <span class="varRow">
                    <span *ngFor="let seat of bookingResult.dptrTrip.reserves; let index = index;">
                      <span *ngIf="index > 0">,</span> {{seat.seatNo}}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 subInfoBox">
            <div class="infoBox">
              <div class="row">
                <div class="col-12 topicRow subInfoBoxGrey">รายละเอียดค่าโดยสาร</div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">เดินทางไป :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{ bookingResult.dptrTrip.reserves.length }} ที่นั่ง </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ราคาปกติ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{dprtPrice| number : '1.2'}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ส่วนลด :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow"> {{dprtDiscount | number : '1.2'}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ราคารวม :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow"> {{ dprtPrice - dprtDiscount | number : '1.2'}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------- BOX3 ---------------------->
  <div class="infoBox" *ngIf="bookingResult.rtrnTrip != null">
    <div class="row">
      <div class="col-12 topicRow">เที่ยวกลับ</div>
    </div>
    <div class="infoBox">
      <div class="subInfoBoxWrapper">
        <div class="row">
          <div class="col-md-6 col-sm-6 subInfoBox">
            <div class="infoBox">
              <div class="row">
                <div class="col-12 topicRow subInfoBoxGrey">ข้อมูลการเดินทาง</div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">วันที่เดินทาง :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{bookingResult.rtrnTrip.date | thaidate:'full'}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary"><b>รถออกต้นทางเวลา :</b></div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow"><b>{{bookingResult.rtrnTrip.time}} น.</b></span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">เส้นทาง :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{bookingResult.rtrnTrip.route.desc}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">จุดที่ขึ้นรถ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{bookingResult.rtrnTrip.dptrPark.desc}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">จุดที่ลงรถ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{bookingResult.rtrnTrip.arrvPark.desc}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">มาตราฐาน :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{bookingResult.rtrnTrip.busStd.desc}} </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">สายรถ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{bookingResult.rtrnTrip.route.id}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ชั้นที่นั่ง :</div>
                <div class="col-12 col-md-7 rowSummary ">
                  <!-- *ngFor="let seat of bookingResult.rtrnTrip.reserves" -->
                  <span class="varRow">
                    <span *ngFor="let seat of getFloor(bookingResult.rtrnTrip.reserves); let index = index;">
                      <span *ngIf="index > 0">,</span>{{seat}}</span>
                  </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ที่นั่ง :</div>
                <div class="col-12 col-md-7 rowSummary ">
                  <span class="varRow">
                    <span *ngFor="let seat of bookingResult.rtrnTrip.reserves; let index = index;">
                      <span *ngIf="index > 0">,</span> {{seat.seatNo}}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 subInfoBox">
            <div class="infoBox">
              <div class="row">
                <div class="col-12 topicRow subInfoBoxGrey">รายละเอียดค่าโดยสาร</div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">เดินทางไป :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow">{{ bookingResult.rtrnTrip.reserves.length }} ที่นั่ง </span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ราคาปกติ :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow"> {{rtrnPrice | number : '1.2'}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ส่วนลด :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow"> {{rtrnDiscount | number : '1.2'}}</span>
                </div>
              </div>
              <div class="row border1s BoxRow">
                <div class="col-12 col-md-5 rowSummary">ราคารวม :</div>
                <div class="col-12 col-md-7 rowSummary">
                  <span class="varRow"> {{rtrnPrice - rtrnDiscount | number : '1.2'}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------- BOX4 ---------------------->
  <div class="infoBox">
    <div class="row">
      <div class="col-12 topicRow">ค่าธรรมเนียม</div>
    </div>
    <div class="row border1s BoxRow">
      <div class="col-12 col-md-12 rowSummary">ค่าธรรมเนียม :
        <span class="varRow">{{fee | number : '1.2'}} บาท</span>
      </div>
    </div>
  </div>
  <!------------------- BOX4 ---------------------->
  <div class="infoBox">
    <div class="row">
      <div class="col-12 topicRow">ยอดชำระ</div>
    </div>
    <div class="row border1s BoxRow">
      <div class="col-12 col-md-12 rowSummary">ยอดเงินที่ต้องชำระ :
        <span class="varRow"> {{ totalPrice() | number : '1.2' }} บาท</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 buttonWrapper p-0">
    <button class="btn btn-atk-danger mt-3 px-3 buttonSize" (click)="cancelBooking()"  type="button" [ngClass]="{'disabled' : isShowLoadingBack}">
      <span *ngIf="!isShowLoadingBack; else showLoad">
        CANCEL BOOKING
      </span>
    </button>
    <button class="btn btn-atk-primary mt-3 buttonSize" (click)="onNextPage()" type="button" [ngClass]="{'disabled' : isShowLoading}">
      <span *ngIf="!isShowLoading; else showLoad">
        NEXT
      </span>
    </button>
    <ng-template #showLoad>
      Loading
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </ng-template>
  </div>
</div>