
    <div class="faqWrapper">
      <div class="topicWrapper">
          <span class="faqBanner">FAQ
          </span>
          <span class="faqicon"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>
              </span>
      </div>
      <div class="container contentWrapper">
          <div class="row">
              <div class="col-md-4 col-lg-4 leftWrapper">
                  <div class="menu">
                      <span class="rightArrow">
                          <i class="fa fa-caret-right " aria-hidden="true"></i>
                      </span> How to Buy
                  </div>
                  <div class="menu">
                      <span class="rightArrow">
                          <i class="fa fa-caret-right " aria-hidden="true"></i>
                      </span>
                      How to Pay
                  </div>
                  <div class="menu">
                      <span class="rightArrow">
                          <i class="fa fa-caret-right " aria-hidden="true"></i>
                      </span>
                      How to Refund
                  </div>
                  <div class="menu">
                      <span class="rightArrow">
                          <i class="fa fa-caret-right " aria-hidden="true"></i>
                      </span>
                      Pick Up Ticket
                  </div>
              </div>
              <div class="col-md-8 col-lg-8 rightWrapper">
                  <div class="topic"> How to Buy </div>

                  <div class="information">
                      Purchase via Couter Service All Tickets in 7-Eleven or at any shops that have Couter Service Logos (Payment by cash only).
                      <br/>
                      <br/> Purchase via www.allticket.com Payment by credit cards (Service charge 3%) or take PAY CODE to pay
                      at Counter Service all branches.
                      <br/>
                      <br/> Purchase via Couter Service All Ticket booth at the venue.
                  </div>
              </div>
          </div>
      </div>
  </div>