@media print {
    body * {
      visibility: hidden;
    }
    #printArea * {
      visibility: visible;
    }
    footer,
    header {
      display: none;
    }
    .img-fluid {
      max-height: 40px;
    }
    .transDetail {
      width: 50% !important;
      max-width: 50% !important;
    }
    body {
      font-size: 11px;
    }
    .reserveDetail {
      font-size: 13px;
    }
    .condition-transit {
      font-size: 12px;
    }
    .reserveColLabel,
    .reserveColResult {
      margin-top: 0.2rem;
    }
  }
  
  #printArea {
    margin: 0 auto;
  }
  
  .reserveColResult {
    word-wrap: break-word;
  }
  
  .reserveColLabel {
    color: black;
  }
  
  .reserveColResult {
    border-radius: 0.5rem;
    background-color: #eee;
  }
  
  .reserveColLabel,
  .reserveColResult {
    margin-top: 0.5rem;
  }
  
  .fresultPaidTransitWrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  
  .reserveDetail {
    margin-top: 1rem;
  }
  
  .condition-transit {
    font-weight: bold;
    color: red;
    text-align: center;
  }
  
  .buttonWrapper {
    text-align: center!important;
  }
  
  @media (max-width: 480px) {
    .condition-transit,
    .reserveColLabel,
    .reserveDetail,
    .reserveColResult {
      font-size: 12.5px;
    }
  }
  