.step-wrapper {
    margin : 0 auto;
    max-width : 60%;
}

.step-wrapper .step-title {
    color: #C32E34;
    font-weight: 700;
    margin: 1.6rem 0;
    text-align: center;
    text-transform: uppercase;
}

.step-wrapper hr {
    border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.step-process {
    background-color : #d4d4d4;
    padding: 2rem;
    list-style: none;
    display : flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.step-process li.step-order {
    margin-left: 3rem;
    max-width : 30%;
    cursor: pointer;
}

.step-process .step-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-process .step-arrow {
    color: #535353;
    margin-left: 3rem;
    margin-top: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.step-process .step-arrow.active > div {
    color: #C32E34;
}

.step-process li:first-child {
    margin-left : 0;
}

.step-process li h5 {
    text-align: center;
    font-weight: 500;
    margin-top: 0.6rem;
}

.step-process li.step-order > div {
    background-color: #535353;
    border-radius: 0.4rem;
    max-height : 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5rem;
}

.step-process li.step-order > h5 {
    color: #808080;
    text-transform: uppercase;
}

.step-process li.step-order.active > div {
    background-color: #C32E34;
}

.step-process li.step-order.active > h5 {
    color: #C32E34;
}

/* Booking Information */

.info-header h4 {
    display: inline;
}

.split-solid-border {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding-bottom : 0.7rem;
}

.titleText {
    font-size: 18px
}

.textValue {
    font-size: 17px;
    font-weight: 300;
}

.is-size-1 {
  font-size: 3rem !important;
}

.is-size-2 {
  font-size: 2.5rem !important;
}

.is-size-3 {
  font-size: 2rem !important;
}

.is-size-4 {
  font-size: 1.5rem !important;
}

.is-size-5 {
  font-size: 1.25rem !important;
}

.is-size-6 {
  font-size: 1rem !important;
}

.is-size-7 {
  font-size: 0.75rem !important;
}

.btn-atk-primary {
    font-size: 20px;
    background-color : #37BDE0;
    border-bottom: 3px solid #389ABF;
    color: #fff;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    border-radius: 2rem;
    cursor: pointer;
}

.btn-atk-primary:hover {
    background-color: #3dabc7;
}

.btn-atk-danger {
    font-size: 20px;
    background-color : #EC1D23;
    border-bottom: 3px solid #ad1616;
    color: #fff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
}

.btn-atk-danger:hover {
    background-color: #da1c21;
}

.btn-atk-success {
    font-size: 20px;
    background-color : #23d160;
    border-bottom: 3px solid #33bf22;
    color: #fff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
}

.btn-atk-success:hover {
    background-color: #26ab59;
}

.btn-atk-light {
    font-size: 20px;
    background-color : #ECECEC;
    border-bottom: 3px solid #C2C6C7;
    color: #B3B3B3;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    border-radius: 2rem;
    cursor: pointer;
}

.btn-atk-light:hover {
    background-color: #dedede;
}

.btn-atk-light:focus , .btn-atk-danger:focus , .btn-atk-success.focus ,
.btn-atk-light:active , .btn-atk-danger.active , .btn-atk-success.active {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}


/* Slide */

.owl-carousel .item {
    cursor: pointer;
}

.owl-carousel .item:hover {
    opacity: 0.8;
}

.owl-carousel .item.active {
    font-weight: 500;
    opacity: 0.8;
}
.owl-carousel .item img {
    margin: 0 auto;
    cursor: pointer;
}

.owl-carousel .item i {
    top: 0;
    right: -2%;
    position: absolute;
    display : none;
}

.owl-carousel .item.active i {
    color : #196dea;
    display : block;
}

.owl-carousel .item img {
    /* box-shadow: 0 0 2px #888888; */
    width: 75%;
    height: 80px;
}


.innerDiscount {
    margin-top : 0.3rem;
    padding : 1rem;
}

/* Payment Step */

.payment-text-title {
    color : #146bda;
}

.paymentWrapper {
    background-color : white; 
    border-radius: 5px;
    box-shadow: 0 0 5px #009cde;
    height: 140px;
    width : 100%;
    display : table-cell;
    vertical-align: middle;
    padding : 20px;
    cursor: pointer;
}

.paymentWrapper:hover {
    opacity: 0.8;
}
.paymentWrapper img {
    width : 100%;
    max-height : 100px;
}

.paymentWrapper i {
    position: absolute;
    top : -10px;
    right : 5px;
    color : #4285f4;
    display : none;
}

.paymentWrapper.active i {
    display : block;
}

@media (max-width: 1023px) {
    .step-wrapper {
        max-width : 100%;
    }
}
