<div class="topicWrapper">
  <span class="PPBanner">Privacy Policy
  </span>
</div>
<div class="policyWrapper">
  <div class="ticketinfo">
    <h2 class="topiccenter">Privacy Policy</h2>
    <p class="listtopic">Introduction</p>
    <p>Counter Service Company Limited (“Company”) and www.allticket.com (“Website”) understands any information that identifies
      the customer to whom such information pertains is of utmost importance. Company, therefore, has established the following
      privacy policy for its handling and protection of personal information.</p>

    <p class="listtopic">Personal Information Collection and Usage</p>

    <p>When you use, services provided on www.allticket.com you will be asked to provide personal information such as name,
      contact address, e-mail, telephone number, Bank account number or credit card details, etc. and including, but not
      limited to, users' behavior. Event Pop generally collect this information for the following purposes:</p>
    <ul>
      <li>To facilitate your use of the Services (as defined in the Terms of Use) and/or access to the website.</li>
      <li>To facilitate your use of the Services by communicating via phone call, email or text message on the usage of the Service
        of the Website or any activities from another third-parties’ website to acknowledge or answer the questions.</li>
      <li>To deliver the sales promotion to the target market from Personal Information Collection and Non-Personal Information
        Collection through the platform, from the time to use the platform and product categories or any of benefits from
        the Website.
      </li>
      <li>To deliver the Sales Offer to the target market from Personal Information Collection.</li>

    </ul>

    <p class="listtopic">Disclosure of Personal Information</p>
    <ul>
      <li>The Company will not disclose your personal identification information to any third parties without your prior consent.</li>
      <li>The Company may share only the personal information that is relevant to the job or the event for the Organizer or the
        Manager of the event.</li>
      <li>The Company may share our third-party service providers, including but not limited to those who provide the credit
        card processor, payment, or the e-mail service provider etc.</li>
      <li>The Company will not reveal your personal information to any third party unless required under law or by any government
        enforcement agency or to protect the rights of property and the safety of the Company employees, agents, and other
        web site users etc.</li>
      <li>In case of transfer of business mergers and acquisitions, asset sales or loans. The Company may be required to disclose
        some information to those involved in such transactions accordingly.</li>
    </ul>

    <p class="listtopic">Modification to Privacy and Disclaimer</p>

    <p>Company reserves the right to change this Privacy Policy and disclaimer at any time. The content presented on this page
      is considered the latest version. Should any modification to our Privacy Policy occur, we will post the updated version
      on the page so that you are always aware of how we safeguard your personal data.</p>

    <p class="listtopic">Security</p>
    <p>The Company has implemented the appropriate technical, physical security management and loss prevention using disproportionate
      access the data without permission to disclosure or adjustment change personal information.</p>

    <p>However, The Company reserves the liability protection of such security as there is not a single system or public network
      that can guarantee to be completely and thoroughly secured.</p>

  </div>
</div>
